Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix TypeScript errors in assessment submit route handler
  src/app/api/assessment/[id]/submit/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment submit route handler
  src/app/api/assessment/[id]/submit/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment response route handler
  src/app/api/assessment/response/[id]/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment response route handler
  src/app/api/assessment/response/[id]/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment response grade route handler
  src/app/api/assessment/response/[id]/grade/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment response grade route handler
  src/app/api/assessment/response/[id]/grade/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment templates route handler
  src/app/api/assessment/templates/[id]/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment templates route handler
  src/app/api/assessment/templates/[id]/route.ts
Owners: @backend-team

Add custom type declarations for Next.js route handlers
  src/types/next-route.d.ts
Owners: @DrSI-P

Add custom type declarations for Next.js route handlers
  src/types/next-route.d.ts
Owners: @DrSI-P

Fix TypeScript errors in ai-image-generator component
  src/components/ai/ai-image-generator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in ai-image-generator component
  src/components/ai/ai-image-generator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in ai-prompt component
  src/components/ai/ai-prompt.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in ai-prompt component
  src/components/ai/ai-prompt.tsx
Owners: @DrSI-P, @frontend-team

Auto-backup: Sat May 24 11:22:14 EDT 2025
  typescript_errors_after_automation.log
  typescript_errors_final.log
Owners: @DrSI-P

Auto-backup: Sat May 24 11:22:14 EDT 2025
  typescript_errors_after_automation.log
  typescript_errors_final.log
Owners: @DrSI-P

Fix TypeScript errors in restorative-justice reflection prompts component
  src/components/restorative-justice/reflection-prompts/age-appropriate-reflection-prompts.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in restorative-justice reflection prompts component
  src/components/restorative-justice/reflection-prompts/age-appropriate-reflection-prompts.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in blog-service.ts
  src/lib/blog/blog-service.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in blog-service.ts
  src/lib/blog/blog-service.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in heygen-api.ts
  src/lib/heygen/heygen-api.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in heygen-api.ts
  src/lib/heygen/heygen-api.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in cost-management.ts
  src/lib/heygen/cost-management.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in cost-management.ts
  src/lib/heygen/cost-management.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in stripe-service.ts
  src/lib/stripe/stripe-service.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in stripe-service.ts
  src/lib/stripe/stripe-service.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in avatar-navigation.tsx
  src/components/navigation/avatar-navigation.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in avatar-navigation.tsx
  src/components/navigation/avatar-navigation.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in voice-input.tsx
  src/components/accessibility/voice-input.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in voice-input.tsx
  src/components/accessibility/voice-input.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in adaptive-complexity-engine.tsx
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in adaptive-complexity-engine.tsx
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in Stripe webhook route handler
  src/app/api/webhooks/stripe/route.ts
Owners: @backend-team

Fix TypeScript errors in Stripe webhook route handler
  src/app/api/webhooks/stripe/route.ts
Owners: @backend-team

Fix TypeScript errors in subscriptions route handler
  src/app/api/subscriptions/route.ts
Owners: @backend-team

Fix TypeScript errors in subscriptions route handler
  src/app/api/subscriptions/route.ts
Owners: @backend-team

Fix TypeScript errors in credits route handler
  src/app/api/credits/route.ts
Owners: @backend-team

Fix TypeScript errors in credits route handler
  src/app/api/credits/route.ts
Owners: @backend-team

Fix TypeScript errors in HEYGEN cost-managed-videos route handler
  src/app/api/heygen/cost-managed-videos/route.ts
Owners: @backend-team

Fix TypeScript errors in HEYGEN cost-managed-videos route handler
  src/app/api/heygen/cost-managed-videos/route.ts
Owners: @backend-team
