Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Manual fix for all remaining complex destructured parameter signatures
  src/components/enhanced-theme-provider.tsx
  src/components/immersive/3d-navigation.tsx
  src/components/immersive/immersive-layout.tsx
  src/components/page-header.tsx
  src/components/ui/accordion.tsx
Owners: @DrSI-P, @frontend-team

Fix destructured parameter syntax and duplicate React imports in remaining UI components
  src/components/immersive/immersive-controls.tsx
  src/components/immersive/immersive-viewer.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/alert.js
  src/components/ui/avatar.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax in alert.js and remove duplicate React imports in UI components
  src/components/ui/alert.js
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
  src/components/ui/card.tsx
Owners: @DrSI-P, @frontend-team

Fix UI component syntax errors and function signatures to resolve build failures
  scripts/fix-all-ui-components-direct.js
  scripts/fix-complex-signatures.js
  src/components/ui/accordion.tsx
  src/components/ui/container.tsx
  src/components/ui/design-system.tsx
  src/components/ui/dropdown.tsx
  src/components/ui/form.tsx
  src/components/ui/loading.tsx
  src/components/ui/modal.tsx
  src/components/ui/pagination.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/table.tsx
  src/components/ui/toast.tsx
  src/components/ui/toggle.tsx
Owners: @DevOps-team, @DrSI-P, @frontend-team

Fix Vercel build configuration: Move Next.js to dependencies and add vercel.json
  package.json
  vercel.json
Owners: @DevOps-team

Fix UI component exports in index.ts to resolve module not found errors
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix Next.js configuration to properly recognize path aliases for UI components
  next.config.js
  package-lock.json
Owners: @DrSI-P, @DevOps-team

Fix path aliases and create missing modules to resolve build errors
  next.config.js
  src/lib/adaptive-complexity/adaptive-complexity-service.ts
  src/lib/adaptive-complexity/types.ts
  src/lib/utils/index.ts
  src/providers/voice-input-provider.tsx
  src/services/ai-avatar-video-service.ts
Owners: @DrSI-P, @backend-team

Fix syntax error in UI component exports and add missing env.mjs file
  src/components/ui/index.ts
  src/env.mjs
Owners: @DrSI-P, @frontend-team

Fix client component directives and install missing dependencies
  package-lock.json
  package.json
  src/components/ui/MultilingualSupport.tsx
  src/components/ui/VoiceInput.tsx
  src/env.mjs
Owners: @DevOps-team, @DrSI-P, @frontend-team

Fix env imports, TypeScript syntax, and framer-motion client component exports
  src/app/about/team/page.tsx
  src/lib/ai/azure-cognitive-service.ts
  src/lib/ai/huggingface-service.ts
  src/lib/ai/openai-service.ts
Owners: @DrSI-P, @lead-developer, @ai-team

Fix env module imports, TypeScript function signatures, and add missing dependencies
  env.js
  next.config.js
  package-lock.json
  package.json
  src/lib/ai/azure-cognitive-service.ts
  src/lib/ai/huggingface-service.ts
  src/lib/ai/openai-service.ts
  src/lib/heygen/cost-management.ts
Owners: @DrSI-P, @DevOps-team, @ai-team, @backend-team

Fix component exports and add index files for proper module resolution
  src/components/about/index.ts
  src/components/ui/icons.tsx
Owners: @DrSI-P, @frontend-team

Fix Next.js config structure for v15 compatibility
  next.config.js
Owners: @DrSI-P

Fix UI component exports and import styles to resolve build warnings
  src/components/ai-avatar/avatar-creator.tsx
  src/components/ai-avatar/video-generator.tsx
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
  src/components/heygen/heygen-video-generation.tsx
  src/components/heygen/heygen-video-library.tsx
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors by moving UI components to separate .tsx files
  src/components/ui/Modal.tsx
  src/components/ui/Pagination.tsx
  src/components/ui/SimpleTabs.tsx
  src/components/ui/Spinner.tsx
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Add missing UI component files (command, menubar, navigation-menu, sheet, link)
  src/components/ui/command.tsx
  src/components/ui/link.tsx
  src/components/ui/menubar.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/sheet.tsx
Owners: @DrSI-P, @frontend-team

Install missing UI component dependencies
  package-lock.json
  package.json
Owners: @DevOps-team

Fix import/export mismatches and add missing components
  src/app/blog/page.tsx
  src/lib/adaptive-complexity/types.ts
Owners: @DrSI-P, @lead-developer, @backend-team

Fix all remaining export issues in UI, layout, and utility components
  src/app/educator/dashboard/page.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Navbar.tsx
  src/components/ui/alert.tsx
  src/components/ui/table.tsx
  src/components/ui/toast.tsx
  src/lib/db.ts
Owners: @DrSI-P, @lead-developer, @frontend-team, @database-team

Fix Next.js config and optimize build performance
  .env.production
  .vercelignore
  next.config.js
Owners: @DrSI-P

Comprehensively fix all export and import issues across the codebase
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
  src/components/blog/educational-ai-blog.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/heygen/heygen-video-generation.tsx
  src/components/heygen/heygen-video-library.tsx
  src/components/special-needs/emotional-regulation/emotional-regulation-engine.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
  src/components/ui/index.ts
  src/services/ai-avatar-video-service.ts
Owners: @DrSI-P, @frontend-team

Fix syntax errors in UI index and AIAvatarVideoService
  src/components/ui/index.ts
  src/services/ai-avatar-video-service.ts
Owners: @DrSI-P, @frontend-team

Add stub implementations for EnhancedAchievementCard and EnhancedCelebrationOverlay
  src/components/ui/EnhancedAchievementCard.tsx
  src/components/ui/EnhancedCelebrationOverlay.tsx
Owners: @DrSI-P, @frontend-team

Fix missing AlertTitle export in alert.tsx and db export in db module
  src/components/ui/alert.tsx
  src/lib/db/index.ts
Owners: @DrSI-P, @frontend-team, @backend-team

Fix AlertTitle export in alert.tsx and db export to support both relative and absolute imports
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team

Add dedicated db.ts file to support both relative and absolute imports
  src/lib/db.ts
Owners: @database-team

Fix AlertTitle and DB export issues for clean build
  src/components/ui/AlertTitle.tsx
  src/components/ui/index.ts
  src/lib/db.ts
  src/lib/db/index.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @database-team, @backend-team, @documentation-team

Fix AlertTitle and DB export issues for clean build - comprehensive fix
  src/components/ui/alert.tsx
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @frontend-team, @database-team, @backend-team

Fix AlertTitle and DB export issues with direct exports - comprehensive fix
  src/components/ui/alert.tsx
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @frontend-team, @database-team, @backend-team

Fix AlertTitle and DB export issues - eliminate ambiguity with single source of truth
  src/components/ui/AlertTitle.tsx
  src/components/ui/alert.tsx
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @frontend-team, @database-team, @backend-team

Fix AlertTitle and DB export issues - use explicit named exports
  src/components/ui/AlertTitle.tsx
  src/components/ui/alert.tsx
  src/lib/db.ts
Owners: @DrSI-P, @frontend-team, @database-team

Fix AlertTitle and DB export issues - remove duplicate alert.js and add dedicated db.ts for auth imports
  src/components/about/TeamMember.tsx
  src/components/ai-avatar/ai-avatar-video-library.tsx
  src/components/ai-avatar/ai-avatar-video-player.tsx
  src/components/heygen/heygen-avatar-creation.tsx
  src/components/ui/alert.js
  src/lib/auth/db.ts
Owners: @DrSI-P, @frontend-team, @backend-team

Fix TeamMember and DB export issues - add named exports for both
  src/components/about/TeamMember.tsx
  src/lib/db.ts
Owners: @DrSI-P, @frontend-team, @database-team

Fix DB export issues - add both named and default exports for db and prisma
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @database-team, @DrSI-P, @backend-team

Implement comprehensive visual design system with enhanced UI components
  docs/design-system.md
  src/components/ui/alert.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/feature-section.tsx
  src/components/ui/footer.tsx
  src/components/ui/hero.tsx
  src/components/ui/input.tsx
  src/components/ui/navigation.tsx
  src/components/ui/theme-provider.tsx
  src/lib/utils.ts
  src/styles/globals.css
  src/styles/theme.ts
  src/styles/tokens.ts
Owners: @documentation-team, @DrSI-P, @frontend-team, @backend-team

Fix build hang issues: break circular dependency in icons.tsx, optimize next.config.js, and fix db exports
  next.config.js
  src/components/ui/icons.tsx
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @frontend-team, @database-team, @backend-team

Fix next.config.js: remove unsupported turbotrace and NODE_OPTIONS keys
  next.config.js
Owners: @DrSI-P

Implement comprehensive visual enhancements and fix build issues
  docs/enhanced-design-system.md
  next.config.js
  scripts/fix-exports/standardize-exports.js
  scripts/fix-imports/fix-ai-avatar-service.js
  scripts/fix-imports/fix-all-exports-comprehensively.js
  scripts/fix-imports/fix-avatar-creator-import.js
  scripts/fix-imports/fix-import-export-mismatches.js
  scripts/fix-imports/fix-remaining-exports.js
  scripts/fix-imports/update-import-styles.js
  src/components/ui/avatar.tsx
  src/components/ui/theme-provider.tsx
  src/env.ts
  src/lib/recharts-compatibility.ts
  src/lib/victory-vendor-compatibility.ts
  src/lib/victory-vendor-d3-scale.js
  src/lib/victory-vendor-d3-shape.js
  src/styles/enhanced-globals.css
  src/styles/enhanced-theme.ts
  src/styles/enhanced-tokens.ts
  todo.md
Owners: @documentation-team, @DrSI-P, @DevOps-team, @frontend-team, @backend-team

Add avatar video integration guide and update todo.md
  docs/avatar-video-integration.md
  todo.md
Owners: @documentation-team
