Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Auto-backup: Fri May 23 22:59:34 EDT 2025
  public/sw.js
Owners: @DrSI-P

Auto-backup: Fri May 23 22:59:34 EDT 2025
  public/sw.js
Owners: @DrSI-P

Fix: Add return type, remove unused imports, and escape special characters in AboutPage
  src/app/about/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add return type, remove unused imports, and escape special characters in AboutPage
  src/app/about/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add return type, remove unused imports, and escape special characters in AboutPage
  src/app/about/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add ESLint disable directive for unused variable in i18n test
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Add ESLint disable directive for unused variable in i18n test
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Add ESLint disable directive for unused variable in i18n test
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Add ESLint disable directive for unused PrismaClient import in monitoring test
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Add ESLint disable directive for unused PrismaClient import in monitoring test
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Add ESLint disable directive for unused PrismaClient import in monitoring test
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Remove unused imports and add type annotations in custom-report-builder component
  src/components/analytics/custom-report-builder.tsx
Owners: @DrSI-P, @frontend-team

Fix: Remove unused imports and add type annotations in custom-report-builder component
  src/components/analytics/custom-report-builder.tsx
Owners: @DrSI-P, @frontend-team

Fix: Remove unused imports and add type annotations in custom-report-builder component
  src/components/analytics/custom-report-builder.tsx
Owners: @DrSI-P, @frontend-team

Fix: Add TypeScript check directive to fileMock.js
  src/tests/__mocks__/fileMock.js
Owners: @DrSI-P

Fix: Add TypeScript check directive to fileMock.js
  src/tests/__mocks__/fileMock.js
Owners: @DrSI-P

Fix: Add TypeScript check directive to fileMock.js
  src/tests/__mocks__/fileMock.js
Owners: @DrSI-P

Fix: Add 'use client' directive to intervention-analytics page
  src/app/special-needs/intervention-analytics/page.tsx
Owners: @special-needs-team

Fix: Add 'use client' directive to intervention-analytics page
  src/app/special-needs/intervention-analytics/page.tsx
Owners: @special-needs-team

Fix: Add 'use client' directive to intervention-analytics page
  src/app/special-needs/intervention-analytics/page.tsx
Owners: @special-needs-team

Auto-backup: Fri May 23 23:14:35 EDT 2025
  public/sw.js
Owners: @DrSI-P

Auto-backup: Fri May 23 23:14:35 EDT 2025
  public/sw.js
Owners: @DrSI-P

Auto-backup: Fri May 23 23:14:35 EDT 2025
  public/sw.js
Owners: @DrSI-P

Fix: Convert Jest to Vitest in VoiceInput test file
  src/tests/components/ui/VoiceInput.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in VoiceInput test file
  src/tests/components/ui/VoiceInput.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in VoiceInput test file
  src/tests/components/ui/VoiceInput.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in ProgressTracking test file
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in ProgressTracking test file
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in ProgressTracking test file
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in MultilingualSupport test file
  src/tests/components/ui/MultilingualSupport.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in MultilingualSupport test file
  src/tests/components/ui/MultilingualSupport.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in MultilingualSupport test file
  src/tests/components/ui/MultilingualSupport.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in AccessibilityControls test file
  src/tests/components/ui/AccessibilityControls.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in AccessibilityControls test file
  src/tests/components/ui/AccessibilityControls.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in AccessibilityControls test file
  src/tests/components/ui/AccessibilityControls.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in BiofeedbackLearning test file
  src/tests/components/ui/BiofeedbackLearning.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in BiofeedbackLearning test file
  src/tests/components/ui/BiofeedbackLearning.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in BiofeedbackLearning test file
  src/tests/components/ui/BiofeedbackLearning.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in InteractiveGuidance test file
  src/tests/components/ui/InteractiveGuidance.test.tsx
Owners: @testing-team

Fix: Convert Jest to Vitest in InteractiveGuidance test file
  src/tests/components/ui/InteractiveGuidance.test.tsx
Owners: @testing-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
