Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Auto-backup: Sat May 24 00:00:17 EDT 2025
  public/sw.js
  src/app/api/curriculum/standards/[id]/route.ts
  src/app/api/curriculum/standards/route.ts
  src/app/curriculum/collaboration/page.tsx
  src/app/innovations/student-dashboard/page.tsx
  src/app/progress-pacing/page.tsx
  src/components/analytics/dashboard-widget.tsx
  src/components/analytics/educator-analytics.tsx
  src/components/special-needs/iep-504-plan/iep-504-plan-engine.tsx
  src/tests/components/layouts/ResponsiveLayout.test.tsx
  src/tests/components/ui/InteractiveGuidance.test.tsx
  src/tests/components/ui/LearningCard.test.tsx
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @DrSI-P, @backend-team, @lead-developer, @frontend-team, @testing-team

Auto-backup: Sat May 24 00:00:17 EDT 2025
  public/sw.js
  src/app/api/curriculum/standards/[id]/route.ts
  src/app/api/curriculum/standards/route.ts
  src/app/curriculum/collaboration/page.tsx
  src/app/innovations/student-dashboard/page.tsx
  src/app/progress-pacing/page.tsx
  src/components/analytics/dashboard-widget.tsx
  src/components/analytics/educator-analytics.tsx
  src/components/special-needs/iep-504-plan/iep-504-plan-engine.tsx
  src/tests/components/layouts/ResponsiveLayout.test.tsx
  src/tests/components/ui/InteractiveGuidance.test.tsx
  src/tests/components/ui/LearningCard.test.tsx
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @DrSI-P, @backend-team, @lead-developer, @frontend-team, @testing-team

Auto-backup: Sat May 24 00:00:17 EDT 2025
  public/sw.js
  src/app/api/curriculum/standards/[id]/route.ts
  src/app/api/curriculum/standards/route.ts
  src/app/curriculum/collaboration/page.tsx
  src/app/innovations/student-dashboard/page.tsx
  src/app/progress-pacing/page.tsx
  src/components/analytics/dashboard-widget.tsx
  src/components/analytics/educator-analytics.tsx
  src/components/special-needs/iep-504-plan/iep-504-plan-engine.tsx
  src/tests/components/layouts/ResponsiveLayout.test.tsx
  src/tests/components/ui/InteractiveGuidance.test.tsx
  src/tests/components/ui/LearningCard.test.tsx
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @DrSI-P, @backend-team, @lead-developer, @frontend-team, @testing-team

Auto-backup: Sat May 24 00:15:17 EDT 2025
  build-status-report.md
  package-lock.json
  package.json
  public/sw.js
  src/tests/components/ai-avatar/avatar-service.test.ts
  vitest.config.ts
Owners: @documentation-team, @DevOps-team, @DrSI-P, @testing-team

Auto-backup: Sat May 24 00:15:17 EDT 2025
  build-status-report.md
  package-lock.json
  package.json
  public/sw.js
  src/tests/components/ai-avatar/avatar-service.test.ts
  vitest.config.ts
Owners: @documentation-team, @DevOps-team, @DrSI-P, @testing-team

Auto-backup: Sat May 24 00:15:17 EDT 2025
  build-status-report.md
  package-lock.json
  package.json
  public/sw.js
  src/tests/components/ai-avatar/avatar-service.test.ts
  vitest.config.ts
Owners: @documentation-team, @DevOps-team, @DrSI-P, @testing-team

Auto-backup: Sat May 24 01:34:48 EDT 2025
  feature-inventory.md
Owners: @documentation-team

Auto-backup: Sat May 24 01:34:48 EDT 2025
  feature-inventory.md
Owners: @documentation-team

Implement db interface layer and update auth module imports
  src/lib/auth/users.ts
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team, @database-team

Implement db interface layer and update auth module imports
  src/lib/auth/users.ts
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team, @database-team

Fix db interface exports for backward compatibility
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @database-team, @DrSI-P, @backend-team

Fix db interface exports for backward compatibility
  src/lib/db.ts
  src/lib/db/index.ts
Owners: @database-team, @DrSI-P, @backend-team

Auto-backup: Sat May 24 01:49:48 EDT 2025
  public/sw.js
  src/app/api/special-needs/social-skills/activities/route.ts
  src/app/api/special-needs/social-skills/goals/route.ts
  src/app/api/special-needs/social-skills/interactions/route.ts
Owners: @DrSI-P, @special-needs-team

Auto-backup: Sat May 24 01:49:48 EDT 2025
  public/sw.js
  src/app/api/special-needs/social-skills/activities/route.ts
  src/app/api/special-needs/social-skills/goals/route.ts
  src/app/api/special-needs/social-skills/interactions/route.ts
Owners: @DrSI-P, @special-needs-team

Update auth-options to use new db interface
  src/lib/auth/auth-options.ts
Owners: @DrSI-P, @backend-team

Update auth-options to use new db interface
  src/lib/auth/auth-options.ts
Owners: @DrSI-P, @backend-team

Update plugins registry to use new db interface
  src/lib/plugins/registry.ts
Owners: @DrSI-P, @backend-team

Update plugins registry to use new db interface
  src/lib/plugins/registry.ts
Owners: @DrSI-P, @backend-team

Fix db.ts exports to directly import prisma and db separately
  src/lib/db.ts
Owners: @database-team

Fix db.ts exports to directly import prisma and db separately
  src/lib/db.ts
Owners: @database-team

Auto-backup: Sat May 24 02:04:49 EDT 2025
  public/sw.js
Owners: @DrSI-P

Auto-backup: Sat May 24 02:04:49 EDT 2025
  public/sw.js
Owners: @DrSI-P

Update API routes and db interface layer to use unified database access pattern
  src/app/api/admin/users/[id]/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/ai/accessibility/high-contrast/route.ts
  src/app/api/ai/accessibility/route.ts
  src/app/api/ai/adaptive-complexity/route.ts
  todo.md
Owners: @backend-team, @ai-team, @documentation-team

Update API routes and db interface layer to use unified database access pattern
  src/app/api/admin/users/[id]/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/ai/accessibility/high-contrast/route.ts
  src/app/api/ai/accessibility/route.ts
  src/app/api/ai/adaptive-complexity/route.ts
  todo.md
Owners: @backend-team, @ai-team, @documentation-team

Auto-backup: Sat May 24 02:20:20 EDT 2025
  todo.md
Owners: @documentation-team

Auto-backup: Sat May 24 02:20:20 EDT 2025
  todo.md
Owners: @documentation-team

Auto-backup: Sat May 24 02:35:20 EDT 2025
  public/sw.js
Owners: @DrSI-P

Auto-backup: Sat May 24 02:35:20 EDT 2025
  public/sw.js
Owners: @DrSI-P

Fix LearningCard component and update ProgressTracking component
  src/components/ui/LearningCard.tsx
  src/components/ui/ProgressTracking.tsx
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @DrSI-P, @frontend-team, @testing-team

Fix LearningCard component and update ProgressTracking component
  src/components/ui/LearningCard.tsx
  src/components/ui/ProgressTracking.tsx
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @DrSI-P, @frontend-team, @testing-team

Auto-backup: Sat May 24 02:50:21 EDT 2025
  src/components/ui/ProgressTracking.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Auto-backup: Sat May 24 02:50:21 EDT 2025
  src/components/ui/ProgressTracking.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Fix ProgressTracking component and tests - align DOM structure with test queries
  src/components/ui/ProgressTracking.tsx
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @DrSI-P, @frontend-team, @testing-team

Fix ProgressTracking component and tests - align DOM structure with test queries
  src/components/ui/ProgressTracking.tsx
  src/tests/components/ui/ProgressTracking.test.tsx
Owners: @DrSI-P, @frontend-team, @testing-team

Fix HeygenVideoLibrary component - ensure videos and savedVideos are always arrays
  src/components/heygen/heygen-video-library.tsx
  src/tests/components/ai-avatar/avatar-service.test.ts
  src/tests/components/heygen/HeygenVideoLibrary.test.tsx
Owners: @DrSI-P, @frontend-team, @testing-team

Fix HeygenVideoLibrary component - ensure videos and savedVideos are always arrays
  src/components/heygen/heygen-video-library.tsx
  src/tests/components/ai-avatar/avatar-service.test.ts
  src/tests/components/heygen/HeygenVideoLibrary.test.tsx
Owners: @DrSI-P, @frontend-team, @testing-team

Auto-backup: Sat May 24 03:05:21 EDT 2025
  src/components/heygen/heygen-video-library.tsx
  src/lib/heygen/heygen-service.ts
  src/tests/components/heygen/HeygenVideoLibrary.test.tsx
Owners: @DrSI-P, @frontend-team, @backend-team, @testing-team

Auto-backup: Sat May 24 03:05:21 EDT 2025
  src/components/heygen/heygen-video-library.tsx
  src/lib/heygen/heygen-service.ts
  src/tests/components/heygen/HeygenVideoLibrary.test.tsx
Owners: @DrSI-P, @frontend-team, @backend-team, @testing-team

Fix HeygenVideoLibrary tests - isolate and refactor edge cases for reliable testing
  src/components/heygen/heygen-video-library.tsx
  src/tests/components/heygen/HeygenVideoLibrary.test.tsx
Owners: @DrSI-P, @frontend-team, @testing-team

Fix HeygenVideoLibrary tests - isolate and refactor edge cases for reliable testing
  src/components/heygen/heygen-video-library.tsx
  src/tests/components/heygen/HeygenVideoLibrary.test.tsx
Owners: @DrSI-P, @frontend-team, @testing-team
