Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Test with minimal static analytics page to isolate client-side exception
  pages/analytics.js
Owners: @DrSI-P

Add minimal test page to isolate routing and runtime errors
  pages/testpage.js
Owners: @DrSI-P

Add analytics-dashboard.js as workaround for Vercel deployment conflict
  pages/analytics-dashboard.js
Owners: @DrSI-P

Add .vercelignore to exclude src/app directory from Vercel builds
  .vercelignore
  next.config.js
Owners: @DrSI-P

Fix import paths in analytics-dashboard.js
  pages/analytics-dashboard.js
Owners: @DrSI-P

Add todo.md with completed branding and styling verification
  todo.md
Owners: @documentation-team

Add implementation gap analysis document
  implementation_gap_analysis.md
Owners: @documentation-team

Add final resolution report
  resolution_report.md
Owners: @documentation-team

Fix CSS loading issues and add missing logo file
  public/images/logo-full.svg
  src/styles/ensure-css-loading.css
Owners: @DrSI-P

Fix CSS styling issues by creating global-styles.css and disabling CSS optimization
  next.config.js
  src/pages/_app.tsx
  src/styles/global-styles.css
Owners: @DrSI-P

Implement robust CSS fixes with inline styles and custom document
  src/components/StylesInjector.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
Owners: @DrSI-P, @frontend-team

Fix CSS build errors by removing invalid Tailwind @apply directives
  src/styles/brand.css
  src/styles/enhanced-brand.css
Owners: @DrSI-P

Add direct CSS inclusion with global.css and inline styles in _document.tsx
  public/css-test.html
  public/styles/global.css
  src/pages/_document.tsx
Owners: @DrSI-P

Add CSS troubleshooting guide for RooCode
  css_troubleshooting_guide.md
Owners: @documentation-team

Redesign homepage to prioritize educational pathways and add global CSS styles
  pages/index.js
  public/styles/global.css
Owners: @DrSI-P

Implement AI Avatar Video System with strategic platform introduction and navigation
  pages/avatar-library.js
  pages/index.js
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/AvatarVideoLibrary.tsx
  src/components/Avatar/AvatarVideoPlayer.tsx
  src/components/Avatar/index.tsx
Owners: @DrSI-P, @frontend-team

Add individual avatar video page with dynamic routing and complete video library
  pages/avatar-video/[videoId].js
Owners: @DrSI-P

Add detailed CSS troubleshooting guide for RooCode
  css_troubleshooting_guide.md
Owners: @documentation-team

Redesign homepage to fully integrate avatar navigation, voice input, and educational pathways
  pages/index.js
Owners: @DrSI-P

Fix CSS styling issues with multi-layered approach
  pages/_document.js
  pages/css-test.js
  public/styles/global.css
  resolution_report.md
  src/components/Button.jsx
  src/components/Navigation.jsx
  src/components/Typography.jsx
  src/styles/Button.module.css
  src/styles/Navigation.module.css
  src/styles/Typography.module.css
  tailwind.config.js
Owners: @DrSI-P, @documentation-team, @frontend-team

Add VoiceInput components and implementation documentation
  ai_avatar_implementation_plan.md
  css-asset-fix-plan.md
  implementation_priorities.md
  src/components/VoiceInput/VoiceInputButton.tsx
  src/components/VoiceInput/VoiceInputField.tsx
  src/components/VoiceInput/VoiceInputProvider.tsx
  src/components/VoiceInput/index.tsx
  vercel-build-fix.md
  vercel-workaround.md
  verification_report.md
Owners: @documentation-team, @DrSI-P, @frontend-team

Fix Tailwind safelist and border-3 class error
  src/styles/enhanced-brand.css
  tailwind.config.js
Owners: @DrSI-P

Update resolution report with server-side rendering findings
  resolution_report.md
Owners: @documentation-team

Fix VoiceInput exports and remove conflicting app router files
  404_error_audit.md
  src/app_backup/analytics/page.tsx
  src/components/VoiceInput/index.tsx
Owners: @documentation-team, @DrSI-P, @frontend-team

Fix VoiceInput component exports and theme provider hooks for build compatibility
  src/components/VoiceInput/index.tsx
  src/components/root-layout-wrapper.tsx
  src/components/ui/AccessibilityControls.tsx
  src/components/ui/theme-provider.tsx
  src/components/voice-input/activity-specific/adaptive-complexity-voice-input.tsx
  src/components/voice-input/global-voice-input.tsx
  src/components/voice-input/universal-voice-input.tsx
  src/components/voice-input/voice-input-integration.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Fix VoiceInput component issues: Add 'use client' directives, standardize exports, create dynamic imports, and implement standalone components to resolve context errors and SSR conflicts
  pages/index.js
  src/app/voice-input-test/page.tsx
  src/components/VoiceInput/VoiceInputButton.tsx
  src/components/VoiceInput/VoiceInputField.tsx
  src/components/VoiceInput/VoiceInputProvider.tsx
  src/components/VoiceInput/index.tsx
  src/components/root-layout-wrapper.tsx
  src/components/voice-input/activity-specific/dynamic-adaptive-complexity-voice-input.tsx
  src/components/voice-input/activity-specific/dynamic-assessment-voice-input.tsx
  src/components/voice-input/dynamic-global-voice-input.tsx
  src/components/voice-input/dynamic-standalone-voice-input-button.jsx
  src/components/voice-input/dynamic-universal-voice-input.tsx
  src/components/voice-input/standalone-voice-input-button.jsx
  src/pages/_app.tsx
  voice_input_resolution_report.md
Owners: @DrSI-P, @lead-developer, @frontend-team, @documentation-team

Integrate accessibility enhancements with VoiceInput fixes
  src/components/accessibility/accessibility-provider.tsx
  src/components/accessibility/accessibility-wrapper.tsx
  src/components/accessibility/enhanced-accessibility-panel.tsx
  src/pages/_app.tsx
  src/styles/accessibility.css
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Implement Learning Style Adaptation features with provider, detector, and content adapter
  src/components/learning-style/content-adapter.tsx
  src/components/learning-style/learning-style-demo.tsx
  src/components/learning-style/learning-style-detector.tsx
  src/components/learning-style/learning-style-preferences.tsx
  src/components/learning-style/learning-style-provider.tsx
  src/styles/learning-style.css
Owners: @DrSI-P, @frontend-team

Add comprehensive age-appropriate UI components and UK curriculum mapping features
  src/app/layout.tsx
  src/components/age-appropriate/age-appropriate-content.tsx
  src/components/age-appropriate/age-appropriate-example.tsx
  src/components/age-appropriate/age-appropriate-provider.tsx
  src/components/age-appropriate/age-appropriate-test.tsx
  src/components/age-appropriate/age-appropriate-wrapper.tsx
  src/components/age-appropriate/age-group-selector.tsx
  src/components/age-appropriate/age-specific-ui.tsx
  src/components/age-appropriate/complexity-adjuster.tsx
  src/components/age-appropriate/index.tsx
  src/components/age-appropriate/uk-curriculum-mapper.tsx
  src/components/age-appropriate/uk-curriculum-resource.tsx
  src/pages/age-appropriate-demo.tsx
  src/pages/age-appropriate-test.tsx
  src/styles/age-appropriate.css
  todo.md
Owners: @DrSI-P, @lead-developer, @frontend-team, @documentation-team

Add comprehensive documentation, audit findings, and implementation roadmap
  codebase_audit.md
  enhancement_recommendations.md
  implementation_roadmap.md
  visual_design_audit.md
  website_analysis.md
  website_codebase_cross_reference.md
  website_platform_comparison.md
Owners: @documentation-team

Add AI avatar video requirements and next-generation AI innovations
  ai_avatar_video_requirements.md
  next_generation_ai_innovations.md
Owners: @documentation-team

Add detailed AI avatar video scripts including founder introduction
  ai_avatar_video_scripts.md
Owners: @documentation-team

Add comprehensive design system foundation and implementation
  design-system/design-system-foundation.md
  src/styles/design-system/buttons.css
  src/styles/design-system/cards.css
  src/styles/design-system/colors.css
  src/styles/design-system/forms.css
  src/styles/design-system/index.css
  src/styles/design-system/navigation.css
  src/styles/design-system/typography.css
  todo.md
Owners: @documentation-team, @DrSI-P

Update About page with factual information and design system integration
  src/app/about/page.tsx
  todo.md
Owners: @DrSI-P, @lead-developer, @documentation-team

Update Pricing page with UK content guidelines and design system integration
  src/app/pricing/page.tsx
  todo.md
Owners: @DrSI-P, @lead-developer, @documentation-team

Update Contact page with UK content guidelines and design system integration
  src/app/contact/page.tsx
  todo.md
Owners: @DrSI-P, @lead-developer, @documentation-team

Implement student user portal with dashboard, learning path, and resources
  src/app/student/dashboard/page.tsx
  src/app/student/learning-path/page.tsx
  src/app/student/resources/page.tsx
  todo.md
Owners: @DrSI-P, @lead-developer, @documentation-team

Implement educator portal with administrative tools
  src/app/educator/administrative-automation/page.tsx
  src/app/educator/dashboard/page.tsx
  src/app/educator/data-visualisation/page.tsx
  src/app/educator/parent-communication/page.tsx
Owners: @DrSI-P, @lead-developer

Implement voice input accessibility feature
  src/app/speech-recognition/page.tsx
Owners: @DrSI-P, @lead-developer

Implement Restorative Justice conflict resolution tools
  src/app/restorative-justice/conflict-resolution/page.tsx
Owners: @DrSI-P, @lead-developer

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
