Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Auto-backup: Sat May 24 03:39:14 EDT 2025
  public/sw.js
Owners: @DrSI-P

Auto-backup: Sat May 24 03:39:14 EDT 2025
  public/sw.js
Owners: @DrSI-P

Auto-backup: Sat May 24 07:17:15 EDT 2025
  .env.example
  .github/workflows/ci-cd.yml
  cache-handler.js
  docs/MODULE_RESOLUTION.md
  next.config.js
  scripts/standardize-imports.js
  src/app/api/heygen/videos/[id]/route.ts
  src/app/api/heygen/videos/route.ts
  src/app/api/webhooks/heygen/route.ts
  src/components/accessibility/accessibility-settings.tsx
  src/components/accessibility/voice-input.tsx
  src/components/heygen/heygen-video-creator.tsx
  src/lib/compliance/compliance-validator.ts
  src/lib/heygen/heygen-api.ts
  src/lib/heygen/heygen-service.ts
  tsconfig.json
Owners: @DrSI-P, @DevOps-team, @documentation-team, @backend-team, @frontend-team

Auto-backup: Sat May 24 07:17:15 EDT 2025
  .env.example
  .github/workflows/ci-cd.yml
  cache-handler.js
  docs/MODULE_RESOLUTION.md
  next.config.js
  scripts/standardize-imports.js
  src/app/api/heygen/videos/[id]/route.ts
  src/app/api/heygen/videos/route.ts
  src/app/api/webhooks/heygen/route.ts
  src/components/accessibility/accessibility-settings.tsx
  src/components/accessibility/voice-input.tsx
  src/components/heygen/heygen-video-creator.tsx
  src/lib/compliance/compliance-validator.ts
  src/lib/heygen/heygen-api.ts
  src/lib/heygen/heygen-service.ts
  tsconfig.json
Owners: @DrSI-P, @DevOps-team, @documentation-team, @backend-team, @frontend-team

Auto-backup: Sat May 24 07:32:15 EDT 2025
  enhancement-summary.md
  src/components/compliance/compliance-status.tsx
  swot-analysis.md
Owners: @documentation-team, @DrSI-P, @frontend-team

Auto-backup: Sat May 24 07:32:15 EDT 2025
  enhancement-summary.md
  src/components/compliance/compliance-status.tsx
  swot-analysis.md
Owners: @documentation-team, @DrSI-P, @frontend-team

Auto-backup: Sat May 24 08:06:27 EDT 2025
  strategic-implementation-plan.md
Owners: @documentation-team

Auto-backup: Sat May 24 08:06:27 EDT 2025
  strategic-implementation-plan.md
Owners: @documentation-team

Auto-backup: Sat May 24 08:21:28 EDT 2025
  pricing-research.md
  src/app/pricing/page.tsx
  src/lib/heygen/cost-management.ts
Owners: @documentation-team, @DrSI-P, @lead-developer, @backend-team

Auto-backup: Sat May 24 08:21:28 EDT 2025
  pricing-research.md
  src/app/pricing/page.tsx
  src/lib/heygen/cost-management.ts
Owners: @documentation-team, @DrSI-P, @lead-developer, @backend-team

Auto-backup: Sat May 24 08:36:28 EDT 2025
  src/lib/blog/blog-service.ts
  src/lib/heygen/avatar-monetization-model.md
  src/lib/heygen/avatar-navigation-framework.md
  src/lib/heygen/avatar-video-scripts.md
Owners: @DrSI-P, @backend-team, @documentation-team

Auto-backup: Sat May 24 08:36:28 EDT 2025
  src/lib/blog/blog-service.ts
  src/lib/heygen/avatar-monetization-model.md
  src/lib/heygen/avatar-navigation-framework.md
  src/lib/heygen/avatar-video-scripts.md
Owners: @DrSI-P, @backend-team, @documentation-team

Add secure credentials template with placeholders (no actual secrets)
  github-credentials-template.md
Owners: @documentation-team

Add secure credentials template with placeholders (no actual secrets)
  github-credentials-template.md
Owners: @documentation-team

Add implementation progress tracking file
  implementation-progress.md
Owners: @documentation-team

Add implementation progress tracking file
  implementation-progress.md
Owners: @documentation-team

Implement strategic plan features: environment validation, Stripe integration, HEYGEN cost management, blog automation, avatar navigation, and voice input accessibility
  implementation-progress.md
  src/app/api/blog/auto-generate/route.ts
  src/app/api/credits/route.ts
  src/app/api/heygen/cost-managed-videos/route.ts
  src/app/api/subscriptions/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/components/accessibility/voice-input.tsx
  src/components/navigation/avatar-navigation.tsx
  src/lib/env-validator.ts
  src/lib/stripe/stripe-service.ts
  todo.md
Owners: @documentation-team, @backend-team, @DrSI-P, @frontend-team

Implement strategic plan features: environment validation, Stripe integration, HEYGEN cost management, blog automation, avatar navigation, and voice input accessibility
  implementation-progress.md
  src/app/api/blog/auto-generate/route.ts
  src/app/api/credits/route.ts
  src/app/api/heygen/cost-managed-videos/route.ts
  src/app/api/subscriptions/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/components/accessibility/voice-input.tsx
  src/components/navigation/avatar-navigation.tsx
  src/lib/env-validator.ts
  src/lib/stripe/stripe-service.ts
  todo.md
Owners: @documentation-team, @backend-team, @DrSI-P, @frontend-team

Fix syntax error in next.config.js by replacing invalid # comment with valid JS comment
  next.config.js
Owners: @DrSI-P

Fix syntax error in next.config.js by replacing invalid # comment with valid JS comment
  next.config.js
Owners: @DrSI-P

Auto-backup: Sat May 24 09:21:47 EDT 2025
  feature-validation-report.md
  implementation-summary.md
  next.config.js
  package-lock.json
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Auto-backup: Sat May 24 09:21:47 EDT 2025
  feature-validation-report.md
  implementation-summary.md
  next.config.js
  package-lock.json
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build errors: update next.config.js to remove invalid options, add missing cache module, install stripe dependency
  src/lib/cache.ts
Owners: @DrSI-P, @backend-team

Fix build errors: update next.config.js to remove invalid options, add missing cache module, install stripe dependency
  src/lib/cache.ts
Owners: @DrSI-P, @backend-team

Fix build error: Replace native bcrypt with bcryptjs for Next.js compatibility
  src/lib/auth/users.ts
Owners: @DrSI-P, @backend-team

Fix build error: Replace native bcrypt with bcryptjs for Next.js compatibility
  src/lib/auth/users.ts
Owners: @DrSI-P, @backend-team

Add bcryptjs as a production dependency in package.json
  package-lock.json
  package.json
Owners: @DevOps-team

Add bcryptjs as a production dependency in package.json
  package-lock.json
  package.json
Owners: @DevOps-team

Auto-backup: Sat May 24 09:36:48 EDT 2025
  feature-validation-report-final.md
  linting-improvement-plan.md
Owners: @documentation-team

Auto-backup: Sat May 24 09:36:48 EDT 2025
  feature-validation-report-final.md
  linting-improvement-plan.md
Owners: @documentation-team

Fix fatal TypeScript and React errors in adventure-quest components: add mock-data, fix imports, create placeholder components
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
  src/components/adventure-quest/adventure-quest-saga.tsx
  src/components/adventure-quest/character-creation.tsx
  src/components/adventure-quest/mock-data.ts
Owners: @DrSI-P, @frontend-team

Fix fatal TypeScript and React errors in adventure-quest components: add mock-data, fix imports, create placeholder components
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
  src/components/adventure-quest/adventure-quest-saga.tsx
  src/components/adventure-quest/character-creation.tsx
  src/components/adventure-quest/mock-data.ts
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in adventure-quest and accessibility components
  src/components/adventure-quest/adventure-quest-saga.tsx
  src/components/ai/accessibility/screen-reader-optimization-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in adventure-quest and accessibility components
  src/components/adventure-quest/adventure-quest-saga.tsx
  src/components/ai/accessibility/screen-reader-optimization-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in speech-to-text-engine component
  src/components/ai/accessibility/speech-to-text-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in speech-to-text-engine component
  src/components/ai/accessibility/speech-to-text-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in reduced-motion-mode-engine component
  src/components/ai/accessibility/reduced-motion-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in reduced-motion-mode-engine component
  src/components/ai/accessibility/reduced-motion-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in keyboard-navigation-engine component
  src/components/ai/accessibility/keyboard-navigation-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in keyboard-navigation-engine component
  src/components/ai/accessibility/keyboard-navigation-engine.tsx
Owners: @DrSI-P, @frontend-team
