Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Implement AI-powered FAQ chatbot feature with OpenAI integration
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/components/faq/FAQDetail.tsx
  src/components/faq/FAQForm.tsx
  src/pages/faq/edit/[id].tsx
  src/pages/faq/index.tsx
  src/pages/faq/new.tsx
  src/pages/faq/questions/[id].tsx
Owners: @DrSI-P, @frontend-team

Implement AI-powered FAQ chatbot feature with OpenAI integration
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/components/faq/FAQDetail.tsx
  src/components/faq/FAQForm.tsx
  src/pages/faq/edit/[id].tsx
  src/pages/faq/index.tsx
  src/pages/faq/new.tsx
  src/pages/faq/questions/[id].tsx
Owners: @DrSI-P, @frontend-team

Implement AI-powered FAQ chatbot feature with OpenAI integration
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/components/faq/FAQDetail.tsx
  src/components/faq/FAQForm.tsx
  src/pages/faq/edit/[id].tsx
  src/pages/faq/index.tsx
  src/pages/faq/new.tsx
  src/pages/faq/questions/[id].tsx
Owners: @DrSI-P, @frontend-team

Implement legal pages and compliance features with GDPR and age-appropriate design code
  src/components/layout/Footer.tsx
  src/components/legal/CookieConsentBanner.tsx
  src/components/legal/CookieConsentProvider.tsx
  src/hooks/useCookieConsent.ts
  src/pages/_app.tsx
  src/pages/legal/accessibility.tsx
  src/pages/legal/cookie-policy.tsx
  src/pages/legal/gdpr-compliance.tsx
  src/pages/legal/privacy-policy.tsx
  src/pages/legal/terms-of-service.tsx
Owners: @DrSI-P, @frontend-team

Implement legal pages and compliance features with GDPR and age-appropriate design code
  src/components/layout/Footer.tsx
  src/components/legal/CookieConsentBanner.tsx
  src/components/legal/CookieConsentProvider.tsx
  src/hooks/useCookieConsent.ts
  src/pages/_app.tsx
  src/pages/legal/accessibility.tsx
  src/pages/legal/cookie-policy.tsx
  src/pages/legal/gdpr-compliance.tsx
  src/pages/legal/privacy-policy.tsx
  src/pages/legal/terms-of-service.tsx
Owners: @DrSI-P, @frontend-team

Implement legal pages and compliance features with GDPR and age-appropriate design code
  src/components/layout/Footer.tsx
  src/components/legal/CookieConsentBanner.tsx
  src/components/legal/CookieConsentProvider.tsx
  src/hooks/useCookieConsent.ts
  src/pages/_app.tsx
  src/pages/legal/accessibility.tsx
  src/pages/legal/cookie-policy.tsx
  src/pages/legal/gdpr-compliance.tsx
  src/pages/legal/privacy-policy.tsx
  src/pages/legal/terms-of-service.tsx
Owners: @DrSI-P, @frontend-team

Enhance i18n framework with multilingual support and automated testing
  package.json
  public/locales/de/common.json
  public/locales/en-GB/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/pl/common.json
  public/locales/ur/common.json
  src/lib/i18n/client.js
  src/lib/i18n/index.js
  src/lib/i18n/server.js
  src/lib/i18n/settings.js
  src/pages/_app.tsx
  src/tests/i18n.test.js
Owners: @DevOps-team, @DrSI-P, @backend-team

Enhance i18n framework with multilingual support and automated testing
  package.json
  public/locales/de/common.json
  public/locales/en-GB/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/pl/common.json
  public/locales/ur/common.json
  src/lib/i18n/client.js
  src/lib/i18n/index.js
  src/lib/i18n/server.js
  src/lib/i18n/settings.js
  src/pages/_app.tsx
  src/tests/i18n.test.js
Owners: @DevOps-team, @DrSI-P, @backend-team

Enhance i18n framework with multilingual support and automated testing
  package.json
  public/locales/de/common.json
  public/locales/en-GB/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/pl/common.json
  public/locales/ur/common.json
  src/lib/i18n/client.js
  src/lib/i18n/index.js
  src/lib/i18n/server.js
  src/lib/i18n/settings.js
  src/pages/_app.tsx
  src/tests/i18n.test.js
Owners: @DevOps-team, @DrSI-P, @backend-team

Implement Progressive Web App capabilities with offline support and installation experience
  next.config.js
  public/icons/icon-192x192.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/manifest.json
  src/components/blog/BlogPostView.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Navbar.tsx
  src/components/legal/CookieConsentProvider.tsx
  src/components/pwa/InstallPrompt.tsx
  src/components/pwa/OfflineFallback.tsx
  src/components/pwa/PWAHead.tsx
  src/components/pwa/PWAValidator.tsx
  src/components/ui/alert.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/toaster.tsx
  src/lib/auth.ts
  src/lib/db.ts
  src/styles/globals.css
Owners: @DrSI-P, @DevOps-team, @frontend-team, @security-team, @database-team

Implement Progressive Web App capabilities with offline support and installation experience
  next.config.js
  public/icons/icon-192x192.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/manifest.json
  src/components/blog/BlogPostView.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Navbar.tsx
  src/components/legal/CookieConsentProvider.tsx
  src/components/pwa/InstallPrompt.tsx
  src/components/pwa/OfflineFallback.tsx
  src/components/pwa/PWAHead.tsx
  src/components/pwa/PWAValidator.tsx
  src/components/ui/alert.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/toaster.tsx
  src/lib/auth.ts
  src/lib/db.ts
  src/styles/globals.css
Owners: @DrSI-P, @DevOps-team, @frontend-team, @security-team, @database-team

Implement Progressive Web App capabilities with offline support and installation experience
  next.config.js
  public/icons/icon-192x192.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/manifest.json
  src/components/blog/BlogPostView.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Navbar.tsx
  src/components/legal/CookieConsentProvider.tsx
  src/components/pwa/InstallPrompt.tsx
  src/components/pwa/OfflineFallback.tsx
  src/components/pwa/PWAHead.tsx
  src/components/pwa/PWAValidator.tsx
  src/components/ui/alert.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/toaster.tsx
  src/lib/auth.ts
  src/lib/db.ts
  src/styles/globals.css
Owners: @DrSI-P, @DevOps-team, @frontend-team, @security-team, @database-team

Add missing Mentorship models to Prisma schema
  prisma/schema.prisma
Owners: @database-team

Add missing Mentorship models to Prisma schema
  prisma/schema.prisma
Owners: @database-team

Add missing Mentorship models to Prisma schema
  prisma/schema.prisma
Owners: @database-team

Fix untyped array declarations and add Mentorship models
  src/app/api/ai-avatar/route.ts
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team, @ai-team

Fix untyped array declarations and add Mentorship models
  src/app/api/ai-avatar/route.ts
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team, @ai-team

Fix untyped array declarations and add Mentorship models
  src/app/api/ai-avatar/route.ts
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team, @ai-team

Fix TypeScript type errors: add explicit type annotations to arrays and objects
  src/app/api/ai/curriculum-differentiation/route.ts
Owners: @ai-team

Fix syntax error in learning-communities/route.ts
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript errors: add explicit type annotations and correct Prisma model references
  src/app/api/restorative-justice/agreement-tracking/route.ts
  src/app/api/restorative-justice/circle-process/route.ts
Owners: @backend-team

Fix TypeScript errors: correct Alert component props and add missing type annotations
  prisma/schema.prisma
  src/app/assessment/ai-generate/page.tsx
  src/app/assessment/create/page.tsx
  src/app/assessment/curriculum/align/page.tsx
  src/app/assessment/curriculum/page.tsx
  src/app/assessment/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/create/page.tsx
  src/app/assessment/pupil-voice/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/results/[id]/page.tsx
  src/app/assessment/pupil-voice/take/[id]/page.tsx
  src/app/assessment/results/[id]/page.tsx
  src/app/assessment/take/[id]/page.tsx
  src/app/assessment/templates/create/page.tsx
  src/app/assessment/templates/page.tsx
  src/app/auth/reset-password/[token]/page.tsx
  src/app/auth/reset-password/page.tsx
  src/app/auth/signin/page.tsx
  src/app/auth/verify-email/[token]/page.tsx
  src/app/auth/verify-email/page.tsx
  src/app/page.tsx
  src/components/ai/ai-configuration.tsx
  src/components/assessment/question-types/file-upload.tsx
  src/components/assessment/question-types/matching.tsx
  src/components/assessment/question-types/multiple-choice.tsx
  src/components/assessment/question-types/open-ended.tsx
Owners: @database-team, @DrSI-P, @lead-developer, @frontend-team

Phase 2: Implement voice input accessibility and visual design enhancements with testing framework
  scripts/run-automated-tests.ts
  src/app/accessibility/voice-input-demo/page.tsx
  src/app/testing/page.tsx
  src/app/visual-design-showcase/page.tsx
  src/components/root-layout-wrapper.tsx
  src/components/ui/accessibility-global-styles.tsx
  src/components/ui/accessibility-menu.tsx
  src/components/ui/accessibility-settings.tsx
  src/components/ui/concept-map.tsx
  src/components/ui/learning-module-card.tsx
  src/components/ui/progress-visualization.tsx
  src/components/ui/subject-icon.tsx
  src/components/ui/visual-card.tsx
  src/components/ui/visual-learning-container.tsx
  src/components/ui/visual-learning-path.tsx
  src/components/ui/voice-input-field.tsx
  src/components/ui/voice-input.tsx
  src/lib/accessibility/speechRecognition.ts
  src/lib/testing-utility.ts
  src/providers/voice-input-provider.tsx
  src/styles/design-system.css
Owners: @DevOps-team, @accessibility-team, @DrSI-P, @lead-developer, @frontend-team, @backend-team

Phase 2: Complete UK educational standards alignment and add comprehensive documentation
  docs/PHASE2_SUMMARY.md
  src/app/uk-curriculum-validator/page.tsx
  src/hooks/use-uk-standards.ts
  src/lib/uk-standards.ts
  src/middleware/uk-standards-middleware.ts
Owners: @documentation-team, @DrSI-P, @lead-developer, @backend-team

Initial commit for completion plan: Add gap analysis, feature list, completion plan, and implementation tracker with initial GDPR and accessibility compliance modules
  docs/COMPLETION_PLAN.md
  docs/GAP_ANALYSIS.md
  docs/IMPLEMENTATION_TRACKER.md
  docs/INCOMPLETE_FEATURES.md
  src/lib/accessibility-compliance.tsx
  src/lib/gdpr-compliance.ts
Owners: @documentation-team, @DrSI-P, @backend-team

Phase 1: Implement WCAG compliance testing dashboard and accessibility audit tools
  docs/IMPLEMENTATION_TRACKER.md
  src/app/accessibility/testing-dashboard/page.tsx
  src/app/layout-wrapper.tsx
  src/lib/api-utils.ts
  src/lib/data-protection.ts
  src/lib/safeguarding.ts
  src/lib/type-utils.ts
  src/lib/validation.ts
  src/types/index.ts
Owners: @documentation-team, @accessibility-team, @DrSI-P, @lead-developer, @backend-team

Phase 1: Implement video captioning system with multi-language support and update implementation tracker
  docs/IMPLEMENTATION_TRACKER.md
  src/app/accessibility/video-captioning/page.tsx
Owners: @documentation-team, @accessibility-team

Phase 2: Implement backup/recovery system and comprehensive logging
  src/lib/backup-recovery.ts
  src/lib/logging.ts
Owners: @DrSI-P, @backend-team

Phase 2: Implement comprehensive automated testing framework
  src/lib/testing.ts
Owners: @DrSI-P, @backend-team

Phase 3: Add comprehensive user documentation and guides
  docs/user-guides/README.md
  docs/user-guides/student/getting-started.md
  docs/user-guides/student/voice-input-tutorial.md
  docs/user-guides/teacher/dashboard-guide.md
Owners: @documentation-team

Implement critical features: backup/recovery, testing framework, and documentation
  docs/testing/BUILD_TESTING_PROTOCOL.md
  docs/testing/TESTING_FRAMEWORK.md
  docs/testing/VALIDATION_CHECKLIST.md
  docs/testing/VALIDATION_REPORT.md
  src/lib/special-needs-support.ts
  src/lib/testing/api/api-test.ts
  src/lib/testing/components/accessibility-test.ts
  src/lib/testing/components/ui/component-test.ts
Owners: @documentation-team, @DrSI-P, @backend-team

Update executive summary with comprehensive feature list
  docs/EXECUTIVE_SUMMARY.md
Owners: @documentation-team

Add AI Avatar scripts and generation guide Word document
  docs/word_exports/EdPsych_AI_Avatar_Scripts_and_Guide.docx
  docs/word_exports/create_avatar_doc.py
Owners: @documentation-team

Add Supabase reset scripts and documentation
  docs/SUPABASE_RESET_AND_BUILD_FIX.md
  scripts/supabase-reset-helper.sh
  scripts/supabase-reset.sql
Owners: @documentation-team, @DevOps-team

Fix build issues: add missing dependencies and modules
  next.config.js
  package-lock.json
  package.json
  src/components/blog/BlogPostView.js
  src/components/blog/index.ts
  src/components/ui/alert.js
  src/components/ui/container.tsx
  src/components/ui/index.ts
  src/components/ui/skeleton.js
  src/components/ui/toggle.tsx
  src/lib/auth.js
  src/lib/auth.ts
  src/lib/auth/auth-options.ts
  src/lib/auth/index.ts
  src/lib/db.js
  src/lib/db.ts
  src/pages/blog/index.tsx.bak
Owners: @DrSI-P, @DevOps-team, @frontend-team, @backend-team, @security-team, @database-team

Fix build issues: add missing dependencies and modules
  next.config.js
  package-lock.json
  package.json
  src/components/blog/BlogPostView.js
  src/components/blog/index.ts
  src/components/ui/alert.js
  src/components/ui/container.tsx
  src/components/ui/index.ts
  src/components/ui/skeleton.js
  src/components/ui/toggle.tsx
  src/lib/auth.js
  src/lib/auth.ts
  src/lib/auth/auth-options.ts
  src/lib/auth/index.ts
  src/lib/db.js
  src/lib/db.ts
  src/pages/blog/index.tsx.bak
Owners: @DrSI-P, @DevOps-team, @frontend-team, @backend-team, @security-team, @database-team

Fix build issues: add missing dependencies and modules
  next.config.js
  package-lock.json
  package.json
  src/components/blog/BlogPostView.js
  src/components/blog/index.ts
  src/components/ui/alert.js
  src/components/ui/container.tsx
  src/components/ui/index.ts
  src/components/ui/skeleton.js
  src/components/ui/toggle.tsx
  src/lib/auth.js
  src/lib/auth.ts
  src/lib/auth/auth-options.ts
  src/lib/auth/index.ts
  src/lib/db.js
  src/lib/db.ts
  src/pages/blog/index.tsx.bak
Owners: @DrSI-P, @DevOps-team, @frontend-team, @backend-team, @security-team, @database-team

Fix build issues: Install missing dependencies and update configuration files
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/app/api/professional-development/learning-communities/route.ts
Owners: @DrSI-P, @DevOps-team, @backend-team

Fix build issues: Install missing dependencies and update configuration files
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/app/api/professional-development/learning-communities/route.ts
Owners: @DrSI-P, @DevOps-team, @backend-team

Fix build issues: Install missing dependencies and update configuration files
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/app/api/professional-development/learning-communities/route.ts
Owners: @DrSI-P, @DevOps-team, @backend-team
