Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix null vs undefined type error in blockchain route
  docs/TYPESCRIPT_IMPLICIT_ANY_FIX.md
  src/app/api/blockchain/route.ts
Owners: @documentation-team, @backend-team

Fix type null vs undefined issue in blockchain route
  src/app/api/blockchain/route.ts
Owners: @backend-team

Fix type null vs undefined issue in blockchain route
  src/app/api/blockchain/route.ts
Owners: @backend-team

Fix type null vs undefined issue in blockchain route
  src/app/api/blockchain/route.ts
Owners: @backend-team

Fix: Add curriculum collaboration models to Prisma schema to resolve build error
  docs/CURRICULUM_COLLABORATION_FIX.md
  prisma/migrations/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/schema.prisma
  scripts/fix-curriculum-collaboration-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Fix: Add curriculum collaboration models to Prisma schema to resolve build error
  docs/CURRICULUM_COLLABORATION_FIX.md
  prisma/migrations/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/schema.prisma
  scripts/fix-curriculum-collaboration-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Fix: Add curriculum collaboration models to Prisma schema to resolve build error
  docs/CURRICULUM_COLLABORATION_FIX.md
  prisma/migrations/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/schema.prisma
  scripts/fix-curriculum-collaboration-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Fix: Add Plugin model to Prisma schema to resolve build error
  docs/PLUGIN_MODEL_FIX.md
  prisma/migrations/20250521050000_add_plugin_model/migration.sql
  prisma/schema.prisma
  scripts/fix-plugin-model-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Fix: Add Plugin model to Prisma schema to resolve build error
  docs/PLUGIN_MODEL_FIX.md
  prisma/migrations/20250521050000_add_plugin_model/migration.sql
  prisma/schema.prisma
  scripts/fix-plugin-model-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Fix: Add Plugin model to Prisma schema to resolve build error
  docs/PLUGIN_MODEL_FIX.md
  prisma/migrations/20250521050000_add_plugin_model/migration.sql
  prisma/schema.prisma
  scripts/fix-plugin-model-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Add comprehensive documentation and fix scripts for schema-code mismatches
  docs/CURRICULUM_COLLABORATOR_CASE_FIX.md
  docs/INSTRUCTIONS_FOR_MANUS.md
  docs/MISSING_PRISMA_MODELS.md
  docs/SCHEMA_CODE_MISMATCH_FIX.md
  scripts/apply-all-fixes.js
  scripts/fix-curriculum-collaboration-route.js
  scripts/fix-curriculum-collaborator-case.js
Owners: @documentation-team, @DevOps-team

Add comprehensive documentation and fix scripts for schema-code mismatches
  docs/CURRICULUM_COLLABORATOR_CASE_FIX.md
  docs/INSTRUCTIONS_FOR_MANUS.md
  docs/MISSING_PRISMA_MODELS.md
  docs/SCHEMA_CODE_MISMATCH_FIX.md
  scripts/apply-all-fixes.js
  scripts/fix-curriculum-collaboration-route.js
  scripts/fix-curriculum-collaborator-case.js
Owners: @documentation-team, @DevOps-team

Add comprehensive documentation and fix scripts for schema-code mismatches
  docs/CURRICULUM_COLLABORATOR_CASE_FIX.md
  docs/INSTRUCTIONS_FOR_MANUS.md
  docs/MISSING_PRISMA_MODELS.md
  docs/SCHEMA_CODE_MISMATCH_FIX.md
  scripts/apply-all-fixes.js
  scripts/fix-curriculum-collaboration-route.js
  scripts/fix-curriculum-collaborator-case.js
Owners: @documentation-team, @DevOps-team

Add AI video avatar creation instructions
  docs/AI_AVATAR_INSTRUCTIONS.md
Owners: @documentation-team

Add AI video avatar creation instructions
  docs/AI_AVATAR_INSTRUCTIONS.md
Owners: @documentation-team

Add AI video avatar creation instructions
  docs/AI_AVATAR_INSTRUCTIONS.md
Owners: @documentation-team

Add AI avatar assets for EdPsych-AI-Education-Platform featuring Dr. Scott Ighavongbe-Patrick
  docs/ai_avatar_assets/COMPLETE_IMPLEMENTATION_GUIDE.md
  docs/ai_avatar_assets/README.md
  docs/ai_avatar_assets/avatar_metadata.json
  docs/ai_avatar_assets/implementation_guide.md
  docs/ai_avatar_assets/special_needs_support_avatar_clips.md
  docs/ai_avatar_assets/student_peer_avatar_clips.md
  docs/ai_avatar_assets/subject_specialist_avatar_clips.md
  docs/ai_avatar_assets/teacher_avatar_clips.md
  public/videos/avatars/README.md
  public/videos/avatars/special_needs/placeholder.txt
  public/videos/avatars/specialist/placeholder.txt
  public/videos/avatars/student/placeholder.txt
  public/videos/avatars/teacher/placeholder.txt
  scripts/commit-avatar-assets.bat
  scripts/initial-avatar-commit.bat
Owners: @documentation-team, @DrSI-P, @DevOps-team

Add AI avatar assets for EdPsych-AI-Education-Platform featuring Dr. Scott Ighavongbe-Patrick
  docs/ai_avatar_assets/COMPLETE_IMPLEMENTATION_GUIDE.md
  docs/ai_avatar_assets/README.md
  docs/ai_avatar_assets/avatar_metadata.json
  docs/ai_avatar_assets/implementation_guide.md
  docs/ai_avatar_assets/special_needs_support_avatar_clips.md
  docs/ai_avatar_assets/student_peer_avatar_clips.md
  docs/ai_avatar_assets/subject_specialist_avatar_clips.md
  docs/ai_avatar_assets/teacher_avatar_clips.md
  public/videos/avatars/README.md
  public/videos/avatars/special_needs/placeholder.txt
  public/videos/avatars/specialist/placeholder.txt
  public/videos/avatars/student/placeholder.txt
  public/videos/avatars/teacher/placeholder.txt
  scripts/commit-avatar-assets.bat
  scripts/initial-avatar-commit.bat
Owners: @documentation-team, @DrSI-P, @DevOps-team

Add AI avatar assets for EdPsych-AI-Education-Platform featuring Dr. Scott Ighavongbe-Patrick
  docs/ai_avatar_assets/COMPLETE_IMPLEMENTATION_GUIDE.md
  docs/ai_avatar_assets/README.md
  docs/ai_avatar_assets/avatar_metadata.json
  docs/ai_avatar_assets/implementation_guide.md
  docs/ai_avatar_assets/special_needs_support_avatar_clips.md
  docs/ai_avatar_assets/student_peer_avatar_clips.md
  docs/ai_avatar_assets/subject_specialist_avatar_clips.md
  docs/ai_avatar_assets/teacher_avatar_clips.md
  public/videos/avatars/README.md
  public/videos/avatars/special_needs/placeholder.txt
  public/videos/avatars/specialist/placeholder.txt
  public/videos/avatars/student/placeholder.txt
  public/videos/avatars/teacher/placeholder.txt
  scripts/commit-avatar-assets.bat
  scripts/initial-avatar-commit.bat
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix package name UK spelling issues causing npm install failures
  docs/PACKAGE_NAME_FIX.md
  scripts/apply-all-fixes.js
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix package name UK spelling issues causing npm install failures
  docs/PACKAGE_NAME_FIX.md
  scripts/apply-all-fixes.js
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix package name UK spelling issues causing npm install failures
  docs/PACKAGE_NAME_FIX.md
  scripts/apply-all-fixes.js
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix UK spelling in package names to resolve npm install failures
  package-lock.json
  scripts/apply-all-fixes.js
Owners: @DevOps-team

Fix UK spelling in package names to resolve npm install failures
  package-lock.json
  scripts/apply-all-fixes.js
Owners: @DevOps-team

Fix UK spelling in package names to resolve npm install failures
  package-lock.json
  scripts/apply-all-fixes.js
Owners: @DevOps-team

Fix d3-colour package name to d3-color for npm compatibility
  package-lock.json
  scripts/fix-package-names.js
Owners: @DevOps-team

Fix d3-colour package name to d3-color for npm compatibility
  package-lock.json
  scripts/fix-package-names.js
Owners: @DevOps-team

Fix d3-colour package name to d3-color for npm compatibility
  package-lock.json
  scripts/fix-package-names.js
Owners: @DevOps-team

Fix UK spelling in package names and resolved URLs in package-lock.json
  docs/PACKAGE_NAME_FIX.md
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  scripts/apply-all-fixes.js
  scripts/fix-package-names.js
  src/app/assessment/ai-generate/page.tsx
  src/app/assessment/create/page.tsx
  src/app/assessment/curriculum/page.tsx
  src/app/assessment/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/results/[id]/page.tsx
  src/app/assessment/results/[id]/page.tsx
  src/app/assessment/templates/create/page.tsx
  src/app/assessment/templates/page.tsx
  src/components/admin/admin-dashboard.tsx
  src/components/analytics/resource-and-assessment-analytics.tsx
  src/components/avatar/avatar-video-integration.tsx
  src/components/avatar/video-library.tsx
  src/components/restorative-justice/outcome-measurement/outcome-measurement-tools.tsx
  src/lib/assessment/feedbackGeneratorService.ts
Owners: @documentation-team, @DevOps-team, @DrSI-P, @lead-developer, @frontend-team, @backend-team

Fix UK spelling in package names and resolved URLs in package-lock.json
  docs/PACKAGE_NAME_FIX.md
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  scripts/apply-all-fixes.js
  scripts/fix-package-names.js
  src/app/assessment/ai-generate/page.tsx
  src/app/assessment/create/page.tsx
  src/app/assessment/curriculum/page.tsx
  src/app/assessment/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/results/[id]/page.tsx
  src/app/assessment/results/[id]/page.tsx
  src/app/assessment/templates/create/page.tsx
  src/app/assessment/templates/page.tsx
  src/components/admin/admin-dashboard.tsx
  src/components/analytics/resource-and-assessment-analytics.tsx
  src/components/avatar/avatar-video-integration.tsx
  src/components/avatar/video-library.tsx
  src/components/restorative-justice/outcome-measurement/outcome-measurement-tools.tsx
  src/lib/assessment/feedbackGeneratorService.ts
Owners: @documentation-team, @DevOps-team, @DrSI-P, @lead-developer, @frontend-team, @backend-team

Fix UK spelling in package names and resolved URLs in package-lock.json
  docs/PACKAGE_NAME_FIX.md
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  scripts/apply-all-fixes.js
  scripts/fix-package-names.js
  src/app/assessment/ai-generate/page.tsx
  src/app/assessment/create/page.tsx
  src/app/assessment/curriculum/page.tsx
  src/app/assessment/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/results/[id]/page.tsx
  src/app/assessment/results/[id]/page.tsx
  src/app/assessment/templates/create/page.tsx
  src/app/assessment/templates/page.tsx
  src/components/admin/admin-dashboard.tsx
  src/components/analytics/resource-and-assessment-analytics.tsx
  src/components/avatar/avatar-video-integration.tsx
  src/components/avatar/video-library.tsx
  src/components/restorative-justice/outcome-measurement/outcome-measurement-tools.tsx
  src/lib/assessment/feedbackGeneratorService.ts
Owners: @documentation-team, @DevOps-team, @DrSI-P, @lead-developer, @frontend-team, @backend-team

Fix additional UK spelling in package names (@radix-ui/react-dialogue and @radix-ui/react-alert-dialogue)
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  package.json
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix additional UK spelling in package names (@radix-ui/react-dialogue and @radix-ui/react-alert-dialogue)
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  package.json
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix additional UK spelling in package names (@radix-ui/react-dialogue and @radix-ui/react-alert-dialogue)
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  package.json
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix additional UK spelling in package names (@zag-js/dialogue)
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix additional UK spelling in package names (@zag-js/dialogue)
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix additional UK spelling in package names (@zag-js/dialogue)
  docs/deployment-fixes.md
  docs/uk-spelling-package-fix.md
  package-lock.json
  scripts/fix-package-names.js
Owners: @documentation-team, @DevOps-team

Fix URL paths in package-lock.json to use US spelling consistently
  package-lock.json
  scripts/fix-package-names.js
Owners: @DevOps-team

Fix URL paths in package-lock.json to use US spelling consistently
  package-lock.json
  scripts/fix-package-names.js
Owners: @DevOps-team

Fix URL paths in package-lock.json to use US spelling consistently
  package-lock.json
  scripts/fix-package-names.js
Owners: @DevOps-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
