Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix TypeScript syntax error in pattern-recognition/route.ts - correct parameter type annotations
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
Owners: @special-needs-team

Fix TypeScript syntax error in strategy-recommendations/route.ts - correct parameter type annotations
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @special-needs-team

Fix TypeScript syntax error in strategy-recommendations/route.ts - correct parameter type annotations
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @special-needs-team

Fix TypeScript syntax errors in multiple files
  advanced_ts_fix.py
  error_analysis.md
  fix_assessment_page.py
  fix_avatar_types.py
  fix_compliance_types.py
  fix_learning_utils.py
  remaining_errors_plan.md
  src/app/innovations/ai-powered-assessment/page.tsx
  src/lib/analytics/types.ts
  src/lib/assessment/feedbackGeneratorService.ts
  src/lib/assessment/types.ts
  src/lib/avatar/types.ts
  src/lib/collaboration/types.ts
  src/lib/communication/types.ts
  src/lib/compliance/gdprComplianceService.ts
  src/lib/compliance/safeguardingService.ts
  src/lib/compliance/types.ts
  src/lib/content-creation/types.ts
  src/lib/i18n/types.ts
  src/lib/learning-utils.tsx
  src/lib/plugins/implementations/cognifitAssessmentPlugin.ts
  targeted_ts_fix.py
  todo.md
  typescript_errors_after_analytics_fixes.log
  typescript_errors_after_assessment_fixes.log
  typescript_errors_after_collaboration_fixes.log
  typescript_errors_after_communication_fixes.log
  typescript_errors_after_content_fixes.log
  typescript_errors_after_feedback_fixes.log
  typescript_errors_after_i18n_fixes.log
  typescript_errors_after_learning_fixes.log
  typescript_errors_after_learning_utils_fixes.log
  typescript_errors_after_manual_fixes.log
  typescript_errors_after_script.log
  typescript_errors_after_targeted_fix.log
Owners: @DrSI-P, @documentation-team, @lead-developer, @backend-team

Fix TypeScript syntax errors in multiple files
  advanced_ts_fix.py
  error_analysis.md
  fix_assessment_page.py
  fix_avatar_types.py
  fix_compliance_types.py
  fix_learning_utils.py
  remaining_errors_plan.md
  src/app/innovations/ai-powered-assessment/page.tsx
  src/lib/analytics/types.ts
  src/lib/assessment/feedbackGeneratorService.ts
  src/lib/assessment/types.ts
  src/lib/avatar/types.ts
  src/lib/collaboration/types.ts
  src/lib/communication/types.ts
  src/lib/compliance/gdprComplianceService.ts
  src/lib/compliance/safeguardingService.ts
  src/lib/compliance/types.ts
  src/lib/content-creation/types.ts
  src/lib/i18n/types.ts
  src/lib/learning-utils.tsx
  src/lib/plugins/implementations/cognifitAssessmentPlugin.ts
  targeted_ts_fix.py
  todo.md
  typescript_errors_after_analytics_fixes.log
  typescript_errors_after_assessment_fixes.log
  typescript_errors_after_collaboration_fixes.log
  typescript_errors_after_communication_fixes.log
  typescript_errors_after_content_fixes.log
  typescript_errors_after_feedback_fixes.log
  typescript_errors_after_i18n_fixes.log
  typescript_errors_after_learning_fixes.log
  typescript_errors_after_learning_utils_fixes.log
  typescript_errors_after_manual_fixes.log
  typescript_errors_after_script.log
  typescript_errors_after_targeted_fix.log
Owners: @DrSI-P, @documentation-team, @lead-developer, @backend-team

Fix TypeScript syntax errors in testing/types.ts
  fix_testing_types.py
  src/lib/testing/types.ts
  todo.md
Owners: @DrSI-P, @backend-team, @documentation-team

Fix TypeScript syntax errors in testing/types.ts
  fix_testing_types.py
  src/lib/testing/types.ts
  todo.md
Owners: @DrSI-P, @backend-team, @documentation-team

Fix TypeScript syntax errors in adaptive-complexity/types.ts
  fix_adaptive_complexity_types.py
  fix_custom_report_builder.py
  src/lib/adaptive-complexity/types.ts
  todo.md
Owners: @DrSI-P, @backend-team, @documentation-team

Fix TypeScript syntax errors in adaptive-complexity/types.ts
  fix_adaptive_complexity_types.py
  fix_custom_report_builder.py
  src/lib/adaptive-complexity/types.ts
  todo.md
Owners: @DrSI-P, @backend-team, @documentation-team

Fix TypeScript syntax errors in character-creation.tsx with advanced targeted approach
  fix_character_creation.py
  fix_character_creation_advanced.py
  src/components/adventure-quest/character-creation.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Fix TypeScript syntax errors in character-creation.tsx with advanced targeted approach
  fix_character_creation.py
  fix_character_creation_advanced.py
  src/components/adventure-quest/character-creation.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Fix TypeScript syntax errors in mobile/mobileTypes.ts
  fix_mobile_types.py
  src/lib/mobile/mobileTypes.ts
  todo.md
Owners: @DrSI-P, @backend-team, @documentation-team

Fix TypeScript syntax errors in mobile/mobileTypes.ts
  fix_mobile_types.py
  src/lib/mobile/mobileTypes.ts
  todo.md
Owners: @DrSI-P, @backend-team, @documentation-team

Fix TypeScript syntax errors in ai-avatar/types.ts
  fix_ai_avatar_types.py
  src/components/ai-avatar/types.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Fix TypeScript syntax errors in ai-avatar/types.ts
  fix_ai_avatar_types.py
  src/components/ai-avatar/types.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Fix TypeScript syntax errors in custom-report-builder.tsx with line-by-line approach
  fix_custom_report_builder_line_by_line.py
  fix_custom_report_builder_manual.py
  src/components/analytics/custom-report-builder.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Fix TypeScript syntax errors in custom-report-builder.tsx with line-by-line approach
  fix_custom_report_builder_line_by_line.py
  fix_custom_report_builder_manual.py
  src/components/analytics/custom-report-builder.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Update todo.md with next files to address
  fix_ai_avatar_types_advanced.py
  todo.md
Owners: @DrSI-P, @documentation-team

Update todo.md with next files to address
  fix_ai_avatar_types_advanced.py
  todo.md
Owners: @DrSI-P, @documentation-team

Update todo.md with refined next steps for complex files
  fix_ai_assessment_page_advanced.py
  src/app/innovations/ai-powered-assessment/page.tsx
  todo.md
Owners: @DrSI-P, @lead-developer, @documentation-team

Update todo.md with refined next steps for complex files
  fix_ai_assessment_page_advanced.py
  src/app/innovations/ai-powered-assessment/page.tsx
  todo.md
Owners: @DrSI-P, @lead-developer, @documentation-team

Fix critical build-blocking TypeScript errors identified in Vercel build log
  fix_achievement_card_critical.py
  fix_adaptive_complexity_types_critical.py
  fix_staff_training_modules_critical.py
  fix_teacher_automation_critical.py
  fix_theme_provider_critical.py
  src/components/ai/teacher-automation/teacher-automation.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/theme-provider.tsx
  src/components/ui/AchievementCard.tsx
  src/lib/adaptive-complexity/types.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @backend-team, @documentation-team

Fix critical build-blocking TypeScript errors identified in Vercel build log
  fix_achievement_card_critical.py
  fix_adaptive_complexity_types_critical.py
  fix_staff_training_modules_critical.py
  fix_teacher_automation_critical.py
  fix_theme_provider_critical.py
  src/components/ai/teacher-automation/teacher-automation.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/theme-provider.tsx
  src/components/ui/AchievementCard.tsx
  src/lib/adaptive-complexity/types.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @backend-team, @documentation-team

Fix TypeScript syntax errors in multiple files
  fix_blog_pages_batch.py
  fix_learning_utils_jsx_batch.py
  fix_mobile_types_batch.py
  fix_plugin_files_batch.py
  fix_plugin_implementation_files_batch.py
  fix_plugins_types_batch.py
  fix_testing_types_batch.py
  fix_utils_ts_batch.py
  src/lib/learning-utils.tsx
  src/lib/mobile/mobileTypes.ts
  src/lib/plugins/googleDrive.ts
  src/lib/plugins/implementations/cognifitAssessmentPlugin.ts
  src/lib/plugins/registry.ts
  src/lib/plugins/templates/assessmentToolPlugin.ts
  src/lib/plugins/types.ts
  src/lib/testing/types.ts
  src/lib/utils.ts
  src/pages/blog/[slug].tsx
  src/pages/blog/categories.tsx
Owners: @DrSI-P, @backend-team

Fix TypeScript syntax errors in multiple files
  fix_blog_pages_batch.py
  fix_learning_utils_jsx_batch.py
  fix_mobile_types_batch.py
  fix_plugin_files_batch.py
  fix_plugin_implementation_files_batch.py
  fix_plugins_types_batch.py
  fix_testing_types_batch.py
  fix_utils_ts_batch.py
  src/lib/learning-utils.tsx
  src/lib/mobile/mobileTypes.ts
  src/lib/plugins/googleDrive.ts
  src/lib/plugins/implementations/cognifitAssessmentPlugin.ts
  src/lib/plugins/registry.ts
  src/lib/plugins/templates/assessmentToolPlugin.ts
  src/lib/plugins/types.ts
  src/lib/testing/types.ts
  src/lib/utils.ts
  src/pages/blog/[slug].tsx
  src/pages/blog/categories.tsx
Owners: @DrSI-P, @backend-team

Fix TypeScript syntax errors in avatar types files
  fix_ai_avatar_types_advanced.py
  fix_ai_avatar_types_batch.py
  fix_ai_avatar_types_manual.py
  fix_avatar_types_batch.py
  src/components/ai-avatar/types.ts
  src/lib/avatar/types.ts
Owners: @DrSI-P, @frontend-team, @backend-team

Fix TypeScript syntax errors in avatar types files
  fix_ai_avatar_types_advanced.py
  fix_ai_avatar_types_batch.py
  fix_ai_avatar_types_manual.py
  fix_avatar_types_batch.py
  src/components/ai-avatar/types.ts
  src/lib/avatar/types.ts
Owners: @DrSI-P, @frontend-team, @backend-team

Fix TypeScript syntax errors in ai-powered-assessment page
  fix_assessment_page_advanced.py
  fix_assessment_page_manual.py
  src/app/innovations/ai-powered-assessment/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript syntax errors in ai-powered-assessment page
  fix_assessment_page_advanced.py
  fix_assessment_page_manual.py
  src/app/innovations/ai-powered-assessment/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript syntax errors in learning-utils.tsx with final targeted approach
  fix_learning_utils_advanced.py
  fix_learning_utils_final.py
  fix_learning_utils_manual.py
  src/lib/learning-utils.tsx
Owners: @DrSI-P, @backend-team

Fix TypeScript syntax errors in learning-utils.tsx with final targeted approach
  fix_learning_utils_advanced.py
  fix_learning_utils_final.py
  fix_learning_utils_manual.py
  src/lib/learning-utils.tsx
Owners: @DrSI-P, @backend-team

Fix TypeScript syntax errors in ai-avatar/types.ts with line-by-line approach
  fix_ai_avatar_types_advanced_final.py
  fix_ai_avatar_types_line_by_line.py
  src/components/ai-avatar/types.ts
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax errors in ai-avatar/types.ts with line-by-line approach
  fix_ai_avatar_types_advanced_final.py
  fix_ai_avatar_types_line_by_line.py
  src/components/ai-avatar/types.ts
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax errors in responsive-layout.tsx with line-by-line approach
  fix_responsive_layout_line_by_line.py
  src/components/mobile/responsive-layout.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax errors in responsive-layout.tsx with line-by-line approach
  fix_responsive_layout_line_by_line.py
  src/components/mobile/responsive-layout.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax errors in assessment question types with batch approach
  fix_assessment_question_types_batch.py
  src/components/assessment/question-types/file-upload.tsx
  src/components/assessment/question-types/matching.tsx
  src/components/assessment/question-types/multiple-choice.tsx
  src/components/assessment/question-types/open-ended.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax errors in assessment question types with batch approach
  fix_assessment_question_types_batch.py
  src/components/assessment/question-types/file-upload.tsx
  src/components/assessment/question-types/matching.tsx
  src/components/assessment/question-types/multiple-choice.tsx
  src/components/assessment/question-types/open-ended.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax errors in avatar/types.ts with targeted manual approach
  fix_avatar_types_line_by_line.py
  fix_avatar_types_manual.py
  src/lib/avatar/types.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript syntax errors in avatar/types.ts with targeted manual approach
  fix_avatar_types_line_by_line.py
  fix_avatar_types_manual.py
  src/lib/avatar/types.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript syntax errors in curriculum-alignment-checker.tsx with line-by-line approach
  fix_curriculum_alignment_checker.py
  src/components/content-creation/curriculum-alignment-checker.tsx
Owners: @DrSI-P, @frontend-team
