Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Update implementation checklist with completed features according to user's format
  EdPsychConnect-ComprehensiveImplementationChecklist.md
Owners: @documentation-team

Implement voice input and speech recognition system
  src/components/accessibility/voice-input-system.tsx
Owners: @DrSI-P, @frontend-team

Implement accessibility settings panel component
  src/components/accessibility/accessibility-settings-panel.tsx
Owners: @DrSI-P, @frontend-team

Update implementation checklist to mark completed accessibility features
  EdPsychConnect-ComprehensiveImplementationChecklist.md
Owners: @documentation-team

Implement mobile PWA support component
  src/components/mobile/mobile-pwa-support.tsx
Owners: @DrSI-P, @frontend-team

Update implementation checklist to mark completed mobile & PWA support features
  EdPsychConnect-ComprehensiveImplementationChecklist.md
Owners: @documentation-team

Implement AI components with adaptive learning, content generation, and support features
  src/components/ai/ai-components.tsx
Owners: @DrSI-P, @frontend-team

Update implementation checklist to mark completed AI components
  EdPsychConnect-ComprehensiveImplementationChecklist.md
Owners: @documentation-team

Implement AI Avatar Video System with 18 educational videos and comprehensive video management features
  src/components/ai/ai-avatar-video-system.tsx
Owners: @DrSI-P, @frontend-team

Update implementation checklist to mark completed AI Avatar Video System
  EdPsychConnect-ComprehensiveImplementationChecklist.md
Owners: @documentation-team

Implement Student Dashboard & Learning Portal component
  src/components/user-interfaces/student-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Implement Educator Tools & Administrative Automation component
  src/components/user-interfaces/educator-tools.tsx
Owners: @DrSI-P, @frontend-team

Implement Parent/Guardian Monitoring & Support Portal component
  src/components/user-interfaces/parent-portal.tsx
Owners: @DrSI-P, @frontend-team

Implement Professional Development Resources component with training materials, evidence-based resources, and certification features
  src/components/user-interfaces/professional-development.tsx
Owners: @DrSI-P, @frontend-team

Implement comprehensive curriculum resources component with UK curriculum-aligned educational materials
  src/components/curriculum/curriculum-resources.tsx
Owners: @DrSI-P, @frontend-team

Implement comprehensive community and collaboration tools with forums, projects, events, resource sharing, and mentoring features
  src/components/community/community-collaboration.tsx
Owners: @DrSI-P, @frontend-team

Implement technical infrastructure component with database, API, scalability, performance, security, and monitoring features
  src/components/infrastructure/technical-infrastructure.tsx
Owners: @DrSI-P, @frontend-team

Implement deployment and DevOps component with CI/CD pipelines, environment management, and release tracking
  src/components/devops/deployment-devops.tsx
Owners: @DrSI-P, @frontend-team

Implement compliance and internationalization component with data protection, accessibility, language support, and localization features
  src/components/compliance/compliance-internationalization.tsx
Owners: @DrSI-P, @frontend-team

Update implementation checklist to mark all features as complete
  EdPsychConnect-ComprehensiveImplementationChecklist.md
Owners: @documentation-team

Add comprehensive validation report confirming platform readiness
  validation-report.md
Owners: @documentation-team

Update Supabase connection details in production environment
  .env.production
Owners: @DrSI-P

Add proper PWA icons for enhanced branding and visual polish
  public/icons/icon-192x192.png
  public/icons/icon-384x384.png
Owners: @DrSI-P

Enhance homepage with full navigation, footer, and visual polish
  pages/index.js
Owners: @DrSI-P

Add Student Portal page with proper routing and enhanced styling
  pages/student.js
Owners: @DrSI-P

Add Educator Resources page with proper routing and enhanced styling
  pages/educator.js
Owners: @DrSI-P

Add Restorative Justice resource page with proper routing and enhanced styling
  pages/resources/restorative-justice.js
Owners: @DrSI-P

Add Adaptive Learning resource page with proper routing and enhanced styling
  pages/resources/adaptive-learning.js
Owners: @DrSI-P

Add Special Needs Support resource page with proper routing and enhanced styling
  pages/resources/special-needs.js
Owners: @DrSI-P

Add Student Portal, Educator Resources, and Restorative Justice pages to fix 404 errors
  pages/educator.js
  pages/resources/restorative-justice.js
  pages/student.js
Owners: @DrSI-P

Fix navigation component import paths to resolve build failures
  pages/resources/adaptive-learning.js
  pages/resources/restorative-justice.js
  pages/resources/special-needs.js
Owners: @DrSI-P

Fix navigation component import paths in index.js to resolve build failures
  pages/index.js
Owners: @DrSI-P

Fix useSession error in MainNavigation to handle undefined session during SSR/SSG
  src/components/ui/MainNavigation.tsx
Owners: @DrSI-P, @frontend-team

Add Special Needs Support resource page with enhanced brand styling
  pages/resources/special-needs.js
Owners: @DrSI-P

Install missing dependencies (@anthropic-ai/sdk, @google/generative-ai, axios) for AI components and update adaptive-learning page
  pages/resources/adaptive-learning.js
Owners: @DrSI-P

Fix styling issues: Remove externalDir from next.config.js and import brand CSS files in _app.tsx
  next.config.js
  src/pages/_app.tsx
Owners: @DrSI-P

Integrate AI avatar navigation assistant on homepage for enhanced user experience
  pages/index.js
Owners: @DrSI-P

Fix syntax error in next.config.js causing build failure
  next.config.js
Owners: @DrSI-P

Fix 404 errors by creating missing pages: analytics, settings, and learning-styles
  pages/analytics.js
  pages/resources/learning-styles.js
  pages/settings.js
Owners: @DrSI-P

Fix client-side exception in analytics page by simplifying component structure
  pages/analytics.js
Owners: @DrSI-P
