Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix TypeScript errors in character-creation.tsx: correct options type and arrow function syntax
  src/components/adventure-quest/character-creation.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in high-contrast-mode-engine.tsx: correct warnings array type definition
  src/components/ai/accessibility/high-contrast-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in high-contrast-mode-engine.tsx: correct warnings array type definition
  src/components/ai/accessibility/high-contrast-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in reduced-motion-mode-engine.tsx: correct warnings array type definition
  src/components/ai/accessibility/reduced-motion-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in reduced-motion-mode-engine.tsx: correct warnings array type definition
  src/components/ai/accessibility/reduced-motion-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in strategy-recommendations/route.ts: correct emotionRecords array type definition
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @special-needs-team

Fix TypeScript error in strategy-recommendations/route.ts: correct emotionRecords array type definition
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @special-needs-team

Fix TypeScript error in ai-powered-assessment/page.tsx: correct options type from string to string[]
  src/app/innovations/ai-powered-assessment/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript error in ai-powered-assessment/page.tsx: correct options type from string to string[]
  src/app/innovations/ai-powered-assessment/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript error in text-to-speech-engine.tsx: add missing warnings state variable
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in text-to-speech-engine.tsx: add missing warnings state variable
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in accessibility-validator.tsx: add proper type annotation to mockIssues array
  src/components/analytics/accessibility-validator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in accessibility-validator.tsx: add proper type annotation to mockIssues array
  src/components/analytics/accessibility-validator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in curriculum-alignment-validator.tsx: add proper type annotation to mockIssues array
  src/components/analytics/curriculum-alignment-validator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in curriculum-alignment-validator.tsx: add proper type annotation to mockIssues array
  src/components/analytics/curriculum-alignment-validator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-adaptive.tsx: add missing type annotation to assessmentResults parameter
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-adaptive.tsx: add missing type annotation to assessmentResults parameter
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-integrated.tsx: add proper type annotation to results parameter
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-integrated.tsx: add proper type annotation to results parameter
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-integrated.tsx: add type annotation to results parameter in handleCompleteQuest function
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-integrated.tsx: add type annotation to results parameter in handleCompleteQuest function
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript array type annotations and parameter types in multiple files
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
  src/components/assessment/question-types/file-upload.tsx
  src/components/assessment/question-types/multiple-choice.tsx
  src/components/communication/accessibility-validator.tsx
  src/components/communication/shared-goal-tracker.tsx
  src/components/content-creation/curriculum-alignment-checker.tsx
  src/components/restorative-justice/outcome-measurement/outcome-measurement-tools.tsx
  src/lib/ai/azure-cognitive-service.ts
  src/lib/auth/session.ts
  src/lib/cache.ts
  src/lib/compliance/contentModerationService.ts
Owners: @DrSI-P, @frontend-team, @ai-team, @backend-team

Fix TypeScript array type annotations and parameter types in multiple files
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
  src/components/assessment/question-types/file-upload.tsx
  src/components/assessment/question-types/multiple-choice.tsx
  src/components/communication/accessibility-validator.tsx
  src/components/communication/shared-goal-tracker.tsx
  src/components/content-creation/curriculum-alignment-checker.tsx
  src/components/restorative-justice/outcome-measurement/outcome-measurement-tools.tsx
  src/lib/ai/azure-cognitive-service.ts
  src/lib/auth/session.ts
  src/lib/cache.ts
  src/lib/compliance/contentModerationService.ts
Owners: @DrSI-P, @frontend-team, @ai-team, @backend-team

Fix complex TypeScript errors in learning-utils.tsx
  src/lib/learning-utils.tsx
Owners: @DrSI-P, @backend-team

Fix complex TypeScript errors in learning-utils.tsx
  src/lib/learning-utils.tsx
Owners: @DrSI-P, @backend-team

Fix TypeScript syntax errors in compliance/types.ts and ai-powered-assessment/page.tsx
  src/app/innovations/ai-powered-assessment/page.tsx
  src/lib/compliance/types.ts
Owners: @DrSI-P, @lead-developer, @backend-team

Fix TypeScript syntax errors in compliance/types.ts and ai-powered-assessment/page.tsx
  src/app/innovations/ai-powered-assessment/page.tsx
  src/lib/compliance/types.ts
Owners: @DrSI-P, @lead-developer, @backend-team

Fix generic type syntax in compliance/types.ts
  src/lib/compliance/types.ts
Owners: @DrSI-P, @backend-team

Fix generic type syntax in compliance/types.ts
  src/lib/compliance/types.ts
Owners: @DrSI-P, @backend-team

Fix build issues: type error in plans route and multiple migration failures
  package.json
Owners: @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  commit-and-push.bat
Owners: @DrSI-P

Fix build issues: type error in plans route and multiple migration failures including 20250522083600_add_course_progress_and_fix_enrollment
  commit-and-push.bat
  fix-build-issues.js
  fix-migrations.js
Owners: @DrSI-P

Fix build issues: type error in plans route and multiple migration failures including 20250522083600_add_course_progress_and_fix_enrollment
  package.json
Owners: @DevOps-team

Fix build issues: type error in plans route and multiple migration failures including 20250522083600_add_course_progress_and_fix_enrollment
  package.json
Owners: @DevOps-team

Add simple index.tsx to resolve 404 issue
  src/pages/index.tsx
Owners: @DrSI-P

Fix console statements and type issues in ai/accessibility/accessibility-controls.tsx
  src/components/ai/accessibility/accessibility-controls.tsx
Owners: @DrSI-P, @frontend-team

Add script to fix failed migrations
  fix-failed-migration.js
Owners: @DrSI-P

Update build script to fix migrations before deployment
  package.json
Owners: @DevOps-team

Add pg module as dependency for fix-failed-migration script
  package.json
Owners: @DevOps-team

Update fix-failed-migration script to handle all migrations and fix migration.sql.fixed issue
  fix-failed-migration.js
Owners: @DrSI-P

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
