Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Replace any type with proper interface in adaptive-complexity page
  progress.md
  src/app/adaptive-complexity/page.tsx
Owners: @documentation-team, @DrSI-P, @lead-developer

Replace any type with proper interface in adaptive-complexity page
  progress.md
  src/app/adaptive-complexity/page.tsx
Owners: @documentation-team, @DrSI-P, @lead-developer

Replace any types with proper interfaces in mindfulness API route
  progress.md
  src/app/api/special-needs/mindfulness/route.ts
Owners: @documentation-team, @special-needs-team

Replace any types with proper interfaces in mindfulness API route
  progress.md
  src/app/api/special-needs/mindfulness/route.ts
Owners: @documentation-team, @special-needs-team

Replace any types with proper interfaces in mindfulness API route
  progress.md
  src/app/api/special-needs/mindfulness/route.ts
Owners: @documentation-team, @special-needs-team

Replace any types with proper interfaces in adaptive-complexity-engine component
  progress.md
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
Owners: @documentation-team, @DrSI-P, @frontend-team

Replace any types with proper interfaces in adaptive-complexity-engine component
  progress.md
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
Owners: @documentation-team, @DrSI-P, @frontend-team

Replace any types with proper interfaces in adaptive-complexity-engine component
  progress.md
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
Owners: @documentation-team, @DrSI-P, @frontend-team

Add interfaces and null checks to accessibility API route
  progress.md
  src/app/api/ai/accessibility/route.ts
Owners: @documentation-team, @ai-team

Add interfaces and null checks to accessibility API route
  progress.md
  src/app/api/ai/accessibility/route.ts
Owners: @documentation-team, @ai-team

Add interfaces and null checks to accessibility API route
  progress.md
  src/app/api/ai/accessibility/route.ts
Owners: @documentation-team, @ai-team

Add interfaces and null checks to adaptive-complexity API route
  progress.md
  src/app/api/ai/adaptive-complexity/route.ts
Owners: @documentation-team, @ai-team

Add interfaces and null checks to adaptive-complexity API route
  progress.md
  src/app/api/ai/adaptive-complexity/route.ts
Owners: @documentation-team, @ai-team

Add interfaces and null checks to adaptive-complexity API route
  progress.md
  src/app/api/ai/adaptive-complexity/route.ts
Owners: @documentation-team, @ai-team

Add interfaces and type definitions to AI service utility
  progress.md
  src/lib/ai/ai-service.ts
Owners: @documentation-team, @ai-team

Add interfaces and type definitions to AI service utility
  progress.md
  src/lib/ai/ai-service.ts
Owners: @documentation-team, @ai-team

Add interfaces and type definitions to AI service utility
  progress.md
  src/lib/ai/ai-service.ts
Owners: @documentation-team, @ai-team

Fix unused imports and add interfaces to resource recommendations API route
  progress.md
  src/app/api/resource/recommendations/route.ts
Owners: @documentation-team, @backend-team

Fix unused imports and add interfaces to resource recommendations API route
  progress.md
  src/app/api/resource/recommendations/route.ts
Owners: @documentation-team, @backend-team

Fix unused imports and add interfaces to resource recommendations API route
  progress.md
  src/app/api/resource/recommendations/route.ts
Owners: @documentation-team, @backend-team

Add interfaces and return types to webinar API route
  progress.md
  src/app/api/professional-development/webinar/route.ts
Owners: @documentation-team, @backend-team

Add interfaces and return types to webinar API route
  progress.md
  src/app/api/professional-development/webinar/route.ts
Owners: @documentation-team, @backend-team

Add interfaces and return types to webinar API route
  progress.md
  src/app/api/professional-development/webinar/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in i18n test file
  progress.md
  src/tests/i18n.test.js
Owners: @documentation-team, @DrSI-P

Fix ESLint errors in i18n test file
  progress.md
  src/tests/i18n.test.js
Owners: @documentation-team, @DrSI-P

Fix ESLint errors in i18n test file
  progress.md
  src/tests/i18n.test.js
Owners: @documentation-team, @DrSI-P

Fix ESLint errors in Jest setup file
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix ESLint errors in Jest setup file
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix ESLint errors in Jest setup file
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix ESLint errors in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix ESLint errors in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix ESLint errors in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Add interfaces and return types to community API route
  progress.md
  src/app/api/professional-development/community/route.ts
Owners: @documentation-team, @backend-team

Add interfaces and return types to community API route
  progress.md
  src/app/api/professional-development/community/route.ts
Owners: @documentation-team, @backend-team

Add interfaces and return types to community API route
  progress.md
  src/app/api/professional-development/community/route.ts
Owners: @documentation-team, @backend-team

Add interfaces and return types to cpd-tracking API route
  progress.md
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @documentation-team, @backend-team

Add interfaces and return types to cpd-tracking API route
  progress.md
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @documentation-team, @backend-team

Add interfaces and return types to cpd-tracking API route
  progress.md
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in i18n test file
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix ESLint errors in i18n test file
  src/tests/i18n.test.js
Owners: @DrSI-P

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
