Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix remaining TypeScript errors in curriculum-differentiation route
  src/app/api/ai/curriculum-differentiation/route.ts
Owners: @ai-team

Fix remaining TypeScript errors in curriculum-differentiation route
  src/app/api/ai/curriculum-differentiation/route.ts
Owners: @ai-team

Fix TypeScript and JSX syntax errors in educator components and error boundary files
  src/app/api/assessment/[id]/publish/route.ts.fixed
  src/app/api/assessment/[id]/results/route.ts.fixed
  src/app/api/faq/chat/route.ts.fixed
  src/app/api/faq/questions/route.ts.fixed
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/error-boundary/error-boundary.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix TypeScript and JSX syntax errors in educator components and error boundary files
  src/app/api/assessment/[id]/publish/route.ts.fixed
  src/app/api/assessment/[id]/results/route.ts.fixed
  src/app/api/faq/chat/route.ts.fixed
  src/app/api/faq/questions/route.ts.fixed
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/error-boundary/error-boundary.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix TypeScript and syntax errors in special-needs and student-voice modules
  src/app/api/educator/data-visualisation/route.ts.fixed
  src/app/api/educator/documentation/route.ts.fixed
  src/app/api/parent-school/meetings/route.ts.fixed
  src/app/api/special-needs/behavior-tracking/data/route.ts.fixed
  src/app/api/special-needs/behavior-tracking/goals/route.ts.fixed
  src/app/api/special-needs/behavior-tracking/rewards/route.ts.fixed
  src/app/api/special-needs/digital-expression/route.ts.fixed
  src/app/api/special-needs/parent-teacher-communication/route.ts.fixed
  src/app/api/special-needs/parent-teacher-communication/settings/route.ts.fixed
  src/app/api/special-needs/personalized-interventions/route.ts.fixed
  src/app/api/special-needs/transition-planning/plans/route.ts.fixed
  src/app/api/student-voice/conferences/route.ts.fixed
  src/app/assessment/grade/[id]/page.tsx.fixed
  src/app/assessment/preview/[id]/page.tsx.fixed
Owners: @backend-team, @special-needs-team, @DrSI-P, @lead-developer

Fix TypeScript and syntax errors in special-needs and student-voice modules
  src/app/api/educator/data-visualisation/route.ts.fixed
  src/app/api/educator/documentation/route.ts.fixed
  src/app/api/parent-school/meetings/route.ts.fixed
  src/app/api/special-needs/behavior-tracking/data/route.ts.fixed
  src/app/api/special-needs/behavior-tracking/goals/route.ts.fixed
  src/app/api/special-needs/behavior-tracking/rewards/route.ts.fixed
  src/app/api/special-needs/digital-expression/route.ts.fixed
  src/app/api/special-needs/parent-teacher-communication/route.ts.fixed
  src/app/api/special-needs/parent-teacher-communication/settings/route.ts.fixed
  src/app/api/special-needs/personalized-interventions/route.ts.fixed
  src/app/api/special-needs/transition-planning/plans/route.ts.fixed
  src/app/api/student-voice/conferences/route.ts.fixed
  src/app/assessment/grade/[id]/page.tsx.fixed
  src/app/assessment/preview/[id]/page.tsx.fixed
Owners: @backend-team, @special-needs-team, @DrSI-P, @lead-developer

Fix TypeScript and syntax errors in restorative-justice and parent-teacher-communication modules
  src/app/api/restorative-justice/staff-training/modules/route.ts.fixed
  src/app/api/special-needs/parent-teacher-communication/meetings/route.ts.fixed
  src/app/api/special-needs/parent-teacher-communication/messages/route.ts.fixed
Owners: @backend-team, @special-needs-team

Fix TypeScript and syntax errors in restorative-justice and parent-teacher-communication modules
  src/app/api/restorative-justice/staff-training/modules/route.ts.fixed
  src/app/api/special-needs/parent-teacher-communication/meetings/route.ts.fixed
  src/app/api/special-needs/parent-teacher-communication/messages/route.ts.fixed
Owners: @backend-team, @special-needs-team

Fix TypeScript and syntax errors in AI API modules
  src/app/api/ai/embedding/route.ts.fixed
  src/app/api/ai/emotional-checkin/route.ts.fixed
  src/app/api/ai/executive-dysfunction/route.ts.fixed
  src/app/api/ai/image/route.ts.fixed
  src/app/api/ai/learning-style/route.ts.fixed
  src/app/api/ai/progress-pacing/route.ts.fixed
  src/app/api/ai/speech-recognition/calibration/route.ts.fixed
  src/app/api/ai/speech-recognition/route.ts.fixed
Owners: @ai-team

Fix TypeScript and syntax errors in AI API modules
  src/app/api/ai/embedding/route.ts.fixed
  src/app/api/ai/emotional-checkin/route.ts.fixed
  src/app/api/ai/executive-dysfunction/route.ts.fixed
  src/app/api/ai/image/route.ts.fixed
  src/app/api/ai/learning-style/route.ts.fixed
  src/app/api/ai/progress-pacing/route.ts.fixed
  src/app/api/ai/speech-recognition/calibration/route.ts.fixed
  src/app/api/ai/speech-recognition/route.ts.fixed
Owners: @ai-team

Restructure lib directory with barrel files and fix syntax errors in assessment API modules
  global.d.ts
  next.config.js.new
  package-lock.json
  package.json
  src/app/api/assessment/[id]/route.ts.fixed
  src/app/api/assessment/[id]/route.ts.relative
  src/app/api/assessment/[id]/submit/route.ts.fixed
  src/app/api/assessment/[id]/submit/route.ts.relative
  src/lib/ai/index.ts
  src/lib/auth/index.ts
  src/lib/db/index.ts
  src/types/global.d.ts
  tsconfig.json.new
  tsconfig.json.updated
Owners: @DrSI-P, @DevOps-team, @backend-team, @ai-team

Restructure lib directory with barrel files and fix syntax errors in assessment API modules
  global.d.ts
  next.config.js.new
  package-lock.json
  package.json
  src/app/api/assessment/[id]/route.ts.fixed
  src/app/api/assessment/[id]/route.ts.relative
  src/app/api/assessment/[id]/submit/route.ts.fixed
  src/app/api/assessment/[id]/submit/route.ts.relative
  src/lib/ai/index.ts
  src/lib/auth/index.ts
  src/lib/db/index.ts
  src/types/global.d.ts
  tsconfig.json.new
  tsconfig.json.updated
Owners: @DrSI-P, @DevOps-team, @backend-team, @ai-team

Fix next.config.js module resolution paths to resolve build error
  next.config.js
Owners: @DrSI-P

Fix next.config.js module resolution paths to resolve build error
  next.config.js
Owners: @DrSI-P

Fix next.config.js module resolution using path.join with __dirname for absolute paths
  next.config.js
Owners: @DrSI-P

Fix next.config.js module resolution using path.join with __dirname for absolute paths
  next.config.js
Owners: @DrSI-P

Fix TypeScript and syntax errors in multiple components and API routes
  src/app/api/assessment/ai-generate/route.ts
  src/app/api/assessment/pupil-voice/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/error-boundary/error-boundary.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix TypeScript and syntax errors in multiple components and API routes
  src/app/api/assessment/ai-generate/route.ts
  src/app/api/assessment/pupil-voice/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/error-boundary/error-boundary.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix TypeScript and JSX syntax errors in multiple components
  src/app/api/assessment/pupil-voice/route.ts
  src/app/api/assessment/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix TypeScript and JSX syntax errors in multiple components
  src/app/api/assessment/pupil-voice/route.ts
  src/app/api/assessment/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix JSX syntax errors in smart-lesson-planning.tsx, error-boundary-integration.tsx, and heygen-video-generation.tsx
  src/components/educator/parent-communication-management.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in smart-lesson-planning.tsx, error-boundary-integration.tsx, and heygen-video-generation.tsx
  src/components/educator/parent-communication-management.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in component files with more robust approach
  src/app/api/professional-development/cpd-tracking/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix JSX syntax errors in component files with more robust approach
  src/app/api/professional-development/cpd-tracking/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix JSX syntax errors in data-visualisation-dashboard.tsx with explicit return statements
  src/components/assessment/assessment-module.tsx
  src/components/educator/data-visualisation-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in data-visualisation-dashboard.tsx with explicit return statements
  src/components/assessment/assessment-module.tsx
  src/components/educator/data-visualisation-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in parent-communication-management.tsx with explicit return statements
  src/components/educator/parent-communication-management.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in parent-communication-management.tsx with explicit return statements
  src/components/educator/parent-communication-management.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in data-visualisation-dashboard.tsx with complete chart components
  src/components/educator/data-visualisation-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in data-visualisation-dashboard.tsx with complete chart components
  src/components/educator/data-visualisation-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors by converting arrow functions to standard function declarations
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors by converting arrow functions to standard function declarations
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in parent-communication-management.tsx by converting arrow functions to standard functions
  src/components/educator/parent-communication-management.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in parent-communication-management.tsx by converting arrow functions to standard functions
  src/components/educator/parent-communication-management.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and syntax errors in API route files
  src/app/api/assessment/pupil-voice/route.ts
  src/app/api/assessment/route.ts
  src/app/api/professional-development/community/route.ts
  src/app/api/professional-development/cpd-tracking/route.ts
  src/app/api/professional-development/learning-communities/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/special-needs/emotional-vocabulary/route.ts
Owners: @backend-team, @special-needs-team

Fix TypeScript and syntax errors in API route files
  src/app/api/assessment/pupil-voice/route.ts
  src/app/api/assessment/route.ts
  src/app/api/professional-development/community/route.ts
  src/app/api/professional-development/cpd-tracking/route.ts
  src/app/api/professional-development/learning-communities/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/special-needs/emotional-vocabulary/route.ts
Owners: @backend-team, @special-needs-team

Fix JSX and syntax errors in educator component files
  src/app/api/professional-development/portfolio/route.ts
  src/app/api/professional-development/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix JSX and syntax errors in educator component files
  src/app/api/professional-development/portfolio/route.ts
  src/app/api/professional-development/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @backend-team, @DrSI-P, @frontend-team

Fix TypeScript and syntax errors in API route files and assessment components
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/app/api/special-needs/social-skills/goals/route.ts
  src/app/api/special-needs/social-skills/interactions/route.ts
  src/components/assessment/assessment-creator.tsx
Owners: @special-needs-team, @DrSI-P, @frontend-team

Fix TypeScript and syntax errors in API route files and assessment components
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/app/api/special-needs/social-skills/goals/route.ts
  src/app/api/special-needs/social-skills/interactions/route.ts
  src/components/assessment/assessment-creator.tsx
Owners: @special-needs-team, @DrSI-P, @frontend-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
