Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix JSX syntax errors in complete-rebuild branch components
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  todo-complete-rebuild.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Fix JSX syntax and type annotation errors in complete-rebuild branch
  src/components/educator/parent-communication-management.tsx
  src/components/heygen/heygen-video-library.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax and type annotation errors in complete-rebuild branch
  src/components/educator/parent-communication-management.tsx
  src/components/heygen/heygen-video-library.tsx
Owners: @DrSI-P, @frontend-team

Fix: Align tsconfig.json moduleResolution to 'bundler' and add test component
  src/app/test-page/page.tsx
  src/components/test-component.tsx
  tsconfig.json
Owners: @DrSI-P, @lead-developer, @frontend-team, @DevOps-team

Fix: Align tsconfig.json moduleResolution to 'bundler' and add test component
  src/app/test-page/page.tsx
  src/components/test-component.tsx
  tsconfig.json
Owners: @DrSI-P, @lead-developer, @frontend-team, @DevOps-team

Replace problematic TSX files with clean copies from main branch
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/heygen/heygen-video-generation.tsx
  src/components/heygen/heygen-video-library.tsx
Owners: @DrSI-P, @frontend-team

Replace problematic TSX files with clean copies from main branch
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/heygen/heygen-video-generation.tsx
  src/components/heygen/heygen-video-library.tsx
Owners: @DrSI-P, @frontend-team

Fix invalid type annotations in parent-school components
  src/components/parent-school/home-strategy-library.tsx
  src/components/parent-school/parent-communication.tsx
  src/components/parent-school/parent-school-collaboration.tsx
  src/components/parent-school/shared-goal-tracking.tsx
Owners: @DrSI-P, @frontend-team

Fix invalid type annotations in parent-school components
  src/components/parent-school/home-strategy-library.tsx
  src/components/parent-school/parent-communication.tsx
  src/components/parent-school/parent-school-collaboration.tsx
  src/components/parent-school/shared-goal-tracking.tsx
Owners: @DrSI-P, @frontend-team

Replace problematic TSX files with minimal valid exports to isolate build errors
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/parent-school/home-strategy-library.tsx
  src/components/parent-school/parent-communication.tsx
  src/components/parent-school/parent-school-collaboration.tsx
  src/components/parent-school/shared-goal-tracking.tsx
Owners: @DrSI-P, @frontend-team

Replace problematic TSX files with minimal valid exports to isolate build errors
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/parent-school/home-strategy-library.tsx
  src/components/parent-school/parent-communication.tsx
  src/components/parent-school/parent-school-collaboration.tsx
  src/components/parent-school/shared-goal-tracking.tsx
Owners: @DrSI-P, @frontend-team

Fix invalid type annotations in multiple components
  src/components/parent-school/virtual-conference-tools.tsx
  src/components/professional-development/certificate-generator.tsx
  src/components/professional-development/cpd-tracking.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix invalid type annotations in multiple components
  src/components/parent-school/virtual-conference-tools.tsx
  src/components/professional-development/certificate-generator.tsx
  src/components/professional-development/cpd-tracking.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Batch 1: Fix invalid type annotations in certificate.tsx, learning-communities.tsx, and mentor-matching-dashboard.tsx
  src/components/icons/certificate.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Batch 1: Fix invalid type annotations in certificate.tsx, learning-communities.tsx, and mentor-matching-dashboard.tsx
  src/components/icons/certificate.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Batch 2: Fix JSX identifier errors and additional type annotations
  src/components/parent-school/virtual-conference-tools.tsx
  src/components/professional-development/cpd-tracking.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
  src/components/professional-development/portfolio-export.tsx
Owners: @DrSI-P, @frontend-team

Batch 2: Fix JSX identifier errors and additional type annotations
  src/components/parent-school/virtual-conference-tools.tsx
  src/components/professional-development/cpd-tracking.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
  src/components/professional-development/portfolio-export.tsx
Owners: @DrSI-P, @frontend-team

Batch 3: Fix additional invalid type annotations and JSX identifier errors
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-development-analytics.tsx
  src/components/professional-development/professional-development-courses.tsx
Owners: @DrSI-P, @frontend-team

Batch 3: Fix additional invalid type annotations and JSX identifier errors
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-development-analytics.tsx
  src/components/professional-development/professional-development-courses.tsx
Owners: @DrSI-P, @frontend-team

Batch 4: Fix additional invalid type annotations and reconstruct mentor-matching-dashboard.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-development-courses.tsx
  src/components/professional-development/professional-portfolio.tsx
Owners: @DrSI-P, @frontend-team

Batch 4: Fix additional invalid type annotations and reconstruct mentor-matching-dashboard.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching-dashboard.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-development-courses.tsx
  src/components/professional-development/professional-portfolio.tsx
Owners: @DrSI-P, @frontend-team

Batch 5: Comprehensive fixes for portfolio-export.tsx, research-collaboration-dashboard.tsx, and professional-portfolio.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-portfolio.tsx
  src/components/professional-development/research-collaboration-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Batch 5: Comprehensive fixes for portfolio-export.tsx, research-collaboration-dashboard.tsx, and professional-portfolio.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-portfolio.tsx
  src/components/professional-development/research-collaboration-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Batch 7: Fix invalid type annotations in special-needs components and volume-up icon
  src/components/icons/volume-up.tsx
  src/components/special-needs/emotional-regulation/emotional-regulation-engine.tsx
  src/components/special-needs/intervention-analytics/intervention-analytics-engine.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
Owners: @DrSI-P, @frontend-team

Batch 7: Fix invalid type annotations in special-needs components and volume-up icon
  src/components/icons/volume-up.tsx
  src/components/special-needs/emotional-regulation/emotional-regulation-engine.tsx
  src/components/special-needs/intervention-analytics/intervention-analytics-engine.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix syntax errors introduced by previous automated replacements
  src/components/special-needs/emotional-regulation/emotional-regulation-engine.tsx
  src/components/special-needs/intervention-analytics/intervention-analytics-engine.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
  src/components/special-needs/sensory-regulation/sensory-regulation-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix syntax errors introduced by previous automated replacements
  src/components/special-needs/emotional-regulation/emotional-regulation-engine.tsx
  src/components/special-needs/intervention-analytics/intervention-analytics-engine.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
  src/components/special-needs/sensory-regulation/sensory-regulation-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix personalized-interventions-engine.tsx with complete rewrite
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix personalized-interventions-engine.tsx with complete rewrite
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix progress-monitoring-engine.tsx with complete rewrite
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix progress-monitoring-engine.tsx with complete rewrite
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix sensory-regulation-engine.tsx with complete rewrite
  src/components/special-needs/sensory-regulation/sensory-regulation-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix sensory-regulation-engine.tsx with complete rewrite
  src/components/special-needs/sensory-regulation/sensory-regulation-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix anonymous-suggestion-system.tsx with complete rewrite
  src/components/student-voice/anonymous-suggestion-system.tsx
Owners: @DrSI-P, @frontend-team

Fix anonymous-suggestion-system.tsx with complete rewrite
  src/components/student-voice/anonymous-suggestion-system.tsx
Owners: @DrSI-P, @frontend-team

Fix collaborative-goal-setting.tsx type annotation
  src/components/student-voice/collaborative-goal-setting.tsx
Owners: @DrSI-P, @frontend-team

Fix collaborative-goal-setting.tsx type annotation
  src/components/student-voice/collaborative-goal-setting.tsx
Owners: @DrSI-P, @frontend-team

Fix student-led-conference-tool.tsx syntax error
  src/components/student-voice/student-led-conference-tool.tsx
Owners: @DrSI-P, @frontend-team

Fix student-led-conference-tool.tsx syntax error
  src/components/student-voice/student-led-conference-tool.tsx
Owners: @DrSI-P, @frontend-team

Fix transcription-translation-system.tsx type annotations and syntax
  src/components/student-voice/transcription-translation-system.tsx
Owners: @DrSI-P, @frontend-team
