Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix TypeScript and linting errors in character-creation.tsx
  src/components/adventure-quest/character-creation.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in character-creation.tsx
  src/components/adventure-quest/character-creation.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in screen-reader-optimization-engine.tsx
  src/components/ai/accessibility/screen-reader-optimization-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in screen-reader-optimization-engine.tsx
  src/components/ai/accessibility/screen-reader-optimization-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in speech-to-text-engine.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in speech-to-text-engine.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in text-to-speech-engine.tsx
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in text-to-speech-engine.tsx
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @frontend-team

Auto-backup: Sat May 24 10:52:13 EDT 2025
  todo.md
  typescript_errors.log
Owners: @documentation-team, @DrSI-P

Auto-backup: Sat May 24 10:52:13 EDT 2025
  todo.md
  typescript_errors.log
Owners: @documentation-team, @DrSI-P

Fix TypeScript and linting errors in keyboard-navigation-engine.tsx
  src/components/ai/accessibility/keyboard-navigation-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in keyboard-navigation-engine.tsx
  src/components/ai/accessibility/keyboard-navigation-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in high-contrast-mode-engine.tsx
  src/components/ai/accessibility/high-contrast-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in high-contrast-mode-engine.tsx
  src/components/ai/accessibility/high-contrast-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in reduced-motion-mode-engine.tsx
  src/components/ai/accessibility/reduced-motion-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript and linting errors in reduced-motion-mode-engine.tsx
  src/components/ai/accessibility/reduced-motion-mode-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in high-contrast page component
  src/app/accessibility/high-contrast/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in high-contrast page component
  src/app/accessibility/high-contrast/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in keyboard-navigation page component
  src/app/accessibility/keyboard-navigation/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in keyboard-navigation page component
  src/app/accessibility/keyboard-navigation/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in reduced-motion page component
  src/app/accessibility/reduced-motion/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in reduced-motion page component
  src/app/accessibility/reduced-motion/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in main accessibility page component
  src/app/accessibility/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in main accessibility page component
  src/app/accessibility/page.tsx
Owners: @accessibility-team

Add @types/bcrypt to fix TypeScript declaration error
  package-lock.json
  package.json
Owners: @DevOps-team

Add @types/bcrypt to fix TypeScript declaration error
  package-lock.json
  package.json
Owners: @DevOps-team

Fix TypeScript errors in screen-reader-optimization page component
  src/app/accessibility/screen-reader-optimization/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in screen-reader-optimization page component
  src/app/accessibility/screen-reader-optimization/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in speech-to-text page component
  src/app/accessibility/speech-to-text/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in speech-to-text page component
  src/app/accessibility/speech-to-text/page.tsx
Owners: @accessibility-team

Auto-backup: Sat May 24 11:07:14 EDT 2025
  typescript_errors.log
Owners: @DrSI-P

Auto-backup: Sat May 24 11:07:14 EDT 2025
  typescript_errors.log
Owners: @DrSI-P

Fix TypeScript errors in text-to-speech page component
  src/app/accessibility/text-to-speech/page.tsx
Owners: @accessibility-team

Fix TypeScript errors in text-to-speech page component
  src/app/accessibility/text-to-speech/page.tsx
Owners: @accessibility-team

Add automation script and fix TypeScript errors in accessibility components
  fix-typescript-errors.js
  package-lock.json
  package.json
  src/components/ai/accessibility/accessibility-controls.tsx
  src/components/ai/accessibility/color-blindness-mode-engine.tsx
  src/components/ai/accessibility/dyslexia-friendly-mode-engine.tsx
  src/components/ai/accessibility/focus-mode-engine.tsx
  src/components/ai/accessibility/reading-time-estimator.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @DevOps-team, @frontend-team

Add automation script and fix TypeScript errors in accessibility components
  fix-typescript-errors.js
  package-lock.json
  package.json
  src/components/ai/accessibility/accessibility-controls.tsx
  src/components/ai/accessibility/color-blindness-mode-engine.tsx
  src/components/ai/accessibility/dyslexia-friendly-mode-engine.tsx
  src/components/ai/accessibility/focus-mode-engine.tsx
  src/components/ai/accessibility/reading-time-estimator.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @DevOps-team, @frontend-team

Fix TypeScript errors in assessment route handler
  src/app/api/assessment/[id]/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment route handler
  src/app/api/assessment/[id]/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment results route handler
  src/app/api/assessment/[id]/results/route.ts
Owners: @backend-team

Fix TypeScript errors in assessment results route handler
  src/app/api/assessment/[id]/results/route.ts
Owners: @backend-team
