Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix transcription-translation-system.tsx type annotations and syntax
  src/components/student-voice/transcription-translation-system.tsx
Owners: @DrSI-P, @frontend-team

Fix syntax errors and type annotations in multiple components
  src/components/student-voice/transcription-translation-system.tsx
  src/components/ui/accordion.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/calendar.tsx
  src/components/ui/date-picker.tsx
Owners: @DrSI-P, @frontend-team

Fix syntax errors and type annotations in multiple components
  src/components/student-voice/transcription-translation-system.tsx
  src/components/ui/accordion.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/calendar.tsx
  src/components/ui/date-picker.tsx
Owners: @DrSI-P, @frontend-team

Fix syntax errors and type annotations in UI components
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/loading.tsx
  src/components/ui/modal.tsx
  src/components/ui/pagination.tsx
Owners: @DrSI-P, @frontend-team

Fix syntax errors and type annotations in UI components
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/loading.tsx
  src/components/ui/modal.tsx
  src/components/ui/pagination.tsx
Owners: @DrSI-P, @frontend-team

Fix syntax errors and type annotations in UI components and services
  src/components/ui/progress.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/slider.tsx
  src/lib/adaptive-complexity/adaptive-complexity-service.ts
Owners: @DrSI-P, @frontend-team, @backend-team

Fix syntax errors and type annotations in UI components and services
  src/components/ui/progress.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/slider.tsx
  src/lib/adaptive-complexity/adaptive-complexity-service.ts
Owners: @DrSI-P, @frontend-team, @backend-team

Fix syntax errors and missing modules
  src/components/about/TeamMember.tsx
  src/lib/ai-avatar/avatar-service.ts
  src/lib/ai/ai-service.ts
  src/lib/auth.ts
  src/lib/db.ts
Owners: @DrSI-P, @frontend-team, @backend-team, @ai-team, @security-team, @database-team

Fix syntax errors and missing modules
  src/components/about/TeamMember.tsx
  src/lib/ai-avatar/avatar-service.ts
  src/lib/ai/ai-service.ts
  src/lib/auth.ts
  src/lib/db.ts
Owners: @DrSI-P, @frontend-team, @backend-team, @ai-team, @security-team, @database-team

Fix import paths in API route files
  src/app/api/assessment/[id]/route.ts
  src/app/api/assessment/[id]/submit/route.ts
Owners: @backend-team

Fix import paths in API route files
  src/app/api/assessment/[id]/route.ts
  src/app/api/assessment/[id]/submit/route.ts
Owners: @backend-team

Fix syntax errors in API route files
  src/app/api/assessment/templates/[id]/route.ts
  src/app/api/assessment/templates/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/blog/generate/route.ts
Owners: @backend-team, @security-team

Fix syntax errors in API route files
  src/app/api/assessment/templates/[id]/route.ts
  src/app/api/assessment/templates/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/blog/generate/route.ts
Owners: @backend-team, @security-team

Fix syntax errors in API route files
  src/app/api/blog/moderation/route.ts
  src/app/api/blog/schedules/route.ts
  src/app/api/credits/route.ts
  src/app/api/curriculum/collaboration/route.ts
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix syntax errors in API route files
  src/app/api/blog/moderation/route.ts
  src/app/api/blog/schedules/route.ts
  src/app/api/credits/route.ts
  src/app/api/curriculum/collaboration/route.ts
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix syntax errors in API route files
  src/app/api/curriculum/standards/[id]/assessments/route.ts
  src/app/api/curriculum/standards/[id]/route.ts
  src/app/api/curriculum/standards/route.ts
  src/app/api/educator/calendar/route.ts
  src/app/api/educator/lesson-planning/route.ts
Owners: @backend-team

Fix syntax errors in API route files
  src/app/api/curriculum/standards/[id]/assessments/route.ts
  src/app/api/curriculum/standards/[id]/route.ts
  src/app/api/curriculum/standards/route.ts
  src/app/api/educator/calendar/route.ts
  src/app/api/educator/lesson-planning/route.ts
Owners: @backend-team

Fix syntax errors in API route files
  src/app/api/educator/parent-communication/route.ts
  src/app/api/educator/progress-reports/route.ts
  src/app/api/faq/categories/route.ts
  src/app/api/health/route.ts
  src/app/api/heygen/cost-managed-videos/route.ts
Owners: @backend-team

Fix syntax errors in API route files
  src/app/api/educator/parent-communication/route.ts
  src/app/api/educator/progress-reports/route.ts
  src/app/api/faq/categories/route.ts
  src/app/api/health/route.ts
  src/app/api/heygen/cost-managed-videos/route.ts
Owners: @backend-team

Fix syntax errors in heygen videos and immersive learning API routes
  src/app/api/heygen/videos/[id]/route.ts
  src/app/api/heygen/videos/route.ts
  src/app/api/immersive-learning/experiences/route.ts
  src/app/api/immersive-learning/tools/route.ts
  src/app/api/parent-school/celebrations/route.ts
Owners: @backend-team

Fix syntax errors in heygen videos and immersive learning API routes
  src/app/api/heygen/videos/[id]/route.ts
  src/app/api/heygen/videos/route.ts
  src/app/api/immersive-learning/experiences/route.ts
  src/app/api/immersive-learning/tools/route.ts
  src/app/api/parent-school/celebrations/route.ts
Owners: @backend-team

Fix persistent type annotation corruption in critical files
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/lib/utils.ts
  src/pages/blog/categories.tsx
  src/pages/blog/new.tsx
Owners: @DrSI-P, @frontend-team, @backend-team

Fix persistent type annotation corruption in critical files
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/lib/utils.ts
  src/pages/blog/categories.tsx
  src/pages/blog/new.tsx
Owners: @DrSI-P, @frontend-team, @backend-team

Fix JSX syntax errors in custom-report-builder.tsx and other files with type annotation corruption
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/restorative-justice/parent-education/parent-education-resources.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in custom-report-builder.tsx and other files with type annotation corruption
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/restorative-justice/parent-education/parent-education-resources.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix remaining type annotation and syntax errors in multiple files
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/restorative-justice/parent-education/parent-education-resources.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix remaining type annotation and syntax errors in multiple files
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/restorative-justice/parent-education/parent-education-resources.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/special-needs/personalized-interventions/personalized-interventions-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix type annotation corruption in multiple files
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
  src/components/special-needs/sensory-regulation/sensory-regulation-engine.tsx
  src/components/theme-provider.tsx
  src/components/ui/AccessibilityControls.tsx
  src/components/ui/AchievementCard.tsx
Owners: @DrSI-P, @frontend-team

Fix type annotation corruption in multiple files
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
  src/components/special-needs/sensory-regulation/sensory-regulation-engine.tsx
  src/components/theme-provider.tsx
  src/components/ui/AccessibilityControls.tsx
  src/components/ui/AchievementCard.tsx
Owners: @DrSI-P, @frontend-team

Fix type annotation issues in critical files
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/components/faq/FAQDetail.tsx
  src/lib/utils.ts
  src/pages/blog/[slug].tsx
Owners: @DrSI-P, @frontend-team, @backend-team

Fix type annotation issues in critical files
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/components/faq/FAQDetail.tsx
  src/lib/utils.ts
  src/pages/blog/[slug].tsx
Owners: @DrSI-P, @frontend-team, @backend-team

Add comprehensive type annotation fix script
  comprehensive-src-only-fix.py
Owners: @DrSI-P

Add comprehensive type annotation fix script
  comprehensive-src-only-fix.py
Owners: @DrSI-P

Fix TypeScript type annotation syntax issues across codebase and downgrade recharts to 2.12.0 for compatibility
  final-comprehensive-fix.py
  final_type_annotation_fixes.diff
  package-lock.json
  package.json
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/blog/educational-ai-blog.tsx
  src/components/educator/automated-progress-report-generation.tsx
  src/lib/ai/guidanceService.ts
  src/lib/analytics/analyticsService.ts
  src/lib/cache.ts
  src/lib/collaboration/collaborationService.ts
  src/lib/db-utils.ts
  src/lib/utils.ts
  src/pages/blog/[slug].tsx
  types/recharts/index.d.ts
Owners: @DrSI-P, @DevOps-team, @special-needs-team, @frontend-team, @ai-team, @backend-team

Fix TypeScript type annotation syntax issues across codebase and downgrade recharts to 2.12.0 for compatibility
  final-comprehensive-fix.py
  final_type_annotation_fixes.diff
  package-lock.json
  package.json
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/blog/educational-ai-blog.tsx
  src/components/educator/automated-progress-report-generation.tsx
  src/lib/ai/guidanceService.ts
  src/lib/analytics/analyticsService.ts
  src/lib/cache.ts
  src/lib/collaboration/collaborationService.ts
  src/lib/db-utils.ts
  src/lib/utils.ts
  src/pages/blog/[slug].tsx
  types/recharts/index.d.ts
Owners: @DrSI-P, @DevOps-team, @special-needs-team, @frontend-team, @ai-team, @backend-team

Fix TypeScript syntax errors in multiple files: utils.ts, blog/[slug].tsx, custom-report-builder.tsx, educational-ai-blog.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/blog/educational-ai-blog.tsx
  src/lib/utils.ts
  src/pages/blog/[slug].tsx
Owners: @DrSI-P, @frontend-team, @backend-team

Fix TypeScript syntax errors in multiple files: utils.ts, blog/[slug].tsx, custom-report-builder.tsx, educational-ai-blog.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/blog/educational-ai-blog.tsx
  src/lib/utils.ts
  src/pages/blog/[slug].tsx
Owners: @DrSI-P, @frontend-team, @backend-team

Fix TypeScript syntax errors in AI component files: text-to-speech-engine.tsx, curriculum-differentiation-engine.tsx, emotional-checkin.tsx
  src/components/ai/curriculum-differentiation/curriculum-differentiation-engine.tsx
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax errors in AI component files: text-to-speech-engine.tsx, curriculum-differentiation-engine.tsx, emotional-checkin.tsx
  src/components/ai/curriculum-differentiation/curriculum-differentiation-engine.tsx
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript syntax error in pattern-recognition/route.ts - correct parameter type annotations
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
Owners: @special-needs-team
