Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix null assignment type errors in AI config route
  src/app/api/ai/config/route.ts
Owners: @ai-team

Fix possible undefined object property access in community members decrement
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix possible undefined object property access in community members decrement
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix possible undefined object property access in community members decrement
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix Prisma model references from mentorProfile to mentorship
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix Prisma model references from mentorProfile to mentorship
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix Prisma model references from mentorProfile to mentorship
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Add explicit array type annotations to prevent TypeScript errors
  src/app/api/educator/data-visualisation/route.ts
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/parent-teacher-communication/route.ts
Owners: @backend-team, @special-needs-team

Add explicit array type annotations to prevent TypeScript errors
  src/app/api/educator/data-visualisation/route.ts
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/parent-teacher-communication/route.ts
Owners: @backend-team, @special-needs-team

Add explicit array type annotations to prevent TypeScript errors
  src/app/api/educator/data-visualisation/route.ts
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/parent-teacher-communication/route.ts
Owners: @backend-team, @special-needs-team

Fix schema issues and prepare migration for Mentorship and Portfolio models
  docs/MENTORSHIP_PORTFOLIO_MODELS_MIGRATION.md
  docs/SCHEMA_FIX_AND_MIGRATION_REPORT.md
  prisma/migrations/20250522_add_mentorship_and_portfolio_models/migration.sql
  prisma/migrations/20250522_add_mentorship_and_portfolio_models/migration.toml
  prisma/schema.prisma
  scripts/check-and-apply-schema-updates.js
  scripts/deploy-migration.js
  scripts/fix-mentorship-model.js
  scripts/fix-schema-and-prepare-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Fix schema issues and prepare migration for Mentorship and Portfolio models
  docs/MENTORSHIP_PORTFOLIO_MODELS_MIGRATION.md
  docs/SCHEMA_FIX_AND_MIGRATION_REPORT.md
  prisma/migrations/20250522_add_mentorship_and_portfolio_models/migration.sql
  prisma/migrations/20250522_add_mentorship_and_portfolio_models/migration.toml
  prisma/schema.prisma
  scripts/check-and-apply-schema-updates.js
  scripts/deploy-migration.js
  scripts/fix-mentorship-model.js
  scripts/fix-schema-and-prepare-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Fix schema issues and prepare migration for Mentorship and Portfolio models
  docs/MENTORSHIP_PORTFOLIO_MODELS_MIGRATION.md
  docs/SCHEMA_FIX_AND_MIGRATION_REPORT.md
  prisma/migrations/20250522_add_mentorship_and_portfolio_models/migration.sql
  prisma/migrations/20250522_add_mentorship_and_portfolio_models/migration.toml
  prisma/schema.prisma
  scripts/check-and-apply-schema-updates.js
  scripts/deploy-migration.js
  scripts/fix-mentorship-model.js
  scripts/fix-schema-and-prepare-migration.js
Owners: @documentation-team, @database-team, @DevOps-team

Fix mentor-matching route to use mentorProfile model instead of mentorship model
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix mentor-matching route to use mentorProfile model instead of mentorship model
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix mentor-matching route to use mentorProfile model instead of mentorship model
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix case sensitivity issue in cPDProfile model name in mentor-matching route
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix case sensitivity issue in cPDProfile model name in mentor-matching route
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix case sensitivity issue in cPDProfile model name in mentor-matching route
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix type errors: Change empty arrays to empty strings for evidence and associatedEvidence fields
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix type errors: Change empty arrays to empty strings for evidence and associatedEvidence fields
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix type errors: Change empty arrays to empty strings for evidence and associatedEvidence fields
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix type error: Change empty array to empty string for evidence field in parent-school goals route
  src/app/api/parent-school/goals/route.ts
Owners: @backend-team

Fix type error: Change empty array to empty string for evidence field in parent-school goals route
  src/app/api/parent-school/goals/route.ts
Owners: @backend-team

Fix type error: Change empty array to empty string for evidence field in parent-school goals route
  src/app/api/parent-school/goals/route.ts
Owners: @backend-team

Fix type error: Remove description field from CPDActivity creation and move info to title field
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix type error: Remove description field from CPDActivity creation and move info to title field
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix type error: Remove description field from CPDActivity creation and move info to title field
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix queries: Update CPDActivity queries to use title field instead of description field
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix queries: Update CPDActivity queries to use title field instead of description field
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix queries: Update CPDActivity queries to use title field instead of description field
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix TypeScript errors: Add proper type assertions and fix evidence field types
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix TypeScript errors: Add proper type assertions and fix evidence field types
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix TypeScript errors: Add proper type assertions and fix evidence field types
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix Prisma schema conflicts by removing duplicate model definitions and trailing comments
  prisma/schema.prisma
Owners: @database-team

Fix Prisma schema conflicts by removing duplicate model definitions and trailing comments
  prisma/schema.prisma
Owners: @database-team

Fix Prisma schema conflicts by removing duplicate model definitions and trailing comments
  prisma/schema.prisma
Owners: @database-team

Fix TypeScript error: Add string type annotation to achievementId parameter
  src/app/api/professional-development/portfolio/route.ts
Owners: @backend-team

Fix TypeScript error: Add string type annotation to achievementId parameter
  src/app/api/professional-development/portfolio/route.ts
Owners: @backend-team

Fix TypeScript error: Add string type annotation to achievementId parameter
  src/app/api/professional-development/portfolio/route.ts
Owners: @backend-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
