Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix Prisma client export in db.ts to provide both named and default exports
  src/lib/db.ts
Owners: @database-team

Fix Prisma client export in db.ts to provide both named and default exports
  src/lib/db.ts
Owners: @database-team

Fix Prisma client export in db.ts to provide both named and default exports
  src/lib/db.ts
Owners: @database-team

Fix Prisma client import in db/index.ts to use standardized export from db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team

Fix Prisma client import in db/index.ts to use standardized export from db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team

Fix Prisma client import in db/index.ts to use standardized export from db.ts
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team

Standardize Prisma client imports across the codebase
  build_output.log
  package-lock.json
  package.json
  public/sw.js
  public/workbox-4754cb34.js
Owners: @DrSI-P, @DevOps-team

Standardize Prisma client imports across the codebase
  build_output.log
  package-lock.json
  package.json
  public/sw.js
  public/workbox-4754cb34.js
Owners: @DrSI-P, @DevOps-team

Standardize Prisma client imports across the codebase
  build_output.log
  package-lock.json
  package.json
  public/sw.js
  public/workbox-4754cb34.js
Owners: @DrSI-P, @DevOps-team

Install eslint-config-next to fix ESLint configuration error
  build_output_after_fixes.log
  package-lock.json
  package.json
  public/sw.js
Owners: @DrSI-P, @DevOps-team

Install eslint-config-next to fix ESLint configuration error
  build_output_after_fixes.log
  package-lock.json
  package.json
  public/sw.js
Owners: @DrSI-P, @DevOps-team

Install eslint-config-next to fix ESLint configuration error
  build_output_after_fixes.log
  package-lock.json
  package.json
  public/sw.js
Owners: @DrSI-P, @DevOps-team

Consolidate Prisma client implementation to a single source of truth
  src/lib/db.ts
  src/lib/db/index.ts
  src/lib/db/prisma.ts
Owners: @database-team, @DrSI-P, @backend-team

Consolidate Prisma client implementation to a single source of truth
  src/lib/db.ts
  src/lib/db/index.ts
  src/lib/db/prisma.ts
Owners: @database-team, @DrSI-P, @backend-team

Consolidate Prisma client implementation to a single source of truth
  src/lib/db.ts
  src/lib/db/index.ts
  src/lib/db/prisma.ts
Owners: @database-team, @DrSI-P, @backend-team

Fix UI component exports: Add FormDescription, AlertTitle, Badge, and Button
  build_output_after_consolidation.log
  public/sw.js
  src/components/ui/alert.tsx
  src/components/ui/form.tsx
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix UI component exports: Add FormDescription, AlertTitle, Badge, and Button
  build_output_after_consolidation.log
  public/sw.js
  src/components/ui/alert.tsx
  src/components/ui/form.tsx
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix UI component exports: Add FormDescription, AlertTitle, Badge, and Button
  build_output_after_consolidation.log
  public/sw.js
  src/components/ui/alert.tsx
  src/components/ui/form.tsx
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Update service worker file
  public/sw.js
Owners: @DrSI-P

Update service worker file
  public/sw.js
Owners: @DrSI-P

Update service worker file
  public/sw.js
Owners: @DrSI-P

Add comprehensive documentation for build fixes
  build-fixes-documentation.md
  continuity-handover.md
Owners: @documentation-team

Add comprehensive documentation for build fixes
  build-fixes-documentation.md
  continuity-handover.md
Owners: @documentation-team

Add comprehensive documentation for build fixes
  build-fixes-documentation.md
  continuity-handover.md
Owners: @documentation-team

Add project analysis and cleanup strategy documentation
  auto-backup.sh
  backup-strategy.md
  final-cleanup-strategy.md
  platform-status-summary.md
  progress.md
  recommended-next-steps.md
Owners: @DrSI-P, @documentation-team

Add project analysis and cleanup strategy documentation
  auto-backup.sh
  backup-strategy.md
  final-cleanup-strategy.md
  platform-status-summary.md
  progress.md
  recommended-next-steps.md
Owners: @DrSI-P, @documentation-team

Add project analysis and cleanup strategy documentation
  auto-backup.sh
  backup-strategy.md
  final-cleanup-strategy.md
  platform-status-summary.md
  progress.md
  recommended-next-steps.md
Owners: @DrSI-P, @documentation-team

Enhance ESLint configuration with stricter rules
  eslint.config.mjs
  progress.md
Owners: @DrSI-P, @documentation-team

Enhance ESLint configuration with stricter rules
  eslint.config.mjs
  progress.md
Owners: @DrSI-P, @documentation-team

Enhance ESLint configuration with stricter rules
  eslint.config.mjs
  progress.md
Owners: @DrSI-P, @documentation-team

Replace any type with proper interface in keyboard-navigation page
  progress.md
  src/app/accessibility/keyboard-navigation/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in keyboard-navigation page
  progress.md
  src/app/accessibility/keyboard-navigation/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in keyboard-navigation page
  progress.md
  src/app/accessibility/keyboard-navigation/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in screen-reader-optimization page
  progress.md
  src/app/accessibility/screen-reader-optimization/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in screen-reader-optimization page
  progress.md
  src/app/accessibility/screen-reader-optimization/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in screen-reader-optimization page
  progress.md
  src/app/accessibility/screen-reader-optimization/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in text-to-speech page
  progress.md
  src/app/accessibility/text-to-speech/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in text-to-speech page
  progress.md
  src/app/accessibility/text-to-speech/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in text-to-speech page
  progress.md
  src/app/accessibility/text-to-speech/page.tsx
Owners: @documentation-team, @accessibility-team

Replace any type with proper interface in adaptive-complexity page
  progress.md
  src/app/adaptive-complexity/page.tsx
Owners: @documentation-team, @DrSI-P, @lead-developer

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
