Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix case in CPD model names in portfolio and mentor-matching routes
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/professional-development/portfolio/route.ts
Owners: @backend-team

Fix case in CPD model names in portfolio and mentor-matching routes
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/professional-development/portfolio/route.ts
Owners: @backend-team

Fix case in CPD model names in portfolio and mentor-matching routes
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/professional-development/portfolio/route.ts
Owners: @backend-team

Add documentation for missing Prisma models
  docs/prisma/MISSING_MODELS_DOCUMENTATION.md
Owners: @documentation-team

Add documentation for missing Prisma models
  docs/prisma/MISSING_MODELS_DOCUMENTATION.md
Owners: @documentation-team

Add documentation for missing Prisma models
  docs/prisma/MISSING_MODELS_DOCUMENTATION.md
Owners: @documentation-team

Add missing portfolio models to schema with proper User model relations
  prisma/schema.prisma
Owners: @database-team

Add missing portfolio models to schema with proper User model relations
  prisma/schema.prisma
Owners: @database-team

Add missing portfolio models to schema with proper User model relations
  prisma/schema.prisma
Owners: @database-team

Fix TypeScript type error in learning-communities route by adding explicit type definitions
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript type error in learning-communities route by adding explicit type definitions
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript type error in learning-communities route by adding explicit type definitions
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Comprehensive TypeScript fix: export interfaces and improve type definitions
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Comprehensive TypeScript fix: export interfaces and improve type definitions
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Comprehensive TypeScript fix: export interfaces and improve type definitions
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript error: Make Community interface declarations consistent
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript error: Make Community interface declarations consistent
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript error: Make Community interface declarations consistent
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix syntax error: Remove orphaned properties after interface refactoring
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix syntax error: Remove orphaned properties after interface refactoring
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix syntax error: Remove orphaned properties after interface refactoring
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Add comprehensive codebase documentation with best practices
  docs/CODEBASE_BEST_PRACTICES.md
Owners: @documentation-team

Add comprehensive codebase documentation with best practices
  docs/CODEBASE_BEST_PRACTICES.md
Owners: @documentation-team

Add comprehensive codebase documentation with best practices
  docs/CODEBASE_BEST_PRACTICES.md
Owners: @documentation-team

Add strategic documentation: SWOT analysis, improvement suggestions, and prioritized to-do list
  docs/strategic/IMPROVEMENT_SUGGESTIONS.md
  docs/strategic/PRIORITIZED_TODO_LIST.md
  docs/strategic/SWOT_ANALYSIS.md
Owners: @documentation-team

Add strategic documentation: SWOT analysis, improvement suggestions, and prioritized to-do list
  docs/strategic/IMPROVEMENT_SUGGESTIONS.md
  docs/strategic/PRIORITIZED_TODO_LIST.md
  docs/strategic/SWOT_ANALYSIS.md
Owners: @documentation-team

Add strategic documentation: SWOT analysis, improvement suggestions, and prioritized to-do list
  docs/strategic/IMPROVEMENT_SUGGESTIONS.md
  docs/strategic/PRIORITIZED_TODO_LIST.md
  docs/strategic/SWOT_ANALYSIS.md
Owners: @documentation-team

Fix TypeScript interface conflicts: Remove duplicate local interface declarations
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript interface conflicts: Remove duplicate local interface declarations
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript interface conflicts: Remove duplicate local interface declarations
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript parameter type errors: Add explicit type annotations to function parameters
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript parameter type errors: Add explicit type annotations to function parameters
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript parameter type errors: Add explicit type annotations to function parameters
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript activity property type: Use explicit literal type assertion
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript activity property type: Use explicit literal type assertion
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript activity property type: Use explicit literal type assertion
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript literal type error in learning-communities privacy settings
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript literal type error in learning-communities privacy settings
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript literal type error in learning-communities privacy settings
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript literal type error in Membership role and status properties
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
