Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Enhance: Optimize utils.ts with better documentation and additional utility functions
  src/lib/utils.ts
Owners: @DrSI-P, @backend-team

Enhance: Optimize utils.ts with better documentation and additional utility functions
  src/lib/utils.ts
Owners: @DrSI-P, @backend-team

Enhance: Optimize utils.ts with better documentation and additional utility functions
  src/lib/utils.ts
Owners: @DrSI-P, @backend-team

Auto-backup: Fri May 23 22:42:53 EDT 2025
  public/sw.js
  src/app/api/ai/adaptive-complexity/route.ts
  src/app/api/blog/moderation/route.ts
  src/app/api/professional-development/learning-communities/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/restorative-justice/circle-process/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/parent-teacher-communication/reports/route.ts
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/executive-dysfunction/executive-dysfunction-support.tsx
  src/components/ai/speech-recognition/speech-recognition-engine.tsx
  src/components/student-voice/multi-modal-feedback-collection.tsx
  src/lib/db-utils.ts
  src/lib/documentation-utils.tsx
  src/lib/i18n-utils.tsx
  src/lib/i18n/culturalContextService.ts
Owners: @DrSI-P, @ai-team, @backend-team, @special-needs-team, @frontend-team

Auto-backup: Fri May 23 22:42:53 EDT 2025
  public/sw.js
  src/app/api/ai/adaptive-complexity/route.ts
  src/app/api/blog/moderation/route.ts
  src/app/api/professional-development/learning-communities/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/restorative-justice/circle-process/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/parent-teacher-communication/reports/route.ts
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/executive-dysfunction/executive-dysfunction-support.tsx
  src/components/ai/speech-recognition/speech-recognition-engine.tsx
  src/components/student-voice/multi-modal-feedback-collection.tsx
  src/lib/db-utils.ts
  src/lib/documentation-utils.tsx
  src/lib/i18n-utils.tsx
  src/lib/i18n/culturalContextService.ts
Owners: @DrSI-P, @ai-team, @backend-team, @special-needs-team, @frontend-team

Auto-backup: Fri May 23 22:42:53 EDT 2025
  public/sw.js
  src/app/api/ai/adaptive-complexity/route.ts
  src/app/api/blog/moderation/route.ts
  src/app/api/professional-development/learning-communities/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/restorative-justice/circle-process/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/parent-teacher-communication/reports/route.ts
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/executive-dysfunction/executive-dysfunction-support.tsx
  src/components/ai/speech-recognition/speech-recognition-engine.tsx
  src/components/student-voice/multi-modal-feedback-collection.tsx
  src/lib/db-utils.ts
  src/lib/documentation-utils.tsx
  src/lib/i18n-utils.tsx
  src/lib/i18n/culturalContextService.ts
Owners: @DrSI-P, @ai-team, @backend-team, @special-needs-team, @frontend-team

Fix: Add missing UI component exports for Select and Label components
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix: Add missing UI component exports for Select and Label components
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix: Add missing UI component exports for Select and Label components
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix: Add return type to DigitalExpressionPage component
  src/app/special-needs/digital-expression/page.tsx
Owners: @special-needs-team

Fix: Add return type to DigitalExpressionPage component
  src/app/special-needs/digital-expression/page.tsx
Owners: @special-needs-team

Fix: Add return type to DigitalExpressionPage component
  src/app/special-needs/digital-expression/page.tsx
Owners: @special-needs-team

Fix: Add return type to EmotionalVocabularyPage component
  src/app/special-needs/emotional-vocabulary/page.tsx
Owners: @special-needs-team

Fix: Add return type to EmotionalVocabularyPage component
  src/app/special-needs/emotional-vocabulary/page.tsx
Owners: @special-needs-team

Fix: Add return type to EmotionalVocabularyPage component
  src/app/special-needs/emotional-vocabulary/page.tsx
Owners: @special-needs-team

Fix: Add return type and escape special characters in IEP504PlanPage component
  src/app/special-needs/iep-504-plan/page.tsx
Owners: @special-needs-team

Fix: Add return type and escape special characters in IEP504PlanPage component
  src/app/special-needs/iep-504-plan/page.tsx
Owners: @special-needs-team

Fix: Add return type and escape special characters in IEP504PlanPage component
  src/app/special-needs/iep-504-plan/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and escape special characters in InterventionAnalyticsPage
  src/app/special-needs/intervention-analytics/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and escape special characters in InterventionAnalyticsPage
  src/app/special-needs/intervention-analytics/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and escape special characters in InterventionAnalyticsPage
  src/app/special-needs/intervention-analytics/page.tsx
Owners: @special-needs-team

Fix: Add return type to GuidedMindfulnessActivitiesPage component
  src/app/special-needs/mindfulness/page.tsx
Owners: @special-needs-team

Fix: Add return type to GuidedMindfulnessActivitiesPage component
  src/app/special-needs/mindfulness/page.tsx
Owners: @special-needs-team

Fix: Add return type to GuidedMindfulnessActivitiesPage component
  src/app/special-needs/mindfulness/page.tsx
Owners: @special-needs-team

Fix: Add return type to ParentTeacherCommunicationPage component
  src/app/special-needs/parent-teacher-communication/page.tsx
Owners: @special-needs-team

Fix: Add return type to ParentTeacherCommunicationPage component
  src/app/special-needs/parent-teacher-communication/page.tsx
Owners: @special-needs-team

Fix: Add return type to ParentTeacherCommunicationPage component
  src/app/special-needs/parent-teacher-communication/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and fix unused variable in PersonalizedInterventionsPage
  src/app/special-needs/personalized-interventions/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and fix unused variable in PersonalizedInterventionsPage
  src/app/special-needs/personalized-interventions/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and fix unused variable in PersonalizedInterventionsPage
  src/app/special-needs/personalized-interventions/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and fix unused variable in ProgressMonitoringPage
  src/app/special-needs/progress-monitoring/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and fix unused variable in ProgressMonitoringPage
  src/app/special-needs/progress-monitoring/page.tsx
Owners: @special-needs-team

Fix: Remove unused imports, add return type, and fix unused variable in ProgressMonitoringPage
  src/app/special-needs/progress-monitoring/page.tsx
Owners: @special-needs-team

Fix: Add return type and escape special characters in SensoryRegulationPage
  src/app/special-needs/sensory-regulation/page.tsx
Owners: @special-needs-team

Fix: Add return type and escape special characters in SensoryRegulationPage
  src/app/special-needs/sensory-regulation/page.tsx
Owners: @special-needs-team

Fix: Add return type and escape special characters in SensoryRegulationPage
  src/app/special-needs/sensory-regulation/page.tsx
Owners: @special-needs-team

Fix: Add React import and return type to Dashboard component
  src/app/(dashboard)/dashboard/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add React import and return type to Dashboard component
  src/app/(dashboard)/dashboard/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add React import and return type to Dashboard component
  src/app/(dashboard)/dashboard/page.tsx
Owners: @DrSI-P, @lead-developer

Auto-backup: Fri May 23 22:59:34 EDT 2025
  public/sw.js
Owners: @DrSI-P
