Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix TypeScript and JSX errors in innovations pages
  src/app/api/blog/schedules/route.ts
  src/app/innovations/neuroadaptive-interface/page.tsx
  src/app/innovations/parent-portal/page.tsx
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
Owners: @backend-team, @DrSI-P, @lead-developer, @frontend-team

Fix TypeScript and JSX errors in innovations pages
  src/app/api/blog/schedules/route.ts
  src/app/innovations/neuroadaptive-interface/page.tsx
  src/app/innovations/parent-portal/page.tsx
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
Owners: @backend-team, @DrSI-P, @lead-developer, @frontend-team

fix: correct JSX syntax error in data-visualisation-dashboard.tsx
  src/components/educator/data-visualisation-dashboard.tsx
Owners: @DrSI-P, @frontend-team

fix: remove unused imports and variables across multiple files
  src/app/student-voice/page.tsx
  src/app/voice-input-test/page.tsx
  src/components/accessibility/accessibility-settings.tsx
  src/components/accessibility/text-to-speech.tsx
  src/components/accessibility/voice-input.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

fix: add explicit return types to functions to satisfy TypeScript linter
  src/app/teacher-automation/page.tsx
  src/app/terms/layout.tsx
  src/app/terms/page.tsx
  src/app/uk-educational-compliance/layout.tsx
  src/app/uk-educational-compliance/page.tsx
Owners: @DrSI-P, @lead-developer

fix: escape quotes in JSX with HTML entities
  src/components/error-boundary/error-boundary-test.tsx
Owners: @DrSI-P, @frontend-team

fix: resolve Jest and no-undef errors in test files and add SpeechSynthesisVoice global
  src/components/adaptive-complexity/tests/adaptive-complexity-controls.test.tsx
  src/components/adaptive-complexity/tests/adaptive-complexity-service.test.ts
  src/components/ui/__tests__/AccessibilityControls.test.tsx
  src/components/ui/__tests__/MultilingualSupport.test.tsx
  src/components/ui/__tests__/ProgressTracking.test.tsx
  src/components/ui/__tests__/VoiceInput.test.tsx
  src/lib/voice/textToSpeech.ts
Owners: @testing-team, @DrSI-P, @backend-team

fix: add missing exports for AlertTitle and CustomReportBuilder
  src/components/analytics/index.ts
Owners: @DrSI-P, @frontend-team

fix: add missing UI component exports (Progress, Input, Table components)
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

fix: add missing dependencies to useEffect hook in admin users page
  src/app/admin/users/page.tsx
Owners: @DrSI-P, @lead-developer

fix: add return type and fix apostrophe in curriculum align page
  src/app/assessment/curriculum/align/page.tsx
Owners: @DrSI-P, @lead-developer

fix: add return type and error type annotations in curriculum page
  src/app/assessment/curriculum/page.tsx
Owners: @DrSI-P, @lead-developer

fix: add return type and error type annotations in assessment grade page
  src/app/assessment/grade/[id]/page.tsx
Owners: @DrSI-P, @lead-developer

fix: add return type and fix error type annotations in assessment results page
  src/app/assessment/results/[id]/page.tsx
Owners: @DrSI-P, @lead-developer

fix: add return type and fix error type annotations in heygen video generation component
  src/components/heygen/heygen-video-generation.tsx
Owners: @DrSI-P, @frontend-team

fix: add return type and escape quotes in error-boundary-integration component
  src/components/error-boundary/error-boundary-integration.tsx
Owners: @DrSI-P, @frontend-team

fix: improve Jest global declarations in adaptive-complexity-service.test.ts
  src/components/adaptive-complexity/tests/adaptive-complexity-service.test.ts
Owners: @testing-team

fix: improve Jest global declarations in adaptive-complexity-controls.test.tsx
  src/components/adaptive-complexity/tests/adaptive-complexity-controls.test.tsx
Owners: @testing-team

fix: remove unused imports and variables in admin-dashboard component
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

fix: add type annotations and remove unused imports in adventure-quest-saga-adaptive component
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
Owners: @DrSI-P, @frontend-team

fix: add type annotations and fix React Hook dependencies in adventure-quest-saga-integrated component
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Fix: Address unused imports/variables and type issues in adaptive-complexity and adventure-quest components
  src/components/adaptive-complexity/adaptive-complexity-dashboard.tsx
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
Owners: @DrSI-P, @frontend-team

Fix: Address React Hook rule violations and unused imports in adventure-quest-saga-adaptive.tsx
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
Owners: @DrSI-P, @frontend-team

Fix: Address SpeechSynthesisVoice error and React Hook dependency warnings in accessibility components
  src/components/accessibility/text-to-speech.tsx
  src/components/accessibility/voice-input.tsx
Owners: @DrSI-P, @frontend-team

Fix: Add missing exports for AlertTitle and Textarea in UI components
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix: Add JSX namespace and DialogClose imports to adventure-quest components
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
  src/components/adventure-quest/adventure-quest-saga.tsx
Owners: @DrSI-P, @frontend-team

Fix: Add React imports and fix return types in app pages
  src/app/resources/create/page.tsx
  src/app/special-needs/intervention-analytics/page.tsx
  src/app/special-needs/personalized-interventions/page.tsx
  src/app/special-needs/progress-monitoring/page.tsx
Owners: @DrSI-P, @lead-developer, @special-needs-team

Fix: Add proper Jest globals to test files
  src/components/ui/__tests__/AccessibilityControls.test.tsx
  src/components/ui/__tests__/MultilingualSupport.test.tsx
  src/components/ui/__tests__/ProgressTracking.test.tsx
  src/components/ui/__tests__/VoiceInput.test.tsx
Owners: @testing-team

Fix: Add mockCharacter and mockQuests to adventure-quest-saga.tsx
  src/components/adventure-quest/adventure-quest-saga.tsx
Owners: @DrSI-P, @frontend-team

Fix: Remove unused imports in admin-dashboard.tsx
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix: Add return types and remove console statements in accessibility-settings.tsx
  src/components/accessibility/accessibility-settings.tsx
Owners: @DrSI-P, @frontend-team

Fix: Add return types and remove console statements in heygen-video-generation.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @DrSI-P, @frontend-team

Fix: Fix unescaped entities in JSX in terms/page.tsx
  src/app/terms/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Remove unused variable in VoiceInput.test.tsx
  src/components/ui/__tests__/VoiceInput.test.tsx
Owners: @testing-team

Fix: React Hook dependency warnings in voice-input.tsx
  src/components/accessibility/voice-input.tsx
Owners: @DrSI-P, @frontend-team

Fix: Replace 'any' types with specific interfaces in heygen-video-generation.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @DrSI-P, @frontend-team

Fix unused imports in adventure-quest-saga-adaptive.tsx
  package-lock.json
  package.json
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/adventure-quest/adventure-quest-saga.tsx
Owners: @DevOps-team, @DrSI-P, @frontend-team

Fix unused imports and variables in adventure-quest-saga-integrated.tsx
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Fix console statements and type issues in ai/accessibility/accessibility-controls.tsx
  src/components/ai/accessibility/accessibility-controls.tsx
Owners: @DrSI-P, @frontend-team

Fix JSX syntax errors in complete-rebuild branch components
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  todo-complete-rebuild.md
Owners: @DrSI-P, @frontend-team, @documentation-team
