Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix TypeScript literal type error in Membership role and status properties
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript literal type error in Membership role and status properties
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Proactively fix untyped array declarations to prevent future TypeScript errors
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  src/app/api/special-needs/parent-teacher-communication/route.ts
Owners: @ai-team, @special-needs-team

Proactively fix untyped array declarations to prevent future TypeScript errors
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  src/app/api/special-needs/parent-teacher-communication/route.ts
Owners: @ai-team, @special-needs-team

Proactively fix untyped array declarations to prevent future TypeScript errors
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  src/app/api/special-needs/parent-teacher-communication/route.ts
Owners: @ai-team, @special-needs-team

Proactively fix untyped object declarations to prevent future TypeScript errors
  src/app/api/ai/learning-style/route.ts
  src/app/api/special-needs/digital-expression/route.ts
  src/app/api/special-needs/emotional-vocabulary/route.ts
Owners: @ai-team, @special-needs-team

Proactively fix untyped object declarations to prevent future TypeScript errors
  src/app/api/ai/learning-style/route.ts
  src/app/api/special-needs/digital-expression/route.ts
  src/app/api/special-needs/emotional-vocabulary/route.ts
Owners: @ai-team, @special-needs-team

Proactively fix untyped object declarations to prevent future TypeScript errors
  src/app/api/ai/learning-style/route.ts
  src/app/api/special-needs/digital-expression/route.ts
  src/app/api/special-needs/emotional-vocabulary/route.ts
Owners: @ai-team, @special-needs-team

Fix TypeScript literal type error in Membership role and status properties for join request
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript literal type error in Membership role and status properties for join request
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix TypeScript literal type error in Membership role and status properties for join request
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Proactively fix status property literal type assertions to prevent future TypeScript errors
  src/app/api/assessment/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Proactively fix status property literal type assertions to prevent future TypeScript errors
  src/app/api/assessment/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Proactively fix status property literal type assertions to prevent future TypeScript errors
  src/app/api/assessment/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
Owners: @backend-team

Fix status property literal type assertion in blog moderation route
  src/app/api/blog/moderation/route.ts
Owners: @backend-team

Fix status property literal type assertion in blog moderation route
  src/app/api/blog/moderation/route.ts
Owners: @backend-team

Fix status property literal type assertion in blog moderation route
  src/app/api/blog/moderation/route.ts
Owners: @backend-team

Fix status property literal type assertion in parent-school goals route
  src/app/api/parent-school/goals/route.ts
Owners: @backend-team

Fix status property literal type assertion in parent-school goals route
  src/app/api/parent-school/goals/route.ts
Owners: @backend-team

Fix status property literal type assertion in parent-school goals route
  src/app/api/parent-school/goals/route.ts
Owners: @backend-team

Fix status property literal type assertion in parent-school meetings route
  src/app/api/parent-school/meetings/route.ts
Owners: @backend-team

Fix status property literal type assertion in parent-school meetings route
  src/app/api/parent-school/meetings/route.ts
Owners: @backend-team

Fix status property literal type assertion in parent-school meetings route
  src/app/api/parent-school/meetings/route.ts
Owners: @backend-team

Fix status property literal type assertion in restorative-justice agreement-tracking route
  src/app/api/restorative-justice/agreement-tracking/route.ts
Owners: @backend-team

Fix status property literal type assertion in restorative-justice agreement-tracking route
  src/app/api/restorative-justice/agreement-tracking/route.ts
Owners: @backend-team

Fix status property literal type assertion in restorative-justice agreement-tracking route
  src/app/api/restorative-justice/agreement-tracking/route.ts
Owners: @backend-team

Fix community.members possibly undefined error with nullish coalescing operator
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix community.members possibly undefined error with nullish coalescing operator
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix community.members possibly undefined error with nullish coalescing operator
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix null assignment type error in lastReplyAt property
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix null assignment type error in lastReplyAt property
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix null assignment type error in lastReplyAt property
  src/app/api/professional-development/learning-communities/route.ts
Owners: @backend-team

Fix null assignment type errors in accessibility settings
  src/app/api/ai/accessibility/route.ts
Owners: @ai-team

Fix null assignment type errors in accessibility settings
  src/app/api/ai/accessibility/route.ts
Owners: @ai-team

Fix null assignment type errors in accessibility settings
  src/app/api/ai/accessibility/route.ts
Owners: @ai-team

Fix null assignment type errors in adaptive-complexity route
  src/app/api/ai/adaptive-complexity/route.ts
Owners: @ai-team

Fix null assignment type errors in adaptive-complexity route
  src/app/api/ai/adaptive-complexity/route.ts
Owners: @ai-team

Fix null assignment type errors in adaptive-complexity route
  src/app/api/ai/adaptive-complexity/route.ts
Owners: @ai-team

Fix null assignment type errors in AI config route
  src/app/api/ai/config/route.ts
Owners: @ai-team

Fix null assignment type errors in AI config route
  src/app/api/ai/config/route.ts
Owners: @ai-team
