Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix next.config.js: remove unsupported turbotrace and NODE_OPTIONS keys
  next.config.js
Owners: @DrSI-P

Implement comprehensive visual enhancements and fix build issues
  docs/enhanced-design-system.md
  next.config.js
  scripts/fix-exports/standardize-exports.js
  scripts/fix-imports/fix-ai-avatar-service.js
  scripts/fix-imports/fix-all-exports-comprehensively.js
  scripts/fix-imports/fix-avatar-creator-import.js
  scripts/fix-imports/fix-import-export-mismatches.js
  scripts/fix-imports/fix-remaining-exports.js
  scripts/fix-imports/update-import-styles.js
  src/components/ui/avatar.tsx
  src/components/ui/theme-provider.tsx
  src/env.ts
  src/lib/recharts-compatibility.ts
  src/lib/victory-vendor-compatibility.ts
  src/lib/victory-vendor-d3-scale.js
  src/lib/victory-vendor-d3-shape.js
  src/styles/enhanced-globals.css
  src/styles/enhanced-theme.ts
  src/styles/enhanced-tokens.ts
  todo.md
Owners: @documentation-team, @DrSI-P, @DevOps-team, @frontend-team, @backend-team

Remove sensitive information from .env.production
  .env.production
Owners: @DrSI-P

Fix build issues: Add required environment variables and update Tailwind config with default colors
  .env.production
  tailwind.config.js
Owners: @DrSI-P

Fix build issues: increase static generation timeout, fix useSearchParams in differentiation page, add missing Slider import
  .env.production.example
  next.config.js
  package-lock.json
  public/sitemap.xml
  secure-deploy.js
  src/app/accessibility/page.tsx
  src/app/adaptive-complexity/page.tsx
  src/app/assessment/curriculum/align/page.tsx
  src/app/assessment/pupil-voice/create/page.tsx
  src/app/curriculum/differentiation/page.tsx
  src/app/multi-modal-content/page.tsx
  src/app/progress-pacing/page.tsx
  src/app/restorative-justice/staff-training/page.tsx
  src/app/voice-input-test/page.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/professional-development/research-collaboration-dashboard.tsx
  src/components/professional-development/research-collaboration.tsx
  src/components/restorative-justice/guided-restorative-conversation-frameworks.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/special-needs/emotional-regulation/pattern-recognition/emotional-pattern-recognition.tsx
  src/components/special-needs/emotional-regulation/strategy-recommendations/personalized-strategy-recommendations.tsx
  src/components/special-needs/emotional-vocabulary/emotional-vocabulary-development.tsx
  src/components/special-needs/mindfulness/guided-mindfulness-activities.tsx
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
  src/components/special-needs/teacher-alerts/teacher-alert-system.tsx
  src/components/theme-provider.tsx
Owners: @DrSI-P, @DevOps-team, @accessibility-team, @lead-developer, @frontend-team

Update database configuration for Vercel deployment
  .env.production
Owners: @DrSI-P

Mark Vercel deployment as completed in TODO.md
  todo.md
Owners: @documentation-team

Update deploy-to-vercel.bat to use clean-unified-branch
  deploy-to-vercel.bat
Owners: @DrSI-P

Fix: Enhanced Prisma client initialization and build process for Vercel deployment
  todo.md
Owners: @documentation-team

Enhanced vercel-build.js to explicitly load environment variables from .env.production
  vercel-build.js
Owners: @DrSI-P

Added critical environment variables to vercel.json
  vercel.json
Owners: @DevOps-team

Fix: Add enhanced-globals.css import and update ThemeProvider path to restore premium visual polish
  src/app/layout.tsx
Owners: @DrSI-P, @lead-developer

Fix: Ensure enhanced-globals.css is properly included in production build
  next.config.js
  src/app/layout.tsx
  src/styles/ensure-css-loading.js
Owners: @DrSI-P, @lead-developer

Fix: Add critters dependency for CSS optimization
  package.json
Owners: @DevOps-team

Fix: Convert to CSS Module approach for reliable CSS inclusion in Next.js App Router
  src/app/layout.tsx
  src/styles/enhanced-globals.module.css
Owners: @DrSI-P, @lead-developer

Fix: Inline critical CSS directly in layout to bypass Next.js asset emission issues
  src/app/layout.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add dotenv dependency to resolve build error
  package.json
Owners: @DevOps-team

Fix: Add prisma generate to build process to resolve Prisma Client initialization error
  package.json
Owners: @DevOps-team

Fix: Add missing JS and CSS dependencies to resolve build errors
  package.json
  postcss.config.js
Owners: @DevOps-team, @DrSI-P

Fix CSS build errors and improve premium design display
  next.config.js
  package-lock.json
  package.json
  pages/_app.js
  pages/index.js
  src/app/page.tsx.bak
  src/styles/brand.css
  src/styles/enhanced-globals.css
Owners: @DrSI-P, @DevOps-team, @lead-developer

Fix CSS build errors and resolve router conflict
  pages/index.js
  src/styles/brand.css
Owners: @DrSI-P

Explicitly remove src/app/page.tsx to resolve router conflict
  src/app/page.tsx
Owners: @DrSI-P, @lead-developer

Fix CSS build errors by properly defining custom utility classes
  src/styles/brand.css
  src/styles/enhanced-brand.css
Owners: @DrSI-P

Fix CSS build errors: Define bg-primary and text-white utility classes
  src/styles/brand.css
  src/styles/enhanced-brand.css
Owners: @DrSI-P

Fix premium design: Import brand.css and enhanced-brand.css in _app.js
  pages/_app.js
Owners: @DrSI-P

Add comprehensive implementation checklist for EdPsych Connect platform
  implementation-checklist.md
Owners: @documentation-team

Add detailed implementation plan for EdPsych Connect platform
  implementation-plan.md
Owners: @documentation-team

Implement core authentication components for EdPsych Connect platform
  src/components/auth/auth-forms.tsx
  src/components/auth/auth-guard.tsx
  src/components/auth/auth-layout.tsx
  src/components/auth/auth-status.tsx
  src/components/auth/role-guard.tsx
Owners: @DrSI-P, @frontend-team

Implement user profile and role management components
  src/components/user/user-profile.tsx
  src/components/user/user-role-management.tsx
Owners: @DrSI-P, @frontend-team

Implement notification system components
  src/components/notifications/notification-center.tsx
  src/components/notifications/notification-provider.tsx
Owners: @DrSI-P, @frontend-team

Implement analytics dashboard component
  src/components/analytics/analytics-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Implement content management system component
  src/components/content/content-management-system.tsx
Owners: @DrSI-P, @frontend-team

Update implementation checklist to mark completed features
  implementation-checklist.md
Owners: @documentation-team

Implement restorative justice framework component
  src/components/educational/restorative-justice-framework.tsx
Owners: @DrSI-P, @frontend-team

Implement special needs support system component
  src/components/educational/special-needs-support.tsx
Owners: @DrSI-P, @frontend-team

Implement learning style adaptation component
  src/components/educational/learning-style-adaptation.tsx
Owners: @DrSI-P, @frontend-team

Update implementation checklist to mark completed educational psychology features
  implementation-checklist.md
Owners: @documentation-team

Implement emotional wellbeing tools component
  src/components/educational/emotional-wellbeing-tools.tsx
Owners: @DrSI-P, @frontend-team

Implement executive function support component
  src/components/educational/executive-function-support.tsx
Owners: @DrSI-P, @frontend-team

Update implementation checklist to mark completed educational psychology features
  implementation-checklist.md
Owners: @documentation-team
