Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix: Add TypeScript type annotations to pupil-voice page
  src/app/assessment/pupil-voice/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Update component props to match expected types in pupil-voice page
  src/app/assessment/pupil-voice/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Update component props to match expected types in pupil-voice page
  src/app/assessment/pupil-voice/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Update component props to match expected types in pupil-voice page
  src/app/assessment/pupil-voice/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add null check for template in assessment template use page
  src/app/assessment/templates/[id]/use/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add null check for template and fix component props in assessment template use page
  src/app/assessment/templates/[id]/use/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add null check for template and fix component props in assessment template use page
  src/app/assessment/templates/[id]/use/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add null check for template and fix component props in assessment template use page
  src/app/assessment/templates/[id]/use/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add AssessmentTemplate model to Prisma schema and migration
  package.json
  prisma/migrations/20250521010500_add_assessment_template_model/migration.sql
  prisma/schema.prisma
Owners: @DevOps-team, @database-team

Fix: Add AssessmentTemplate model to Prisma schema and migration
  package.json
  prisma/migrations/20250521010500_add_assessment_template_model/migration.sql
  prisma/schema.prisma
Owners: @DevOps-team, @database-team

Fix: Add AssessmentTemplate model to Prisma schema and migration
  package.json
  prisma/migrations/20250521010500_add_assessment_template_model/migration.sql
  prisma/schema.prisma
Owners: @DevOps-team, @database-team

Add PasswordReset model and migration
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
  prisma/schema.prisma
Owners: @database-team

Add PasswordReset model and migration
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
  prisma/schema.prisma
Owners: @database-team

Add PasswordReset model and migration
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
  prisma/schema.prisma
Owners: @database-team

Remove PasswordReset migration as table already exists
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
Owners: @database-team

Remove PasswordReset migration as table already exists
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
Owners: @database-team

Remove PasswordReset migration as table already exists
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
Owners: @database-team

Add documentation for PasswordReset model fix
  docs/PASSWORD_RESET_MODEL_FIX.md
Owners: @documentation-team

Add documentation for PasswordReset model fix
  docs/PASSWORD_RESET_MODEL_FIX.md
Owners: @documentation-team

Add documentation for PasswordReset model fix
  docs/PASSWORD_RESET_MODEL_FIX.md
Owners: @documentation-team

Add script to fix failed PasswordReset migration and update documentation
  docs/PASSWORD_RESET_MODEL_FIX.md
  scripts/fix-password-reset-migration.js
Owners: @documentation-team, @DevOps-team

Add script to fix failed PasswordReset migration and update documentation
  docs/PASSWORD_RESET_MODEL_FIX.md
  scripts/fix-password-reset-migration.js
Owners: @documentation-team, @DevOps-team

Add script to fix failed PasswordReset migration and update documentation
  docs/PASSWORD_RESET_MODEL_FIX.md
  scripts/fix-password-reset-migration.js
Owners: @documentation-team, @DevOps-team

Update build script to handle failed migrations and update documentation
  docs/PASSWORD_RESET_MODEL_FIX.md
  package.json
Owners: @documentation-team, @DevOps-team

Update build script to handle failed migrations and update documentation
  docs/PASSWORD_RESET_MODEL_FIX.md
  package.json
Owners: @documentation-team, @DevOps-team

Update build script to handle failed migrations and update documentation
  docs/PASSWORD_RESET_MODEL_FIX.md
  package.json
Owners: @documentation-team, @DevOps-team

Add password field to User model
  prisma/migrations/20250521030000_add_password_field_to_user/migration.sql
  prisma/schema.prisma
Owners: @database-team

Add password field to User model
  prisma/migrations/20250521030000_add_password_field_to_user/migration.sql
  prisma/schema.prisma
Owners: @database-team

Add password field to User model
  prisma/migrations/20250521030000_add_password_field_to_user/migration.sql
  prisma/schema.prisma
Owners: @database-team

Add documentation for User password field fix
  docs/USER_PASSWORD_FIELD_FIX.md
Owners: @documentation-team

Add documentation for User password field fix
  docs/USER_PASSWORD_FIELD_FIX.md
Owners: @documentation-team

Add documentation for User password field fix
  docs/USER_PASSWORD_FIELD_FIX.md
Owners: @documentation-team

Fix VerificationToken unique constraint usage in verify-email route
  docs/VERIFICATION_TOKEN_FIX.md
  src/app/api/auth/verify-email/route.ts
Owners: @documentation-team, @security-team

Fix VerificationToken unique constraint usage in verify-email route
  docs/VERIFICATION_TOKEN_FIX.md
  src/app/api/auth/verify-email/route.ts
Owners: @documentation-team, @security-team

Fix VerificationToken unique constraint usage in verify-email route
  docs/VERIFICATION_TOKEN_FIX.md
  src/app/api/auth/verify-email/route.ts
Owners: @documentation-team, @security-team

Fix TypeScript implicit any error in blockchain route
  docs/TYPESCRIPT_IMPLICIT_ANY_FIX.md
  src/app/api/blockchain/route.ts
Owners: @documentation-team, @backend-team

Fix TypeScript implicit any error in blockchain route
  docs/TYPESCRIPT_IMPLICIT_ANY_FIX.md
  src/app/api/blockchain/route.ts
Owners: @documentation-team, @backend-team

Fix TypeScript implicit any error in blockchain route
  docs/TYPESCRIPT_IMPLICIT_ANY_FIX.md
  src/app/api/blockchain/route.ts
Owners: @documentation-team, @backend-team

Fix null vs undefined type error in blockchain route
  docs/TYPESCRIPT_IMPLICIT_ANY_FIX.md
  src/app/api/blockchain/route.ts
Owners: @documentation-team, @backend-team

Fix null vs undefined type error in blockchain route
  docs/TYPESCRIPT_IMPLICIT_ANY_FIX.md
  src/app/api/blockchain/route.ts
Owners: @documentation-team, @backend-team
