Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix ESLint errors in i18n test file
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix ESLint errors in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix ESLint errors in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix ESLint errors in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix ESLint errors in restorative justice conversation frameworks API route
  progress.md
  src/app/api/restorative-justice/conversation-frameworks/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice conversation frameworks API route
  progress.md
  src/app/api/restorative-justice/conversation-frameworks/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice conversation frameworks API route
  progress.md
  src/app/api/restorative-justice/conversation-frameworks/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice reflection prompts API route
  progress.md
  src/app/api/restorative-justice/reflection-prompts/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice reflection prompts API route
  progress.md
  src/app/api/restorative-justice/reflection-prompts/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice reflection prompts API route
  progress.md
  src/app/api/restorative-justice/reflection-prompts/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice community building API route
  progress.md
  src/app/api/restorative-justice/community-building/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice community building API route
  progress.md
  src/app/api/restorative-justice/community-building/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice community building API route
  progress.md
  src/app/api/restorative-justice/community-building/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice parent education API route
  progress.md
  src/app/api/restorative-justice/parent-education/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice parent education API route
  progress.md
  src/app/api/restorative-justice/parent-education/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice parent education API route
  progress.md
  src/app/api/restorative-justice/parent-education/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice agreement tracking API route
  progress.md
  src/app/api/restorative-justice/agreement-tracking/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice agreement tracking API route
  progress.md
  src/app/api/restorative-justice/agreement-tracking/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice agreement tracking API route
  progress.md
  src/app/api/restorative-justice/agreement-tracking/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training progress API route
  progress.md
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training progress API route
  progress.md
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training progress API route
  progress.md
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training certificate API route
  progress.md
  src/app/api/restorative-justice/staff-training/certificate/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training certificate API route
  progress.md
  src/app/api/restorative-justice/staff-training/certificate/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training certificate API route
  progress.md
  src/app/api/restorative-justice/staff-training/certificate/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training modules API route
  progress.md
  src/app/api/restorative-justice/staff-training/modules/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training modules API route
  progress.md
  src/app/api/restorative-justice/staff-training/modules/route.ts
Owners: @documentation-team, @backend-team

Fix ESLint errors in restorative justice staff training modules API route
  progress.md
  src/app/api/restorative-justice/staff-training/modules/route.ts
Owners: @documentation-team, @backend-team

Auto-backup: Fri May 23 21:57:10 EDT 2025
  package-lock.json
  package.json
  public/sw.js
  src/app/api/professional-development/route.ts
  src/tests/components/ai-avatar/avatar-service.test.ts
  src/tests/jest.setup.js
Owners: @DevOps-team, @DrSI-P, @backend-team, @testing-team

Add comprehensive cleanup summary document
  cleanup-summary.md
Owners: @documentation-team

Fix ESLint errors in staff training progress and certificate routes
  src/app/api/restorative-justice/staff-training/certificate/route.ts
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @backend-team

Fix ESLint errors in staff training progress and certificate routes
  src/app/api/restorative-justice/staff-training/certificate/route.ts
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @backend-team

Fix ESLint errors in staff training progress and certificate routes
  src/app/api/restorative-justice/staff-training/certificate/route.ts
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @backend-team

Fix ESLint errors in staff training modules and progress routes
  src/app/api/restorative-justice/staff-training/modules/route.ts
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @backend-team

Fix ESLint errors in staff training modules and progress routes
  src/app/api/restorative-justice/staff-training/modules/route.ts
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @backend-team

Fix ESLint errors in staff training modules and progress routes
  src/app/api/restorative-justice/staff-training/modules/route.ts
  src/app/api/restorative-justice/staff-training/progress/route.ts
Owners: @backend-team

Fix ESLint errors in main restorative justice route
  src/app/api/restorative-justice/route.ts
Owners: @backend-team

Fix ESLint errors in main restorative justice route
  src/app/api/restorative-justice/route.ts
Owners: @backend-team

Fix ESLint errors in main restorative justice route
  src/app/api/restorative-justice/route.ts
Owners: @backend-team

Fix ESLint errors in conversation-frameworks route
  src/app/api/restorative-justice/conversation-frameworks/route.ts
Owners: @backend-team
