Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix: Enhanced Prisma client initialization and build process for Vercel deployment
  .env.production
Owners: @DrSI-P

Fix: Enhanced Prisma client initialization and build process for Vercel deployment
  scripts/generate-sitemap.js
  src/pages/blog/index.tsx.old
Owners: @DevOps-team, @DrSI-P

Fix deployment issues: Add border color to Tailwind config and enable Prisma migrations
  tailwind.config.js
  vercel-build.js
Owners: @DrSI-P

Fix deployment issues: Add NEXT_PUBLIC_APP_URL env var and replace border-border with border-gray-200
  .env.production
  src/components/educator/automated-progress-report-generation.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/ui/MainNavigation.tsx
  vercel.json
Owners: @DrSI-P, @frontend-team, @DevOps-team

Fix remaining deployment issues: Replace all border-border instances and add STRIPE_TEST_SECRET_KEY
  .env.production
  src/styles/brand.css
  src/styles/enhanced-brand.css
  vercel.json
Owners: @DrSI-P, @DevOps-team

Fix remaining deployment issues: Replace all border-border instances and use placeholder for STRIPE_TEST_SECRET_KEY
  .env.production
  vercel.json
Owners: @DrSI-P, @DevOps-team

Fix deployment issues: Replace border-border with border-gray-200 and add placeholder for STRIPE_TEST_SECRET_KEY
  .env.production
  src/styles/brand.css
  src/styles/enhanced-brand.css
Owners: @DrSI-P

Fix deployment issues: Add gray color to Tailwind config, replace border-border with border-gray-200, and add placeholder for Stripe key
  .env.production
  src/styles/brand.css
  src/styles/enhanced-brand.css
  tailwind.config.js
Owners: @DrSI-P

Fix Tailwind configuration: Define gray colors at top level
  src/styles/brand.css
  src/styles/enhanced-brand.css
  tailwind.config.js
Owners: @DrSI-P

Fix CSS classes and add STRIPE_WEBHOOK_SECRET
  .env.production
  src/styles/brand.css
  src/styles/enhanced-brand.css
Owners: @DrSI-P

Fix CSS classes and add NEXT_PUBLIC_HEYGEN_API_KEY
  .env.production
  src/styles/brand.css
  src/styles/enhanced-brand.css
Owners: @DrSI-P

Fix CSS styles and add NEXT_PUBLIC_HEYGEN_API_URL
  .env.production
  src/styles/brand.css
  src/styles/enhanced-brand.css
Owners: @DrSI-P

Add NEXT_PUBLIC_APP_NAME and background color to Tailwind config
  .env.production
  tailwind.config.js
Owners: @DrSI-P

Fix deployment issues: Add browser environment checks for localStorage and fix Tailwind background color configuration
  src/app/auth/signup/page.tsx
  src/components/theme-provider.tsx
  src/lib/accessibility-utils.tsx
  src/lib/i18n-utils.tsx
  src/lib/mobile-utils.ts
  src/lib/performance-utils.ts
  src/lib/security-utils.ts
  tailwind.config.js
Owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team

Fix remaining deployment issues: Fix Tailwind background color and add Suspense boundary for useSearchParams
  src/app/curriculum/differentiation/page.tsx
  tailwind.config.js
Owners: @DrSI-P, @lead-developer

Fix deployment issues: bg-background class and renderTemplateSelection function
  src/components/educator/parent-communication-management.tsx
  tailwind.config.js
Owners: @DrSI-P, @frontend-team

Fix deployment issues: bg-background class and useSearchParams in multi-modal-content page
  src/app/multi-modal-content/multi-modal-content-with-params.tsx
  src/app/multi-modal-content/page.tsx
  tailwind.config.js
Owners: @DrSI-P, @lead-developer

Fix useSearchParams in adaptive-complexity page by wrapping in Suspense boundary
  src/app/adaptive-complexity/adaptive-complexity-with-params.tsx
  src/app/adaptive-complexity/page.tsx
Owners: @DrSI-P, @lead-developer

Fix bg-background utility class by adding custom plugin
  tailwind.config.js
Owners: @DrSI-P

Fix ReferenceError: Define missing MOCK_CATEGORY_DISTRIBUTION constant
  src/components/professional-development/research-collaboration.tsx
Owners: @DrSI-P, @frontend-team

Replace bg-background with bg-white in UI components to fix Tailwind CSS deployment issues
  src/components/ui/alert-dialog.tsx
  src/components/ui/select.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
Owners: @DrSI-P, @frontend-team

Fix remaining bg-background issues and wrap useSearchParams in Suspense boundary
  src/app/progress-pacing/page.tsx
  src/app/progress-pacing/progress-pacing-with-params.tsx
  src/components/ui/AccessibilityControls.tsx
  src/components/ui/LearningStyleSelector.tsx
  src/components/ui/MainNavigation.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Fix useSearchParams in assessment/curriculum/align page by wrapping in Suspense boundary
  src/app/assessment/curriculum/align/align-with-params.tsx
  src/app/assessment/curriculum/align/page.tsx
Owners: @DrSI-P, @lead-developer

Fix useSearchParams in auth and pupil-voice pages by wrapping in Suspense boundaries
  src/app/assessment/pupil-voice/create/page.tsx
  src/app/assessment/pupil-voice/create/pupil-voice-create-with-params.tsx
  src/app/auth/reset-password/[token]/page.tsx
  src/app/auth/reset-password/[token]/reset-password-with-params.tsx
  src/app/auth/verify-email/[token]/page.tsx
  src/app/auth/verify-email/[token]/verify-email-with-params.tsx
Owners: @DrSI-P, @lead-developer

Fix bg-background utility class in Tailwind config
  tailwind.config.js
Owners: @DrSI-P

Fix missing Clock import in EmotionalVocabularyDevelopment component
  src/components/special-needs/emotional-vocabulary/emotional-vocabulary-development.tsx
Owners: @DrSI-P, @frontend-team

Fix Chakra UI context error in staff-training page by replacing Chakra components with our own UI components
  src/app/restorative-justice/staff-training/page.tsx
  src/components/common/access-denied.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Add ToastProvider to staff-training page to fix useToast context error
  src/app/restorative-justice/staff-training/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add missing Wind, Activity, and Eye icon imports to fix mindfulness page rendering error
  src/components/special-needs/mindfulness/guided-mindfulness-activities.tsx
Owners: @DrSI-P, @frontend-team

Fix: Enhanced Prisma client initialization and build process for Vercel deployment
  public/sitemap.xml
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
Owners: @DrSI-P, @frontend-team

Fix: Add missing PieChart import to fix progress-monitoring page rendering error
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix: Add bg-background color to Tailwind config to resolve unknown utility class error
  tailwind.config.js
Owners: @DrSI-P

Fix build configuration to restore premium visual design and functionality
  next.config.js
Owners: @DrSI-P

Enhance Tailwind configuration with comprehensive gray palette and visual polish improvements for global appeal
  tailwind.config.js
Owners: @DrSI-P

Add automated UI component import fixes and central UI export file to resolve build errors
  scripts/fix-ui-imports.js
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/about/page.tsx
  src/app/assessment/grade/[id]/page.tsx
  src/app/auth/forgot-password/page.tsx
  src/app/auth/reset-password/page.tsx
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
  src/app/auth/verify-email/page.tsx
  src/app/curriculum/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/pricing/page.tsx
  src/app/resources/create/page.tsx
  src/app/resources/page.tsx
  src/app/special-needs/intervention-analytics/page.tsx
  src/app/special-needs/personalized-interventions/page.tsx
  src/app/special-needs/progress-monitoring/page.tsx
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
  src/components/ai/teacher-automation/teacher-automation.tsx
  src/components/blog/BlogCard.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Navbar.tsx
  src/components/resources/create/create-resources-client.tsx
  src/components/resources/resources-client.tsx
  src/components/ui/LearningCard.tsx
  src/components/ui/Logo.tsx
  src/components/ui/MainNavigation.tsx
  src/components/ui/enhanced-learning-card.tsx
  src/components/ui/index.ts
  src/lib/ai/ai-service-server.ts
  src/lib/analytics-utils.tsx
  src/lib/i18n-utils.tsx
  src/lib/learning-utils.tsx
  src/lib/performance-utils.ts
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/_error.tsx
  src/pages/blog/categories.tsx
Owners: @DevOps-team, @DrSI-P, @lead-developer, @special-needs-team, @frontend-team, @ai-team, @backend-team

Fix duplicate Link imports by renaming UI Link to UILink to resolve build errors
  scripts/fix-link-imports.js
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/about/page.tsx
  src/app/auth/forgot-password/page.tsx
  src/app/auth/reset-password/page.tsx
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
  src/app/auth/verify-email/page.tsx
  src/app/curriculum/page.tsx
  src/app/page.tsx
  src/app/pricing/page.tsx
  src/components/blog/BlogCard.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Navbar.tsx
  src/components/resources/resources-client.tsx
  src/components/ui/LearningCard.tsx
  src/components/ui/Logo.tsx
  src/components/ui/MainNavigation.tsx
  src/components/ui/enhanced-learning-card.tsx
  src/components/ui/index.ts
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/_error.tsx
  src/pages/blog/categories.tsx
Owners: @DevOps-team, @DrSI-P, @lead-developer, @frontend-team

Add high-quality link.tsx and icons.tsx UI components to resolve build errors
  src/components/ui/icons.tsx
  src/components/ui/link.tsx
Owners: @DrSI-P, @frontend-team

Fix destructured parameter syntax errors in function signatures
  scripts/fix-destructured-params.js
  src/app/immersive-learning/layout.tsx
  src/components/about/TeamMember.tsx
  src/components/ai/executive-dysfunction/executive-dysfunction-support.tsx
  src/components/special-needs/executive-dysfunction/task-organizer.tsx
Owners: @DevOps-team, @DrSI-P, @lead-developer, @frontend-team

Fix remaining destructured parameter syntax errors in AI component files
  scripts/fix-remaining-destructured-params.js
  src/components/ai/content-transformation/content-transformation-engine.tsx
  src/components/ai/curriculum-differentiation/curriculum-differentiation-engine.tsx
  src/components/ai/multi-modal-content/multi-modal-presentation-engine.tsx
  src/components/ai/progress-pacing/progress-pacing-engine.tsx
  src/components/ai/speech-recognition/advanced-speech-recognition.tsx
Owners: @DevOps-team, @DrSI-P, @frontend-team

Manual fix for complex destructured parameter signatures in calendar-optimization.tsx and vr-headset.tsx
  src/components/educator/calendar-optimization.tsx
  src/components/icons/vr-headset.tsx
Owners: @DrSI-P, @frontend-team
