Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Implement Agreement Tracking for Restorative Justice Tools
  src/app/restorative-justice/agreement-tracking/page.tsx
Owners: @DrSI-P, @lead-developer

Implement Community Building Visualizations for Restorative Justice Tools
  src/app/restorative-justice/community-building/page.tsx
Owners: @DrSI-P, @lead-developer

Implement Reflection Prompts with visual support for Restorative Justice Tools
  src/app/restorative-justice/reflection-prompts/page.tsx
Owners: @DrSI-P, @lead-developer

Update todo.md with completed Restorative Justice Tools implementation
  todo.md
Owners: @documentation-team

Implement Adaptive Learning Algorithms feature with UK curriculum alignment
  src/app/adaptive-learning/algorithms/page.tsx
Owners: @DrSI-P, @lead-developer

Implement personalized learning paths feature with individual starting points, curriculum coverage, learning style identification, and interest-based content adaptation
  personalized_learning_paths_requirements.md
  src/app/student/learning-path/components/PersonalizedPathGenerator.tsx
  src/app/student/learning-path/page.tsx
  src/lib/learning-path/api.ts
  src/lib/learning-path/index.ts
  src/lib/learning-path/types.ts
  src/lib/learning-path/utils.ts
  todo.md
Owners: @documentation-team, @DrSI-P, @lead-developer, @backend-team

Implement comprehensive diagnostic assessment system and visual progress tracking with spaced repetition
  src/app/student/assessment/page.tsx
  src/components/assessment/diagnostic-assessment-creator.tsx
  src/components/assessment/progress-tracking-visualization.tsx
  src/lib/assessment/diagnosticAssessmentService.ts
  src/lib/assessment/diagnosticAssessmentTypes.ts
  todo.md
Owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @documentation-team

Implement Content Management System with UK curriculum alignment and learning style adaptation
  content_management_system_requirements.md
  src/app/api/content-management/content-items/[id]/route.ts
  src/app/api/content-management/content-items/[id]/variants/route.ts
  src/app/api/content-management/content-items/route.ts
  src/app/api/content-management/content-items/search/route.ts
  src/app/content-management/layout.tsx
  src/app/content-management/page.tsx
  src/components/content-management/content-browser.tsx
  src/components/content-management/content-creator.tsx
  src/components/content-management/content-viewer.tsx
  src/lib/content-management/api.ts
  src/lib/content-management/types.ts
  todo.md
Owners: @documentation-team, @backend-team, @DrSI-P, @lead-developer, @frontend-team

Implement Parent/Guardian Portal and prepare Analytics Dashboard enhancement requirements
  analytics_dashboard_enhancement_requirements.md
  parent_guardian_portal_requirements.md
  src/app/parent-portal/communication/page.tsx
  src/app/parent-portal/dashboard/page.tsx
  src/app/parent-portal/resources/page.tsx
  src/app/parent-portal/wellbeing/page.tsx
  src/lib/parent-portal/api.ts
  src/lib/parent-portal/types.ts
Owners: @documentation-team, @DrSI-P, @lead-developer, @backend-team

Implement analytics dashboard with predictive models, learning gap identification, and data visualization
  package-lock.json
  package.json
  src/app/analytics/predictive-dashboard/page.tsx
  src/components/ui/charts.tsx
  src/lib/analytics/predictiveModels.ts
  src/lib/analytics/predictiveTypes.ts
Owners: @DevOps-team, @DrSI-P, @lead-developer, @frontend-team, @backend-team

Implement mobile responsiveness and offline capabilities with service worker and responsive components
  mobile_responsiveness_requirements.md
  public/service-worker.js
  src/app/settings/offline/page.tsx
  src/components/offline/offline-manager.tsx
  src/components/responsive/mobile-components.tsx
  src/components/responsive/responsive-components.tsx
  src/hooks/use-media-query.ts
Owners: @documentation-team, @DrSI-P, @lead-developer, @frontend-team

Update todo.md to reflect completion of mobile responsiveness and offline capabilities
  todo.md
Owners: @documentation-team

Implement Collaborative Learning Tools with peer learning, group projects, and discussion forums
  collaborative_learning_requirements.md
  collaborative_learning_testing_report.md
  src/app/collaborative-learning/page.tsx
  src/components/collaborative-learning/discussion-forums/create-topic-dialog.tsx
  src/components/collaborative-learning/discussion-forums/discussion-forum-dashboard.tsx
  src/components/collaborative-learning/discussion-forums/topic-list.tsx
  src/components/collaborative-learning/group-projects/create-project-dialog.tsx
  src/components/collaborative-learning/group-projects/group-projects-dashboard.tsx
  src/components/collaborative-learning/group-projects/project-milestone-timeline.tsx
  src/components/collaborative-learning/group-projects/project-task-list.tsx
  src/components/collaborative-learning/peer-learning/create-partnership-dialog.tsx
  src/components/collaborative-learning/peer-learning/create-resource-dialog.tsx
  src/components/collaborative-learning/peer-learning/peer-learning-dashboard.tsx
  src/components/collaborative-learning/peer-learning/peer-session-card.tsx
  src/components/collaborative-learning/peer-learning/schedule-session-dialog.tsx
  src/components/collaborative-learning/peer-learning/student-resource-browser.tsx
  src/lib/collaborative-learning/api.ts
  src/lib/collaborative-learning/types.ts
  todo.md
Owners: @documentation-team, @DrSI-P, @lead-developer, @frontend-team, @backend-team

Implement Advanced Curriculum Content Development feature with UK curriculum alignment, learning style variants, and enhanced educator tools
  advanced_curriculum_content_requirements.md
  src/app/api/curriculum-content/[id]/route.ts
  src/app/api/curriculum-content/[id]/variants/route.ts
  src/app/api/curriculum-content/route.ts
  src/app/api/curriculum-content/search/route.ts
  src/components/curriculum-content/curriculum-content-browser.tsx
  src/components/curriculum-content/curriculum-content-editor.tsx
  src/components/curriculum-content/curriculum-content-integration-tester.tsx
  src/components/curriculum-content/curriculum-content-validation-report.tsx
  src/components/curriculum-content/curriculum-content-viewer.tsx
  src/components/curriculum-content/enhanced-curriculum-content-creator.tsx
  src/lib/curriculum-content/api.ts
  src/lib/curriculum-content/seed-data/english-ks2.ts
  src/lib/curriculum-content/seed-data/mathematics-ks2.ts
  src/lib/curriculum-content/types.ts
  src/lib/learning-path/curriculum-content-integration.ts
  todo.md
Owners: @documentation-team, @backend-team, @DrSI-P, @frontend-team

Implement AI Tutoring System with personalized learning support, natural language concept explanation, and learning path integration
  ai_tutoring_system_requirements.md
  ai_tutoring_system_validation_report.md
  src/components/ai/tutoring/ai-tutoring-session.tsx
  src/components/ai/tutoring/ai-tutoring-system-integration.tsx
  src/components/ai/tutoring/natural-language-concept-explainer.tsx
  src/tests/ai-tutoring-system.test.tsx
  todo.md
Owners: @documentation-team, @DrSI-P, @frontend-team, @testing-team

Implement Multi-tenant Architecture, Subscription Management, and Enhanced Educator Dashboard features with comprehensive validation
  multi_tenant_and_dashboard_requirements.md
  multi_tenant_and_dashboard_validation_report.md
  src/app/admin/tenants/[id]/subscription/invoices/page.tsx
  src/app/admin/tenants/[id]/subscription/page.tsx
  src/app/admin/tenants/[id]/subscription/pricing/page.tsx
  src/app/admin/tenants/register/page.tsx
  src/app/api/subscriptions/route.ts
  src/app/api/tenants/route.ts
  src/app/educator/classes/page.tsx
  src/app/educator/dashboard/enhanced-page.tsx
  src/lib/multi-tenant/index.ts
  src/lib/multi-tenant/subscription-management.ts
  src/lib/multi-tenant/tenant-management.ts
  src/lib/multi-tenant/user-management.ts
  todo.md
Owners: @documentation-team, @DrSI-P, @lead-developer, @backend-team

Implement Parent/Guardian Portal and Advanced Analytics enhancements with comprehensive validation
  parent_guardian_portal_and_analytics_requirements.md
  parent_portal_and_analytics_validation_report.md
  src/app/analytics/predictive-dashboard/enhanced-page.tsx
  src/app/parent-portal/communication/enhanced-page.tsx
  src/app/parent-portal/dashboard/enhanced-page.tsx
  src/app/parent-portal/resources/enhanced-page.tsx
  src/app/parent-portal/wellbeing/enhanced-page.tsx
  todo.md
Owners: @documentation-team, @DrSI-P, @lead-developer

Implement Accessibility and Mobile Application features with comprehensive enhancements for WCAG compliance and offline capabilities
  accessibility_and_mobile_requirements.md
  src/app/mobile/notifications/page.tsx
  src/app/mobile/offline-learning/page.tsx
  src/app/mobile/security/page.tsx
  src/app/mobile/synchronization/page.tsx
  src/app/settings/accessibility/page.tsx
  src/app/settings/mobile/page.tsx
  src/components/accessibility/enhanced-accessibility-components.tsx
  src/components/accessibility/enhanced-accessibility-features.tsx
  src/components/accessibility/enhanced-accessibility-settings.tsx
  src/components/accessibility/enhanced-input-output.tsx
  todo.md
Owners: @documentation-team, @DrSI-P, @lead-developer, @frontend-team

Implement Voice Analysis feature with emotional tone detection and speech pattern analysis
  implementation_compliance_report.md
  partially_implemented_features.md
  prioritized_implementation_plan.md
  src/lib/voice/enhanced-voice-analysis.ts
  src/lib/voice/student-voice-analysis.ts
  src/lib/voice/voiceAnalysis.ts
Owners: @documentation-team, @DrSI-P, @backend-team

Implement Student Voice Analysis feature with advanced pattern recognition and educational assessment
  src/components/voice/student-voice-analysis-component.tsx
  src/lib/executive-function/working-memory-support.ts
  src/lib/voice/student-voice-analysis.ts
  src/tests/student-voice-analysis.test.ts
Owners: @DrSI-P, @frontend-team, @backend-team, @testing-team

Prepare Working Memory Support implementation for continuation
  src/lib/pwa/progressive-web-app-service.ts
Owners: @DrSI-P, @backend-team

Implement Working Memory Support feature with UI components and tools
  src/components/special-needs/executive-dysfunction/working-memory/AvatarVideo.tsx
  src/components/special-needs/executive-dysfunction/working-memory/WorkingMemorySupport.tsx
  src/components/special-needs/executive-dysfunction/working-memory/exercises/SequentialMemoryExercise.tsx
  src/components/special-needs/executive-dysfunction/working-memory/exercises/VisualSpatialExercise.tsx
  src/components/special-needs/executive-dysfunction/working-memory/tools/TaskBreakdown.tsx
  src/components/special-needs/executive-dysfunction/working-memory/tools/VisualChecklist.tsx
Owners: @DrSI-P, @frontend-team

Add 'use client' directives to fix client/server boundary issues and implement PWA components
  src/app/admin/tenants/[id]/subscription/invoices/page.tsx
  src/app/admin/tenants/[id]/subscription/page.tsx
  src/app/admin/tenants/[id]/subscription/pricing/page.tsx
  src/app/admin/tenants/register/page.tsx
  src/app/api/subscriptions/route.ts
  src/app/educator/classes/page.tsx
  src/app/mobile/notifications/page.tsx
  src/app/mobile/offline-learning/page.tsx
  src/app/mobile/security/page.tsx
  src/app/mobile/synchronization/page.tsx
  src/app/settings/accessibility/page.tsx
  src/app/settings/mobile/page.tsx
  src/components/pwa/InstallationGuide.tsx
  src/components/pwa/OfflineBanner.tsx
  src/components/pwa/OfflineContentManager.tsx
  src/components/pwa/PWAProvider.tsx
  src/components/pwa/PWAServiceWorkerManager.tsx
  src/lib/multi-tenant/index.ts
Owners: @DrSI-P, @lead-developer, @backend-team, @frontend-team

Fix multi-tenant context provider and client/server boundary issues
  src/lib/multi-tenant/index.ts
  src/lib/multi-tenant/subscription-management.ts
  src/lib/multi-tenant/tenant-management.ts
  src/lib/multi-tenant/user-management.ts
Owners: @DrSI-P, @backend-team

Fix missing exports in auth and subscription modules, resolve runtime errors in mobile notifications page
  src/app/mobile/notifications/page.tsx
  src/lib/auth/index.ts
  src/lib/multi-tenant/subscription-management.ts
Owners: @DrSI-P, @lead-developer, @backend-team

Implement Curriculum Content Dashboard for content management and analytics
  src/app/curriculum-content/dashboard/page.tsx
  src/components/curriculum-content/dashboard/CurriculumContentDashboard.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Implement Curriculum Content Manager and UK Curriculum Alignment components
  src/app/curriculum-content/alignment/page.tsx
  src/app/curriculum-content/manager/page.tsx
  src/components/curriculum-content/alignment/UKCurriculumAlignment.tsx
  src/components/curriculum-content/manager/CurriculumContentManager.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Implement Content Version Control component for curriculum content workflow management
  src/app/curriculum-content/version-control/page.tsx
  src/components/curriculum-content/version-control/ContentVersionControl.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Implement Learning Style Adaptation component for curriculum content personalization
  src/app/curriculum-content/learning-style/page.tsx
  src/components/curriculum-content/learning-style/LearningStyleAdaptation.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Implement Student Interest Personalization component for curriculum content adaptation
  src/app/curriculum-content/student-interest/page.tsx
  src/components/curriculum-content/student-interest/StudentInterestPersonalization.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Implement Content Search and Filtering component for curriculum content discovery
  src/app/curriculum-content/search/page.tsx
  src/components/curriculum-content/search/ContentSearchFiltering.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Implement Curriculum Content Management System backend services
  src/lib/curriculum-content/analytics-service.ts
  src/lib/curriculum-content/learning-style-service.ts
  src/lib/curriculum-content/permission-service.ts
  src/lib/curriculum-content/search-service.ts
  src/lib/curriculum-content/student-interest-service.ts
  src/lib/curriculum-content/unit-management-service.ts
  src/lib/curriculum-content/version-control-service.ts
Owners: @DrSI-P, @backend-team

Implement Personalized Learning Paths feature and add thesis to Restorative Justice resources
  package-lock.json
  package.json
  public/service-worker.js
  src/app/learning-path/[id]/assessment/page.tsx
  src/app/learning-path/[id]/page.tsx
  src/app/learning-path/assessment/page.tsx
  src/app/learning-path/create/page.tsx
  src/app/learning-path/page.tsx
  src/app/learning-path/preferences/page.tsx
  src/app/offline/page.tsx
  src/components/curriculum-content/analytics/ContentAnalytics.tsx
  src/components/i18n/index.ts
  src/components/learning-path/LearningPathAssessment.tsx
  src/components/learning-path/LearningPathCreator.tsx
  src/components/learning-path/LearningPathDashboard.tsx
  src/components/learning-path/LearningPathView.tsx
  src/components/learning-path/LearningStylePreferences.tsx
  src/components/restorative-justice/RestorativeJusticeResources.tsx
  src/components/root-layout-wrapper.tsx
  src/components/special-needs/executive-dysfunction/working-memory/AvatarVideo.tsx
  src/lib/auth/index.ts
  src/lib/integration/lms/lti-service.ts
Owners: @DevOps-team, @DrSI-P, @lead-developer, @frontend-team, @backend-team

Implement Educator Dashboard Enhancements with accessibility, analytics, voice input, and UK curriculum integration
  src/app/educator/enhanced-dashboard/layout.tsx
  src/app/educator/enhanced-dashboard/page.tsx
  src/components/educator/accessibility-enhancements.tsx
  src/components/educator/enhanced-analytics.tsx
  src/components/educator/uk-curriculum-integration.tsx
  src/components/educator/voice-input-integration.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Fix export/import errors and provider setup for Personalized Learning Paths feature
  src/app/api/assessments/results/route.ts
  src/app/api/curriculum-content/[id]/route.ts
  src/app/api/curriculum-content/[id]/variants/route.ts
  src/app/api/curriculum-content/route.ts
  src/app/api/curriculum-content/search/route.ts
  src/app/api/curriculum/topics/route.ts
  src/app/api/learning-paths/[id]/route.ts
  src/app/api/learning-paths/[id]/units/[unitId]/status/route.ts
  src/app/api/learning-paths/route.ts
  src/app/api/users/[userId]/learning-profile/route.ts
  src/app/educator/classes/page.tsx
  src/app/educator/enhanced-dashboard/page.tsx
  src/app/learning-path/[id]/assessment/page.tsx
  src/app/learning-path/[id]/page.tsx
  src/app/learning-path/assessment/page.tsx
  src/app/learning-path/create/page.tsx
  src/app/learning-path/page.tsx
  src/app/learning-path/preferences/page.tsx
  src/components/accessibility/accessibility-provider.tsx
  src/components/multi-tenant/tenant-provider.tsx
  src/components/special-needs/executive-dysfunction/working-memory/AvatarVideo.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/alert.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/date-range-picker.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/components/ui/tabs.tsx
  src/lib/auth/index.ts
  src/lib/learning-path/api-service.ts
  src/lib/learning-path/types.ts
  src/lib/learning-path/use-personalized-learning.ts
  src/lib/multi-tenant/index.ts
  src/lib/utils.ts
Owners: @backend-team, @DrSI-P, @lead-developer, @frontend-team

Add Student Progress Analytics feature with UK curriculum alignment and accessibility support
  src/app/student-analytics/layout.tsx
  src/app/student-analytics/page.tsx
  src/components/student-analytics/StudentProgressAnalytics.tsx
  src/lib/student-analytics/api.ts
  src/lib/student-analytics/types.ts
Owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team

Add comprehensive accessibility enhancements with UK curriculum alignment and AI adaptation
  src/app/accessibility/enhanced/page.tsx
  src/components/accessibility/AIAccessibilityAdaptation.tsx
  src/components/accessibility/EnhancedAccessibilityPanel.tsx
  src/components/accessibility/UKCurriculumAccessibility.tsx
  src/components/accessibility/accessibility-gap-analysis.md
  src/components/accessibility/accessibility-testing-report.md
Owners: @accessibility-team, @DrSI-P, @frontend-team, @documentation-team

Add comprehensive Voice Input Integration with cross-platform support and special educational needs features
  src/app/voice-input/page.tsx
  src/components/voice-input/CrossPlatformVoiceInput.tsx
  src/components/voice-input/MultiModalVoiceInput.tsx
  src/components/voice-input/VoiceInputIntegrationManager.tsx
  src/components/voice-input/voice-input-testing-report.md
Owners: @DrSI-P, @lead-developer, @frontend-team, @documentation-team

Add comprehensive Multi-language Support with curriculum localization and voice input integration
  src/components/i18n/CurriculumContentLocalization.tsx
  src/components/i18n/EnhancedLanguageSwitcher.tsx
  src/components/i18n/VoiceInputLanguageIntegration.tsx
  src/components/i18n/multilanguage-testing-report.md
Owners: @DrSI-P, @frontend-team, @documentation-team

Add comprehensive Parent Portal with multi-language support, accessibility features, and analytics dashboard
  src/app/parent-portal/page.tsx
  src/components/parent-portal/AccessibleParentPortal.tsx
  src/components/parent-portal/ParentPortalAnalytics.tsx
  src/components/parent-portal/ParentPortalMultiLanguage.tsx
  src/components/parent-portal/parent-portal-testing-report.md
Owners: @DrSI-P, @lead-developer, @frontend-team, @documentation-team
