Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Add comprehensive TypeScript fixes: Create next-env.d.ts, add global types.d.ts, and create scripts to fix component issues
  fix-typescript-errors-final.ps1
  fix-typescript-errors-final.sh
  src/types.d.ts
Owners: @DrSI-P

Fix paths in TypeScript error fixing scripts
  fix-typescript-errors-final.ps1
  fix-typescript-errors-final.sh
Owners: @DrSI-P

Fix build errors: Remove extra div tag, replace non-ASCII characters, fix Cell components usage, and resolve string literal issues
  fix-string-literals.ps1
  fix-typescript-errors-final.ps1
  package-lock.json
  package.json
  src/app/adaptive-complexity/page.tsx
  src/app/ai-avatar-videos/view/[id]/page.tsx
  src/app/assessment/grade/[id]/page.tsx
  src/app/assessment/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/results/[id]/page.tsx
  src/app/assessment/pupil-voice/take/[id]/page.tsx
  src/app/assessment/results/[id]/page.tsx
  src/app/assessment/take/[id]/page.tsx
  src/app/assessment/templates/[id]/use/page.tsx
  src/app/auth/reset-password/[token]/page.tsx
  src/app/auth/verify-email/[token]/page.tsx
  src/components/admin/admin-dashboard.tsx
  src/components/ai-avatar/ai-avatar-video-service.ts
  src/components/ai/curriculum-differentiation/curriculum-differentiation-engine.tsx
  src/components/ai/executive-dysfunction/executive-dysfunction-support.tsx
  src/components/ai/learning-path-recommendations.tsx
  src/components/ai/student-voice/student-voice-capture.tsx
  src/components/analytics/dashboard-widget.tsx
  src/components/analytics/resource-and-assessment-analytics.tsx
  src/components/avatar/avatar-video-integration.tsx
  src/components/avatar/video-library.tsx
  src/components/educator/calendar-optimisation.tsx
  src/components/mobile/mobile-validator.tsx
  src/components/mobile/push-notification-manager.tsx
  src/components/mobile/responsive-layout.tsx
  src/components/restorative-justice/outcome-measurement/outcome-measurement-tools.tsx
  src/components/special-needs/progress-monitoring/progress-monitoring-engine.tsx
  src/components/student-voice/multi-modal-feedback-collection.tsx
  src/components/student/student-dashboard.tsx
  src/lib/assessment/feedbackGeneratorService.ts
Owners: @DrSI-P, @DevOps-team, @lead-developer, @frontend-team, @backend-team

Fix vercel.json: Remove unsupported domains property
  vercel.json
Owners: @DevOps-team

Fix configuration conflicts: Remove duplicate config files
  eslint.config.mjs
  next.config.ts
  postcss.config.mjs
Owners: @DrSI-P

Fix database connection and migration issues: 1) Add IF NOT EXISTS clauses to migrations 2) Add migration.toml for plugin credential model 3) Create accessibility log migration
  prisma/migrations/20250520130900_add_plugin_credential_model/migration.sql
  prisma/migrations/20250520130900_add_plugin_credential_model/migration.toml
  prisma/migrations/20250520160000_create_accessibility_log/migration.sql
  prisma/migrations/20250520160000_create_accessibility_log/migration.toml
  vercel.json
Owners: @database-team, @DevOps-team

Add prisma migrate repair to build command to fix failed migrations
  vercel.json
Owners: @DevOps-team

Create combined migration for plugin credential and accessibility log
  prisma/migrations/20250520180000_combined_plugin_credential_and_accessibility_log/migration.sql
  prisma/migrations/20250520180000_combined_plugin_credential_and_accessibility_log/migration.toml
  vercel.json
Owners: @database-team, @DevOps-team

Add migration to reset migration state and ensure tables exist
  prisma/migrations/20250520190000_reset_migration_state/migration.sql
  prisma/migrations/20250520190000_reset_migration_state/migration.toml
Owners: @database-team

Update README with database connection guidance for production deployments
  README.md
Owners: @documentation-team

Fix SQL syntax in migrations for PostgreSQL compatibility
  prisma/migrations/20250520130900_add_plugin_credential_model/migration.sql
  prisma/migrations/20250520160000_create_accessibility_log/migration.sql
  prisma/migrations/20250520180000_combined_plugin_credential_and_accessibility_log/migration.sql
  prisma/migrations/20250520190000_reset_migration_state/migration.sql
Owners: @database-team

Add migration to reset failed migration records
  prisma/migrations/20250520200000_reset_failed_migrations/migration.sql
  prisma/migrations/20250520200000_reset_failed_migrations/migration.toml
Owners: @database-team

Temporarily skip migrations in build command
  vercel.json
Owners: @DevOps-team

Fix UTF-8 encoding issue in adaptive-complexity page
  src/app/adaptive-complexity/page.tsx
Owners: @DrSI-P, @lead-developer

Fix syntax error in assessment preview page
  src/app/assessment/preview/[id]/page.tsx
Owners: @DrSI-P, @lead-developer

Fix UTF-8 encoding issues in multiple files to resolve Vercel deployment failures
  src/app/assessment/grade/[id]/page.tsx
  src/components/ai/curriculum-differentiation/curriculum-differentiation-engine.tsx
  src/components/educator/calendar-optimisation.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Fix environment variables for Vercel deployment
  .env.production
Owners: @DrSI-P

Fix duplicate FileText import
  src/components/analytics/resource-and-assessment-analytics.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in Prisma connection pool
  prisma/connection-pool.ts
Owners: @database-team

Fix Tabs component to support tabs prop and conditional rendering
  src/components/ui/tabs.tsx
Owners: @DrSI-P, @frontend-team

Fix Tabs component to support defaultValue prop
  src/components/ui/tabs.tsx
Owners: @DrSI-P, @frontend-team

Fix Tabs component to support onValueChange prop
  src/components/ui/tabs.tsx
Owners: @DrSI-P, @frontend-team

Fix Tabs component to support value prop
  src/components/ui/tabs.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error: Add null check for params.id
  src/app/assessment/grade/[id]/page.tsx
Owners: @DrSI-P, @lead-developer

Fix another TypeScript error: Add null check for params in useEffect
  src/app/assessment/grade/[id]/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript error: Use optional chaining for params.id in dependency array
  src/app/assessment/grade/[id]/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript error: Use optional chaining for params.id in preview page
  src/app/assessment/preview/[id]/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript errors in pupil-voice create page
  src/app/assessment/pupil-voice/create/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript errors in dynamic route files with proper params null checks
  src/app/assessment/pupil-voice/preview/[id]/page.tsx
  src/app/assessment/pupil-voice/results/[id]/page.tsx
  src/app/assessment/pupil-voice/take/[id]/page.tsx
  src/app/assessment/results/[id]/page.tsx
  src/app/assessment/take/[id]/page.tsx
  src/app/assessment/templates/[id]/use/page.tsx
  vercel.json
Owners: @DrSI-P, @lead-developer, @DevOps-team

Fix TypeScript errors in files using useSearchParams() with proper null checks
  src/app/auth/reset-password/[token]/page.tsx
  src/app/auth/verify-email/[token]/page.tsx
  src/app/curriculum/collaboration/page.tsx
  src/app/curriculum/differentiation/page.tsx
  src/app/multi-modal-content/page.tsx
  src/app/progress-pacing/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript null reference errors with array access
  src/app/admin/users/page.tsx
  src/app/assessment/pupil-voice/results/[id]/page.tsx
  src/app/assessment/results/[id]/page.tsx
  src/app/innovations/neuroadaptive-interface/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript null reference errors in ai-avatar-videos view page
  src/app/ai-avatar-videos/view/[id]/page.tsx
Owners: @DrSI-P, @lead-developer

Fix database migration issue with PluginCredential and AccessibilityLog tables
  prisma/migrations/20250521000000_fix_plugin_credential_migration/migration.sql
Owners: @database-team

Fix: Implement solution for failed Prisma migrations in Vercel build
  README.md
  docs/MIGRATION_FIX.md
  package.json
  scripts/apply-fix-migration.js
  vercel.json
Owners: @documentation-team, @DevOps-team

Fix: Add pg package to dependencies for database fix script
  package.json
Owners: @DevOps-team

Fix: Add PupilVoiceSurvey type to resolve TypeScript error
  src/app/assessment/pupil-voice/page.tsx
  src/types/assessment.ts
Owners: @DrSI-P, @lead-developer

Docs: Add Prisma migration best practices documentation
  README.md
  docs/PRISMA_MIGRATION_BEST_PRACTICES.md
Owners: @documentation-team

Fix: Add TypeScript type annotations to pupil-voice page
  src/app/assessment/pupil-voice/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add TypeScript type annotations to pupil-voice page
  src/app/assessment/pupil-voice/page.tsx
Owners: @DrSI-P, @lead-developer

Fix: Add TypeScript type annotations to pupil-voice page
  src/app/assessment/pupil-voice/page.tsx
Owners: @DrSI-P, @lead-developer

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
