Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix: Resolve stack overflow in parent-teacher-communication component
  src/components/special-needs/parent-teacher-communication/parent-teacher-communication.tsx
Owners: @DrSI-P, @frontend-team

Add comprehensive LMS Integration with support for UK curriculum, accessibility, parent portal, and multi-language features
  src/components/integration/AccessibilityLMSIntegration.tsx
  src/components/integration/LMSAnalyticsIntegration.tsx
  src/components/integration/LMSConfiguration.tsx
  src/components/integration/LanguageLMSIntegration.tsx
  src/components/integration/ParentPortalLMSIntegration.tsx
  src/components/integration/lms-integration-requirements.md
  src/components/integration/lms-integration-testing-report.md
  src/lib/integration/lms/types.ts
Owners: @DrSI-P, @frontend-team, @documentation-team, @backend-team

Add comprehensive landing page and Professional Development training content plan
  src/app/page.tsx
  src/components/professional-development/training-content-plan.md
Owners: @DrSI-P, @lead-developer, @documentation-team

Implement critical functionality enhancements: voice input system and page verification
  implementation/README.md
  implementation/progress-report.md
  implementation/todo.md
  implementation/voice-input-analysis.md
  implementation/voice-input-integration.md
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/privacy/page.tsx
  src/components/error/custom-error-page.tsx
  src/components/tools/route-checker.tsx
  src/components/tools/route-verifier.tsx
  src/components/voice-input/enhanced/enhanced-voice-recognition.tsx
  src/components/voice-input/enhanced/voice-navigation-bar.tsx
  src/components/voice-input/enhanced/voice-navigation-provider.tsx
  src/components/voice-input/enhanced/voice-navigation-wrapper.tsx
Owners: @documentation-team, @DrSI-P, @lead-developer, @frontend-team

Add automated testing tools and documentation
  implementation/testing-documentation-guide.md
  src/components/tools/automated-route-tester.tsx
  src/components/tools/end-to-end-test-runner.tsx
Owners: @documentation-team, @DrSI-P, @frontend-team

Add integration and validation checklist
  implementation/integration-validation-checklist.md
Owners: @documentation-team

Add automated testing tools and comprehensive documentation
  implementation/functionality-documentation.md
  src/components/tools/end-to-end-test-runner.tsx
Owners: @documentation-team, @DrSI-P, @frontend-team

Add integration checker and testing report
  implementation/integration-testing-report.md
  src/components/tools/integration-checker.tsx
Owners: @documentation-team, @DrSI-P, @frontend-team

Implement visual design excellence enhancements
  src/components/enhanced-theme-provider.tsx
  src/components/layout/enhanced-header-footer.tsx
  src/components/ui/enhanced-layout-components.tsx
Owners: @DrSI-P, @frontend-team

Add enhanced form components with brand styling and accessibility features
  src/components/ui/enhanced-form-components.tsx
Owners: @DrSI-P, @frontend-team

Add enhanced interactive components with brand styling and accessibility features
  src/components/ui/enhanced-interactive-components.tsx
Owners: @DrSI-P, @frontend-team

Add enhanced marketing components with brand styling and accessibility features
  src/components/ui/enhanced-marketing-components.tsx
Owners: @DrSI-P, @frontend-team

Implement enhanced homepage with brand styling and accessibility features
  src/app/page.tsx
Owners: @DrSI-P, @lead-developer

Implement privacy policy page with enhanced UI components
  src/app/privacy/page.tsx
Owners: @DrSI-P, @lead-developer

Implement professional development page with enhanced UI components
  src/app/professional-development/page.tsx
Owners: @DrSI-P, @lead-developer

Implement about page with enhanced UI components
  src/app/about/page.tsx
Owners: @DrSI-P, @lead-developer

Implement pricing page with enhanced UI components
  src/app/pricing/page.tsx
Owners: @DrSI-P, @lead-developer

Implement contact page with enhanced UI components
  src/app/contact/page.tsx
Owners: @DrSI-P, @lead-developer

Implement resources page with enhanced UI components
  src/app/resources/page.tsx
Owners: @DrSI-P, @lead-developer

Implement AI avatar video page with placeholders
  src/app/videos/page.tsx
Owners: @DrSI-P, @lead-developer

Add reusable AI avatar video component
  src/components/ai-avatar/ai-avatar-video-component.tsx
Owners: @DrSI-P, @frontend-team

Implement AI avatar video integration status page
  src/app/videos/integration/page.tsx
Owners: @DrSI-P, @lead-developer

Implement comprehensive legal and compliance pages
  src/app/legal/cookie-policy/page.tsx
  src/app/legal/educational-compliance/page.tsx
  src/app/legal/privacy-policy/page.tsx
  src/app/legal/terms-of-service/page.tsx
Owners: @DrSI-P, @lead-developer

Add comprehensive voice input enhancements with UK accent support
  implementation/brand-style-guide.md
  implementation/todo.md
  implementation/visual-design-audit.md
  implementation/voice-input-validation-report.md
  src/app/content-creation-demo/page.tsx
  src/app/content-creation/layout.tsx
  src/app/content-creation/page.tsx
  src/app/layout.tsx
  src/app/professional-development/page.tsx
  src/app/voice-analytics/page.tsx
  src/app/voice-input-test/error.tsx
  src/app/voice-input-test/layout.tsx
  src/app/voice-input-test/loading.tsx
  src/app/voice-input-test/page.tsx
  src/app/voice-navigation-demo/layout.tsx
  src/app/voice-navigation-demo/page.tsx
  src/app/voice-testing-framework/page.tsx
  src/app/voice-to-text-test/layout.tsx
  src/app/voice-to-text-test/page.tsx
  src/components/content/assignment-voice-input.tsx
  src/components/content/content-creation-voice-input.tsx
  src/components/content/journal-voice-input.tsx
  src/components/content/notes-voice-input.tsx
  src/components/layout/global-voice-navigation.tsx
  src/components/voice-input/enhanced/age-appropriate-commands.tsx
  src/components/voice-input/enhanced/browser-compatibility-layer.tsx
  src/components/voice-input/enhanced/enhanced-voice-recognition-v2.tsx
  src/components/voice-input/enhanced/uk-accent-recognition.tsx
  src/components/voice-input/enhanced/voice-analytics-dashboard.tsx
  src/components/voice-input/enhanced/voice-input-analytics.tsx
  src/components/voice-input/enhanced/voice-input-test.tsx
  src/components/voice-input/enhanced/voice-input-testing-framework.tsx
  src/components/voice-input/enhanced/voice-navigation-shortcuts.tsx
  src/components/voice-input/enhanced/voice-to-text-test.tsx
  src/components/voice-input/enhanced/voice-to-text.tsx
Owners: @documentation-team, @DrSI-P, @lead-developer, @frontend-team

Add professional development modules, certification pathways, and micro-learning content
  implementation/professional-development-feature-priorities.md
  implementation/professional-development-todo.md
  src/app/professional-development/certification/page.tsx
  src/app/professional-development/foundations/page.tsx
  src/app/professional-development/leadership-in-educational-psychology/page.tsx
  src/app/professional-development/micro-learning/page.tsx
  src/app/professional-development/parent-family-engagement/page.tsx
  src/app/professional-development/teaching-assistant-development/page.tsx
  src/app/professional-development/technology-in-education/page.tsx
  src/app/professional-development/trauma-informed-practice/page.tsx
Owners: @documentation-team, @DrSI-P, @lead-developer

Add comprehensive EBSNA module with theoretical frameworks and UK-focused content
  src/app/professional-development/emotionally-based-school-non-attendance/page.tsx
Owners: @DrSI-P, @lead-developer

Fix Supabase tenant model integration issues and add validation tools
  prisma/migrations/tenant_model_fix.sql
  scripts/validate-routes.ts
  src/app/_app.tsx
  src/lib/tenant-context.tsx
Owners: @database-team, @DevOps-team, @DrSI-P, @lead-developer, @backend-team

Add comprehensive Supabase tenant model fixes with manual setup script
  src/lib/database-init.ts
  src/lib/enhanced-tenant-context.tsx
  src/pages/_app.tsx
  supabase-manual-setup.sql
Owners: @DrSI-P, @backend-team

Add professional development validation report
  implementation/professional-development-validation-report.md
Owners: @documentation-team

Add frontend verification script for live site troubleshooting
  implementation/frontend-verification-script.md
Owners: @documentation-team

Fix tenant context issues during build process to resolve 'Tenant or user not found' errors
  package.json
  scripts/build-tenant-init.js
  scripts/generate-sitemap.js
  vercel-build.js
Owners: @DevOps-team, @DrSI-P

Implement robust per-query tenant context initialization with Prisma middleware to fix persistent 'Tenant or user not found' errors
  lib/prisma-tenant-middleware.js
  scripts/build-tenant-init.js
  scripts/generate-sitemap.js
  vercel-build.js
Owners: @DrSI-P, @DevOps-team

Implement zero-dependency tenant context initialization to break circular dependency during build
  lib/prisma-tenant-middleware.js
  scripts/build-tenant-init.js
  supabase-function-search-path-fix.sql
  vercel-build.js
Owners: @DrSI-P, @DevOps-team

Implement memory-optimized sitemap generator to resolve Out of Memory (OOM) errors during build
  scripts/generate-sitemap.js
Owners: @DevOps-team

WORLD-CLASS TRANSFORMATION: New landing page and strategic assets
  src/app/page.tsx
Owners: @DrSI-P, @lead-developer

ENHANCED INTERACTIVE AVATAR: Brand integration and professional messaging
  public/team/dr-scott-i-patrick.jpg
  src/components/ask-dr-scott/AskDrScott.tsx
Owners: @DrSI-P, @frontend-team

PROFESSIONAL TEAM PHOTOS: Complete branded team integration
  public/team/dr-scott-i-patrick-branded.jpg
  public/team/dr-scott-i-patrick-real.jpg
  public/team/george-randall-branded.jpg
  public/team/george-randall-real.jpg
  public/team/george-randall.jpg
  public/team/hannah-i-patrick-branded.jpg
  public/team/hannah-i-patrick-real.jpg
  public/team/louis-young-branded.jpg
  public/team/louis-young-real.jpg
  public/team/osasogie-i-patrick-branded.jpg
  public/team/osasogie-i-patrick-real.jpg
  public/team/professor-piers-worth-branded.jpg
  public/team/professor-piers-worth-real.jpg
  public/team/samantha-patrick-branded.jpg
  public/team/samantha-patrick-real.jpg
Owners: @DrSI-P

TEAM INTEGRATION: Real branded photos integrated into About page
  src/app/about/page.tsx
Owners: @DrSI-P, @lead-developer
