Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix TypeScript errors in blog auto-generate route handler
  src/app/api/blog/auto-generate/route.ts
Owners: @backend-team

Fix TypeScript errors in blog auto-generate route handler
  src/app/api/blog/auto-generate/route.ts
Owners: @backend-team

Fix TypeScript errors by adding missing database model interfaces
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors by adding missing database model interfaces
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors by updating auth module exports
  src/lib/auth.ts
Owners: @security-team

Fix TypeScript errors by updating auth module exports
  src/lib/auth.ts
Owners: @security-team

Add missing database accessors and automation script for fixing TypeScript errors
  fix-typescript-implicit-any.js
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team

Add missing database accessors and automation script for fixing TypeScript errors
  fix-typescript-implicit-any.js
  src/lib/db/index.ts
Owners: @DrSI-P, @backend-team

Auto-backup: Sat May 24 11:52:15 EDT 2025
  typescript_errors_current.log
  typescript_errors_updated.log
Owners: @DrSI-P

Auto-backup: Sat May 24 11:52:15 EDT 2025
  typescript_errors_current.log
  typescript_errors_updated.log
Owners: @DrSI-P

Add advanced automation script for fixing TypeScript errors
  fix-typescript-errors-advanced.js
Owners: @DrSI-P

Add advanced automation script for fixing TypeScript errors
  fix-typescript-errors-advanced.js
Owners: @DrSI-P

Fix TypeScript errors in API route handlers with automation script
  src/app/api/ai/accessibility/route.ts
  src/app/api/ai/content-transformation/route.ts
  src/app/api/ai/emotional-checkin/route.ts
  src/app/api/assessment/[id]/submit/route.ts
  src/app/api/educator/data-visualisation/route.ts
  src/app/api/heygen/videos/[id]/route.ts
  src/app/api/immersive-learning/experiences/route.ts
  src/app/api/immersive-learning/tools/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/professional-development/portfolio/route.ts
  src/app/api/professional-development/webinar/route.ts
  src/app/api/resource/recommendations/route.ts
  src/app/api/restorative-justice/staff-training/modules/route.ts
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @ai-team, @backend-team, @special-needs-team

Fix TypeScript errors in API route handlers with automation script
  src/app/api/ai/accessibility/route.ts
  src/app/api/ai/content-transformation/route.ts
  src/app/api/ai/emotional-checkin/route.ts
  src/app/api/assessment/[id]/submit/route.ts
  src/app/api/educator/data-visualisation/route.ts
  src/app/api/heygen/videos/[id]/route.ts
  src/app/api/immersive-learning/experiences/route.ts
  src/app/api/immersive-learning/tools/route.ts
  src/app/api/professional-development/mentor-matching/route.ts
  src/app/api/professional-development/portfolio/route.ts
  src/app/api/professional-development/webinar/route.ts
  src/app/api/resource/recommendations/route.ts
  src/app/api/restorative-justice/staff-training/modules/route.ts
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @ai-team, @backend-team, @special-needs-team

Fix syntax error in HEYGEN video route handler
  src/app/api/heygen/videos/[id]/route.ts
Owners: @backend-team

Fix syntax error in HEYGEN video route handler
  src/app/api/heygen/videos/[id]/route.ts
Owners: @backend-team

Fix Promise indexing error in HEYGEN video route handler
  src/app/api/heygen/videos/[id]/route.ts
Owners: @backend-team

Fix Promise indexing error in HEYGEN video route handler
  src/app/api/heygen/videos/[id]/route.ts
Owners: @backend-team

Fix AvatarProvider type mismatch in ai-avatar route
  src/app/api/ai-avatar/route.ts
Owners: @backend-team

Fix AvatarProvider type mismatch in ai-avatar route
  src/app/api/ai-avatar/route.ts
Owners: @backend-team

Fix Expected 2 arguments error in credits route handler
  src/app/api/credits/route.ts
Owners: @backend-team

Fix Expected 2 arguments error in credits route handler
  src/app/api/credits/route.ts
Owners: @backend-team

Fix import statement for CustomReportBuilder component
  src/app/analytics/page.tsx
Owners: @DrSI-P, @lead-developer

Fix import statement for CustomReportBuilder component
  src/app/analytics/page.tsx
Owners: @DrSI-P, @lead-developer

Fix HeyGenVideo export and findFirst method usage in heygen-service.ts
  src/lib/heygen/heygen-service.ts
Owners: @DrSI-P, @backend-team

Fix HeyGenVideo export and findFirst method usage in heygen-service.ts
  src/lib/heygen/heygen-service.ts
Owners: @DrSI-P, @backend-team

Add final automation script to fix remaining TypeScript errors
  fix-remaining-typescript-errors.js
Owners: @DrSI-P

Add final automation script to fix remaining TypeScript errors
  fix-remaining-typescript-errors.js
Owners: @DrSI-P

Fix JSX and syntax errors in speech-to-text page component
  src/app/accessibility/speech-to-text/page.tsx
Owners: @accessibility-team

Fix JSX and syntax errors in speech-to-text page component
  src/app/accessibility/speech-to-text/page.tsx
Owners: @accessibility-team

Fix JSX and syntax errors in text-to-speech page component
  src/app/accessibility/text-to-speech/page.tsx
Owners: @accessibility-team

Fix JSX and syntax errors in text-to-speech page component
  src/app/accessibility/text-to-speech/page.tsx
Owners: @accessibility-team

Fix JSX and syntax errors in dashboard layout component
  src/app/(dashboard)/layout.tsx
Owners: @DrSI-P, @lead-developer

Fix JSX and syntax errors in dashboard layout component
  src/app/(dashboard)/layout.tsx
Owners: @DrSI-P, @lead-developer

Update README to trigger Vercel deployment
  README.md
Owners: @documentation-team

Update README to trigger Vercel deployment
  README.md
Owners: @documentation-team

Fix TypeScript and JSX errors in multiple files - Batch 1
  package-lock.json
  src/app/accessibility/speech-to-text/page.tsx
  src/app/accessibility/text-to-speech/page.tsx
  src/app/adaptive-complexity/page.tsx
  src/app/admin/users/page.tsx
  src/app/api/assessment/response/[id]/grade/route.ts
  src/app/api/assessment/response/[id]/route.ts
  src/app/api/auth/reset-password/route.ts
  src/app/api/auth/verify-email/route.ts
  src/app/api/blockchain/route.ts
  src/app/api/blog/auto-generate/route.ts
  src/app/curriculum/collaboration/page.tsx
Owners: @DevOps-team, @accessibility-team, @DrSI-P, @lead-developer, @backend-team, @security-team

Fix TypeScript and JSX errors in multiple files - Batch 1
  package-lock.json
  src/app/accessibility/speech-to-text/page.tsx
  src/app/accessibility/text-to-speech/page.tsx
  src/app/adaptive-complexity/page.tsx
  src/app/admin/users/page.tsx
  src/app/api/assessment/response/[id]/grade/route.ts
  src/app/api/assessment/response/[id]/route.ts
  src/app/api/auth/reset-password/route.ts
  src/app/api/auth/verify-email/route.ts
  src/app/api/blockchain/route.ts
  src/app/api/blog/auto-generate/route.ts
  src/app/curriculum/collaboration/page.tsx
Owners: @DevOps-team, @accessibility-team, @DrSI-P, @lead-developer, @backend-team, @security-team

Fix TypeScript and JSX errors in multiple files - Batch 2
  src/app/api/ai/accessibility/route.ts
  src/app/api/ai/adaptive-complexity/route.ts
Owners: @ai-team

Fix TypeScript and JSX errors in multiple files - Batch 2
  src/app/api/ai/accessibility/route.ts
  src/app/api/ai/adaptive-complexity/route.ts
Owners: @ai-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
