Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix TypeScript and JSX errors in API routes - Batch 1
  src/app/api/admin/users/[id]/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/ai-avatar/route.ts
  src/app/api/ai-avatar/video/[id]/route.ts
  src/app/api/ai-avatar/video/route.ts
  src/app/api/blog/categories/route.ts
  src/app/api/blog/posts/route.ts
Owners: @backend-team

Fix TypeScript and JSX errors in API routes - Batch 1
  src/app/api/admin/users/[id]/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/ai-avatar/route.ts
  src/app/api/ai-avatar/video/[id]/route.ts
  src/app/api/ai-avatar/video/route.ts
  src/app/api/blog/categories/route.ts
  src/app/api/blog/posts/route.ts
Owners: @backend-team

Fix TypeScript and JSX errors in multiple files - Batch 3
  src/app/about/layout.tsx
  src/app/about/team/layout.tsx
  src/app/about/team/page.tsx
  src/app/accessibility/high-contrast/page.tsx
  src/app/accessibility/keyboard-navigation/page.tsx
  src/app/accessibility/reduced-motion/page.tsx
  src/app/accessibility/screen-reader-optimization/page.tsx
  src/app/adaptive-learning/layout.tsx
  src/app/ai-avatar-videos/view/[id]/page.tsx
  src/app/ai-avatar/page.tsx
  src/app/api/ai/accessibility/high-contrast/route.ts
  src/app/api/ai/accessibility/keyboard-navigation/route.ts
  src/app/api/ai/accessibility/reduced-motion/route.ts
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/admin.tsx
  src/pages/blog/categories.tsx
  src/pages/blog/new.tsx
Owners: @DrSI-P, @lead-developer, @accessibility-team, @ai-team

Fix TypeScript and JSX errors in multiple files - Batch 3
  src/app/about/layout.tsx
  src/app/about/team/layout.tsx
  src/app/about/team/page.tsx
  src/app/accessibility/high-contrast/page.tsx
  src/app/accessibility/keyboard-navigation/page.tsx
  src/app/accessibility/reduced-motion/page.tsx
  src/app/accessibility/screen-reader-optimization/page.tsx
  src/app/adaptive-learning/layout.tsx
  src/app/ai-avatar-videos/view/[id]/page.tsx
  src/app/ai-avatar/page.tsx
  src/app/api/ai/accessibility/high-contrast/route.ts
  src/app/api/ai/accessibility/keyboard-navigation/route.ts
  src/app/api/ai/accessibility/reduced-motion/route.ts
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/admin.tsx
  src/pages/blog/categories.tsx
  src/pages/blog/new.tsx
Owners: @DrSI-P, @lead-developer, @accessibility-team, @ai-team

Fix TypeScript/JSX errors by removing improper :any annotations
  src/app/api/blog/comments/route.ts
  src/components/blog/BlogAdminDashboard.tsx
  src/components/blog/BlogForm.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.tsx
  src/lib/auth/auth-options.ts
Owners: @backend-team, @DrSI-P, @frontend-team

Fix TypeScript/JSX errors by removing improper :any annotations
  src/app/api/blog/comments/route.ts
  src/components/blog/BlogAdminDashboard.tsx
  src/components/blog/BlogForm.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.tsx
  src/lib/auth/auth-options.ts
Owners: @backend-team, @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in additional files by removing improper :any annotations
  src/components/blog/BlogEditor.tsx
  src/components/blog/BlogGenerationForm.tsx
  src/components/ui/form.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in additional files by removing improper :any annotations
  src/components/blog/BlogEditor.tsx
  src/components/blog/BlogGenerationForm.tsx
  src/components/ui/form.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in first batch of UI components by removing improper :any annotations
  src/components/ui/AccessibilityControls.tsx
  src/components/ui/AchievementCard.tsx
  src/components/ui/BiofeedbackLearning.tsx
  src/components/ui/CelebrationOverlay.tsx
  src/components/ui/FeedbackMessage.tsx
  src/components/ui/InteractiveGuidance.tsx
  src/components/ui/LearningCard.tsx
  src/components/ui/LearningStyleAdaptiveContent.tsx
  src/components/ui/LearningStyleSelector.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in first batch of UI components by removing improper :any annotations
  src/components/ui/AccessibilityControls.tsx
  src/components/ui/AchievementCard.tsx
  src/components/ui/BiofeedbackLearning.tsx
  src/components/ui/CelebrationOverlay.tsx
  src/components/ui/FeedbackMessage.tsx
  src/components/ui/InteractiveGuidance.tsx
  src/components/ui/LearningCard.tsx
  src/components/ui/LearningStyleAdaptiveContent.tsx
  src/components/ui/LearningStyleSelector.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in toggle.tsx, utils.ts, and FAQ pages by removing improper :any annotations
  src/components/ui/toggle.tsx
  src/lib/utils.ts
  src/pages/faq/edit/[id].tsx
  src/pages/faq/index.tsx
  src/pages/faq/new.tsx
Owners: @DrSI-P, @frontend-team, @backend-team

Fix TypeScript/JSX errors in toggle.tsx, utils.ts, and FAQ pages by removing improper :any annotations
  src/components/ui/toggle.tsx
  src/lib/utils.ts
  src/pages/faq/edit/[id].tsx
  src/pages/faq/index.tsx
  src/pages/faq/new.tsx
Owners: @DrSI-P, @frontend-team, @backend-team

Fix TypeScript/JSX errors in FAQ components by removing improper :any annotations
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/components/faq/FAQForm.tsx
  src/pages/faq/questions/[id].tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in FAQ components by removing improper :any annotations
  src/components/faq/ChatInterface.tsx
  src/components/faq/FAQBrowser.tsx
  src/components/faq/FAQForm.tsx
  src/pages/faq/questions/[id].tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in FAQDetail, avatar, and adaptive-complexity components by removing improper :any annotations
  src/components/adaptive-complexity/adaptive-complexity-dashboard.tsx
  src/components/faq/FAQDetail.tsx
  src/components/ui/avatar.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in FAQDetail, avatar, and adaptive-complexity components by removing improper :any annotations
  src/components/adaptive-complexity/adaptive-complexity-dashboard.tsx
  src/components/faq/FAQDetail.tsx
  src/components/ui/avatar.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in adaptive-complexity and ai-avatar components by removing improper :any annotations
  src/components/adaptive-complexity/adaptive-complexity-controls.tsx
  src/components/ai-avatar/avatar-creator.tsx
  src/components/ai-avatar/video-generator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in adaptive-complexity and ai-avatar components by removing improper :any annotations
  src/components/adaptive-complexity/adaptive-complexity-controls.tsx
  src/components/ai-avatar/avatar-creator.tsx
  src/components/ai-avatar/video-generator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in accessibility components by removing improper :any annotations
  src/components/ai/accessibility/accessibility-controls.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript/JSX errors in accessibility components by removing improper :any annotations
  src/components/ai/accessibility/accessibility-controls.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix duplicate export errors in accessibility components
  src/components/ai/accessibility/accessibility-controls.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix duplicate export errors in accessibility components
  src/components/ai/accessibility/accessibility-controls.tsx
  src/components/ai/accessibility/speech-to-text-engine.tsx
  src/components/ai/accessibility/text-to-speech-engine.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in AI component files
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
  src/components/ai/content-transformation/content-transformation-engine.tsx
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in AI component files
  src/components/ai/adaptive-complexity/adaptive-complexity-engine.tsx
  src/components/ai/content-transformation/content-transformation-engine.tsx
  src/components/ai/emotional-wellbeing/emotional-checkin.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in AI component files - batch 2
  src/components/ai/progress-pacing/progress-pacing-engine.tsx
  src/components/ai/speech-recognition/advanced-speech-recognition.tsx
  src/components/ai/teacher-automation/teacher-automation.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in AI component files - batch 2
  src/components/ai/progress-pacing/progress-pacing-engine.tsx
  src/components/ai/speech-recognition/advanced-speech-recognition.tsx
  src/components/ai/teacher-automation/teacher-automation.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in analytics files
  src/components/analytics/custom-report-builder.tsx
  src/components/analytics/educator-performance-analytics.tsx
  src/components/analytics/resource-and-assessment-analytics.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in analytics files
  src/components/analytics/custom-report-builder.tsx
  src/components/analytics/educator-performance-analytics.tsx
  src/components/analytics/resource-and-assessment-analytics.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in analytics and blog components
  src/components/analytics/student-progress-tracking.tsx
  src/components/blog/blog-post-detail.tsx
  src/components/blog/blog-post-editor.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in analytics and blog components
  src/components/analytics/student-progress-tracking.tsx
  src/components/blog/blog-post-detail.tsx
  src/components/blog/blog-post-editor.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in UI components - batch 1
  src/components/ui/Logo.tsx
  src/components/ui/MainNavigation.tsx
  src/components/ui/MultilingualSupport.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/ProgressTracking.tsx
  src/components/ui/VoiceInput.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in UI components - batch 1
  src/components/ui/Logo.tsx
  src/components/ui/MainNavigation.tsx
  src/components/ui/MultilingualSupport.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/ProgressTracking.tsx
  src/components/ui/VoiceInput.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations and module-not-found errors - batch 3
  src/components/blog/comment-moderation-dashboard.tsx
  src/components/blog/educational-ai-blog.tsx
  src/components/educator/automated-documentation.tsx
  src/components/page-header.tsx
  src/services/ai-avatar-video-service.ts
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations and module-not-found errors - batch 3
  src/components/blog/comment-moderation-dashboard.tsx
  src/components/blog/educational-ai-blog.tsx
  src/components/educator/automated-documentation.tsx
  src/components/page-header.tsx
  src/services/ai-avatar-video-service.ts
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in educator components and enhanced theme provider
  src/components/educator/calendar-optimization.tsx
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/educator/student-profile-integration.tsx
  src/components/enhanced-theme-provider.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in educator components and enhanced theme provider
  src/components/educator/calendar-optimization.tsx
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/educator/student-profile-integration.tsx
  src/components/enhanced-theme-provider.tsx
Owners: @DrSI-P, @frontend-team

Fix improper ': any' annotations in multiple components and API routes
  src/app/api/ai/accessibility/screen-reader-optimization/route.ts
  src/app/api/ai/accessibility/speech-to-text/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-test.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @ai-team, @DrSI-P, @frontend-team

Fix improper ': any' annotations in multiple components and API routes
  src/app/api/ai/accessibility/screen-reader-optimization/route.ts
  src/app/api/ai/accessibility/speech-to-text/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/error-boundary-test.tsx
  src/components/heygen/heygen-video-generation.tsx
Owners: @ai-team, @DrSI-P, @frontend-team

Fix TypeScript errors in API routes and error boundary components - Batch 1 and 2
  batches/all_ts_files.txt
  batches/batch1.txt
  batches/batch_aa
  batches/batch_ab
  batches/batch_ac
  batches/batch_ad
  batches/batch_ae
  batches/batch_af
  batches/batch_ag
  batches/batch_ah
  batches/batch_ai
  batches/batch_aj
  batches/batch_ak
  batches/batch_al
  batches/batch_am
  batches/batch_an
  batches/batch_ao
  package-lock.json
  src/app/api/admin/users/route.ts
  src/app/api/ai/accessibility/text-to-speech/route.ts
  src/app/api/ai/completion/route.ts
  src/app/api/ai/config/route.ts
  src/app/api/ai/content-transformation/route.ts
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/ai/learning-style/route.ts
  src/app/api/ai/multi-modal-content/route.ts
  src/app/api/educator/meeting-notes/route.ts
  src/app/api/educator/parent-communication/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/age-adaptive-error-boundary.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/error-boundary/error-boundary.tsx
  src/components/error-boundary/root-error-boundary.tsx
Owners: @DrSI-P, @DevOps-team, @backend-team, @ai-team, @frontend-team

Fix TypeScript errors in API routes and error boundary components - Batch 1 and 2
  batches/all_ts_files.txt
  batches/batch1.txt
  batches/batch_aa
  batches/batch_ab
  batches/batch_ac
  batches/batch_ad
  batches/batch_ae
  batches/batch_af
  batches/batch_ag
  batches/batch_ah
  batches/batch_ai
  batches/batch_aj
  batches/batch_ak
  batches/batch_al
  batches/batch_am
  batches/batch_an
  batches/batch_ao
  package-lock.json
  src/app/api/admin/users/route.ts
  src/app/api/ai/accessibility/text-to-speech/route.ts
  src/app/api/ai/completion/route.ts
  src/app/api/ai/config/route.ts
  src/app/api/ai/content-transformation/route.ts
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/ai/learning-style/route.ts
  src/app/api/ai/multi-modal-content/route.ts
  src/app/api/educator/meeting-notes/route.ts
  src/app/api/educator/parent-communication/route.ts
  src/components/educator/data-visualisation-dashboard.tsx
  src/components/educator/parent-communication-management.tsx
  src/components/educator/smart-lesson-planning.tsx
  src/components/error-boundary/age-adaptive-error-boundary.tsx
  src/components/error-boundary/error-boundary-integration.tsx
  src/components/error-boundary/error-boundary.tsx
  src/components/error-boundary/root-error-boundary.tsx
Owners: @DrSI-P, @DevOps-team, @backend-team, @ai-team, @frontend-team
