Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix: Add interfaces for type safety, replace any type, and add return types in curriculum collaboration route
  src/app/api/curriculum/collaboration/route.ts
Owners: @backend-team

Fix: Add interface for schedule update data and add return types in blog schedules route
  src/app/api/blog/schedules/route.ts
Owners: @backend-team

Fix: Add interface for schedule update data and add return types in blog schedules route
  src/app/api/blog/schedules/route.ts
Owners: @backend-team

Fix: Add interface for schedule update data and add return types in blog schedules route
  src/app/api/blog/schedules/route.ts
Owners: @backend-team

Fix: Modernize i18n test file with JSDoc comments and proper type annotations
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Modernize i18n test file with JSDoc comments and proper type annotations
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Modernize i18n test file with JSDoc comments and proper type annotations
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Modernize jest.setup.js with JSDoc comments and proper type annotations
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix: Modernize jest.setup.js with JSDoc comments and proper type annotations
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix: Modernize jest.setup.js with JSDoc comments and proper type annotations
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix: Add interfaces and type annotations to monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Add interfaces and type annotations to monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Add interfaces and type annotations to monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Add return types and fix unused parameter in emotional-checkin route
  src/app/api/ai/emotional-checkin/route.ts
Owners: @ai-team

Fix: Add return types and fix unused parameter in emotional-checkin route
  src/app/api/ai/emotional-checkin/route.ts
Owners: @ai-team

Fix: Add return types and fix unused parameter in emotional-checkin route
  src/app/api/ai/emotional-checkin/route.ts
Owners: @ai-team

Fix: Add return types and remove unused variable in executive-dysfunction route
  src/app/api/ai/executive-dysfunction/route.ts
Owners: @ai-team

Fix: Add return types and remove unused variable in executive-dysfunction route
  src/app/api/ai/executive-dysfunction/route.ts
Owners: @ai-team

Fix: Add return types and remove unused variable in executive-dysfunction route
  src/app/api/ai/executive-dysfunction/route.ts
Owners: @ai-team

Fix: Add return types and remove unused import in image route
  src/app/api/ai/image/route.ts
Owners: @ai-team

Fix: Add return types and remove unused import in image route
  src/app/api/ai/image/route.ts
Owners: @ai-team

Fix: Add return types and remove unused import in image route
  src/app/api/ai/image/route.ts
Owners: @ai-team

Fix: Add return types and fix unused parameter in learning-style route
  src/app/api/ai/learning-style/route.ts
Owners: @ai-team

Fix: Add return types and fix unused parameter in learning-style route
  src/app/api/ai/learning-style/route.ts
Owners: @ai-team

Fix: Add return types and fix unused parameter in learning-style route
  src/app/api/ai/learning-style/route.ts
Owners: @ai-team

Fix: Add ESLint disable directives for console and unused variables in i18n test
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Add ESLint disable directives for console and unused variables in i18n test
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Add ESLint disable directives for console and unused variables in i18n test
  src/tests/i18n.test.js
Owners: @DrSI-P

Fix: Replace require with proper imports in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Replace require with proper imports in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Replace require with proper imports in monitoring test file
  src/tests/lib/monitoring/monitoring.test.ts
Owners: @testing-team

Fix: Replace Jest globals with Vitest equivalents in test setup file
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix: Replace Jest globals with Vitest equivalents in test setup file
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix: Replace Jest globals with Vitest equivalents in test setup file
  src/tests/jest.setup.js
Owners: @DrSI-P

Fix: Add return types and remove unused imports in educator calendar route
  src/app/api/educator/calendar/route.ts
Owners: @backend-team

Fix: Add return types and remove unused imports in educator calendar route
  src/app/api/educator/calendar/route.ts
Owners: @backend-team

Fix: Add return types and remove unused imports in educator calendar route
  src/app/api/educator/calendar/route.ts
Owners: @backend-team

Fix: Replace any types with proper interfaces and add return types in data-visualisation route
  src/app/api/educator/data-visualisation/route.ts
Owners: @backend-team

Fix: Replace any types with proper interfaces and add return types in data-visualisation route
  src/app/api/educator/data-visualisation/route.ts
Owners: @backend-team

Fix: Replace any types with proper interfaces and add return types in data-visualisation route
  src/app/api/educator/data-visualisation/route.ts
Owners: @backend-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
