Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix deployment issues: Add missing Prisma migration and fix UK spelling in dialog component
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
  src/app/curriculum/collaboration/page.tsx
Owners: @database-team, @DrSI-P, @lead-developer

Fix deployment issues: Add missing Prisma migration and fix UK spelling in dialog component
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
  src/app/curriculum/collaboration/page.tsx
Owners: @database-team, @DrSI-P, @lead-developer

Fix deployment issues: Add missing Prisma migration and fix UK spelling in dialog component
  prisma/migrations/20250521020000_add_password_reset_model/migration.sql
  src/app/curriculum/collaboration/page.tsx
Owners: @database-team, @DrSI-P, @lead-developer

Fix UK spelling issues in calendar component: rename to calendar-optimization
  src/app/educator/calendar-optimization/page.tsx
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Fix UK spelling issues in calendar component: rename to calendar-optimization
  src/app/educator/calendar-optimization/page.tsx
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Fix UK spelling issues in calendar component: rename to calendar-optimization
  src/app/educator/calendar-optimization/page.tsx
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @lead-developer, @frontend-team

Fix dialog import path to use UK spelling
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @frontend-team

Fix dialog import path to use UK spelling
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @frontend-team

Fix dialog import path to use UK spelling
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @frontend-team

Fix UK spelling issues across codebase: standardize to US spelling
  src/components/analytics/resource-and-assessment-analytics.tsx
  src/components/blog/blog-post-editor.tsx
  src/components/blog/comment-moderation-dashboard.tsx
  src/components/educator/calendar-optimisation.tsx
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @frontend-team

Fix UK spelling issues across codebase: standardize to US spelling
  src/components/analytics/resource-and-assessment-analytics.tsx
  src/components/blog/blog-post-editor.tsx
  src/components/blog/comment-moderation-dashboard.tsx
  src/components/educator/calendar-optimisation.tsx
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @frontend-team

Fix UK spelling issues across codebase: standardize to US spelling
  src/components/analytics/resource-and-assessment-analytics.tsx
  src/components/blog/blog-post-editor.tsx
  src/components/blog/comment-moderation-dashboard.tsx
  src/components/educator/calendar-optimisation.tsx
  src/components/educator/calendar-optimization.tsx
Owners: @DrSI-P, @frontend-team

Fix UK spelling issues: Change dialogue to dialog across all components
  scripts/fix-dialog-imports.js
  src/components/admin/plugin-management.tsx
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
  src/components/adventure-quest/adventure-quest-saga.tsx
  src/components/analytics/dashboard-widget.tsx
  src/components/avatar/avatar-video-integration.tsx
  src/components/blockchain/blockchain-credential-integration.tsx
  src/components/blockchain/blockchain-credentials-wallet.tsx
  src/components/blockchain/copyright-registration-tools.tsx
  src/components/blog/blog-post-editor.tsx
  src/components/communication/shared-goal-tracker.tsx
  src/components/content-creation/content-editor.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-development-courses.tsx
  src/components/professional-development/webinar-integration.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/subscription/fair-usage.tsx
  src/components/subscription/subscription-management.tsx
  src/components/ui/dialog.tsx
  src/components/ui/index.ts
  src/components/ui/modal.tsx
  src/components/voice-input/global-voice-input.tsx
Owners: @DevOps-team, @DrSI-P, @frontend-team

Fix UK spelling issues: Change dialogue to dialog across all components
  scripts/fix-dialog-imports.js
  src/components/admin/plugin-management.tsx
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
  src/components/adventure-quest/adventure-quest-saga.tsx
  src/components/analytics/dashboard-widget.tsx
  src/components/avatar/avatar-video-integration.tsx
  src/components/blockchain/blockchain-credential-integration.tsx
  src/components/blockchain/blockchain-credentials-wallet.tsx
  src/components/blockchain/copyright-registration-tools.tsx
  src/components/blog/blog-post-editor.tsx
  src/components/communication/shared-goal-tracker.tsx
  src/components/content-creation/content-editor.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-development-courses.tsx
  src/components/professional-development/webinar-integration.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/subscription/fair-usage.tsx
  src/components/subscription/subscription-management.tsx
  src/components/ui/dialog.tsx
  src/components/ui/index.ts
  src/components/ui/modal.tsx
  src/components/voice-input/global-voice-input.tsx
Owners: @DevOps-team, @DrSI-P, @frontend-team

Fix UK spelling issues: Change dialogue to dialog across all components
  scripts/fix-dialog-imports.js
  src/components/admin/plugin-management.tsx
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
  src/components/adventure-quest/adventure-quest-saga.tsx
  src/components/analytics/dashboard-widget.tsx
  src/components/avatar/avatar-video-integration.tsx
  src/components/blockchain/blockchain-credential-integration.tsx
  src/components/blockchain/blockchain-credentials-wallet.tsx
  src/components/blockchain/copyright-registration-tools.tsx
  src/components/blog/blog-post-editor.tsx
  src/components/communication/shared-goal-tracker.tsx
  src/components/content-creation/content-editor.tsx
  src/components/professional-development/learning-communities.tsx
  src/components/professional-development/mentor-matching.tsx
  src/components/professional-development/portfolio-export.tsx
  src/components/professional-development/professional-development-courses.tsx
  src/components/professional-development/webinar-integration.tsx
  src/components/restorative-justice/staff-training/staff-training-modules.tsx
  src/components/subscription/fair-usage.tsx
  src/components/subscription/subscription-management.tsx
  src/components/ui/dialog.tsx
  src/components/ui/index.ts
  src/components/ui/modal.tsx
  src/components/voice-input/global-voice-input.tsx
Owners: @DevOps-team, @DrSI-P, @frontend-team

Fix remaining UK spelling issues in UI index.ts file
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix remaining UK spelling issues in UI index.ts file
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix remaining UK spelling issues in UI index.ts file
  src/components/ui/index.ts
Owners: @DrSI-P, @frontend-team

Fix Radix UI imports to use US spelling
  src/components/ui/alert-dialog.tsx
  src/components/ui/dialog.tsx
Owners: @DrSI-P, @frontend-team

Fix Radix UI imports to use US spelling
  src/components/ui/alert-dialog.tsx
  src/components/ui/dialog.tsx
Owners: @DrSI-P, @frontend-team

Fix Radix UI imports to use US spelling
  src/components/ui/alert-dialog.tsx
  src/components/ui/dialog.tsx
Owners: @DrSI-P, @frontend-team

Fix UK spelling issues in calendar optimization component and paths
  docs/calendar-optimization-fix.md
  scripts/apply-all-fixes.js
  scripts/fix-calendar-component-imports.js
  scripts/fix-calendar-optimization-path.js
  src/app/educator/calendar-optimisation/page.tsx
Owners: @documentation-team, @DevOps-team, @DrSI-P, @lead-developer

Fix UK spelling issues in calendar optimization component and paths
  docs/calendar-optimization-fix.md
  scripts/apply-all-fixes.js
  scripts/fix-calendar-component-imports.js
  scripts/fix-calendar-optimization-path.js
  src/app/educator/calendar-optimisation/page.tsx
Owners: @documentation-team, @DevOps-team, @DrSI-P, @lead-developer

Fix UK spelling issues in calendar optimization component and paths
  docs/calendar-optimization-fix.md
  scripts/apply-all-fixes.js
  scripts/fix-calendar-component-imports.js
  scripts/fix-calendar-optimization-path.js
  src/app/educator/calendar-optimisation/page.tsx
Owners: @documentation-team, @DevOps-team, @DrSI-P, @lead-developer

Update deployment-fixes.md with calendar optimization fixes
  docs/deployment-fixes.md
Owners: @documentation-team

Update deployment-fixes.md with calendar optimization fixes
  docs/deployment-fixes.md
Owners: @documentation-team

Update deployment-fixes.md with calendar optimization fixes
  docs/deployment-fixes.md
Owners: @documentation-team

Fix Prisma model case in curriculum collaboration route
  docs/deployment-fixes.md
  docs/prisma-model-case-fix.md
  scripts/apply-all-fixes.js
  scripts/fix-prisma-model-case.js
  src/app/api/curriculum/collaboration/route.ts
Owners: @documentation-team, @DevOps-team, @backend-team

Fix Prisma model case in curriculum collaboration route
  docs/deployment-fixes.md
  docs/prisma-model-case-fix.md
  scripts/apply-all-fixes.js
  scripts/fix-prisma-model-case.js
  src/app/api/curriculum/collaboration/route.ts
Owners: @documentation-team, @DevOps-team, @backend-team

Fix Prisma model case in curriculum collaboration route
  docs/deployment-fixes.md
  docs/prisma-model-case-fix.md
  scripts/apply-all-fixes.js
  scripts/fix-prisma-model-case.js
  src/app/api/curriculum/collaboration/route.ts
Owners: @documentation-team, @DevOps-team, @backend-team

Fix build issues: type error in plans route and migration failure
  BUILD-FIX-README.md
  commit-and-push.bat
  commit-and-push.sh
  fix-build-issues.js
  fix-migrations.js
  src/app/api/curriculum/collaboration/route.ts
  src/app/api/curriculum/plans/route.ts
Owners: @documentation-team, @DrSI-P, @backend-team

Fix build issues: type error in plans route and migration failure
  BUILD-FIX-README.md
  commit-and-push.bat
  commit-and-push.sh
  fix-build-issues.js
  fix-migrations.js
  src/app/api/curriculum/collaboration/route.ts
  src/app/api/curriculum/plans/route.ts
Owners: @documentation-team, @DrSI-P, @backend-team

Fix build issues: type error in plans route and migration failure
  BUILD-FIX-README.md
  commit-and-push.bat
  commit-and-push.sh
  fix-build-issues.js
  fix-migrations.js
  src/app/api/curriculum/collaboration/route.ts
  src/app/api/curriculum/plans/route.ts
Owners: @documentation-team, @DrSI-P, @backend-team

Fix build issues: type error in plans route and migration failure
  UPDATE-BUILD-COMMAND.md
  commit-and-push.bat
  commit-and-push.sh
Owners: @documentation-team, @DrSI-P

Fix build issues: type error in plans route and migration failure
  UPDATE-BUILD-COMMAND.md
  commit-and-push.bat
  commit-and-push.sh
Owners: @documentation-team, @DrSI-P

Fix build issues: type error in plans route and migration failure
  UPDATE-BUILD-COMMAND.md
  commit-and-push.bat
  commit-and-push.sh
Owners: @documentation-team, @DrSI-P

Fix build issues: type error in plans route and migration failure
  commit-and-push.bat
  commit-and-push.sh
  package.json
Owners: @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and migration failure
  commit-and-push.bat
  commit-and-push.sh
  package.json
Owners: @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and migration failure
  commit-and-push.bat
  commit-and-push.sh
  package.json
Owners: @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  commit-and-push.bat
  commit-and-push.sh
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team
