Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  commit-and-push.bat
  commit-and-push.sh
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  commit-and-push.bat
  commit-and-push.sh
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  BUILD-FIX-README.md
  UPDATE-BUILD-COMMAND.md
  fix-build-issues.js
  fix-migrations.js
  package.json
Owners: @documentation-team, @DrSI-P, @DevOps-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: type error in plans route and multiple migration failures
  src/app/api/curriculum/plans/route.ts
Owners: @backend-team

Fix build issues: Add missing curriculum models and fix type errors
  CURRICULUM-MODELS-README.md
  prisma/schema-update.prisma
  src/app/api/curriculum/standards/[id]/assessments/route.ts
  src/app/api/curriculum/standards/[id]/route.ts
  src/app/api/curriculum/standards/route.ts
Owners: @documentation-team, @database-team, @backend-team

Fix build issues: Add missing curriculum models and fix type errors
  CURRICULUM-MODELS-README.md
  prisma/schema-update.prisma
  src/app/api/curriculum/standards/[id]/assessments/route.ts
  src/app/api/curriculum/standards/[id]/route.ts
  src/app/api/curriculum/standards/route.ts
Owners: @documentation-team, @database-team, @backend-team

Fix build issues: Add missing curriculum models and fix type errors
  CURRICULUM-MODELS-README.md
  prisma/schema-update.prisma
  src/app/api/curriculum/standards/[id]/assessments/route.ts
  src/app/api/curriculum/standards/[id]/route.ts
  src/app/api/curriculum/standards/route.ts
Owners: @documentation-team, @database-team, @backend-team

Fix TypeScript error: Wrap setHours result in Date constructor before calling toISOString
  src/app/api/educator/calendar/route.ts
Owners: @backend-team

Fix TypeScript error: Wrap setHours result in Date constructor before calling toISOString
  src/app/api/educator/calendar/route.ts
Owners: @backend-team

Fix TypeScript error: Wrap setHours result in Date constructor before calling toISOString
  src/app/api/educator/calendar/route.ts
Owners: @backend-team

Fix TypeScript error: Add textLength property to speechOptions
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix TypeScript error: Add textLength property to speechOptions
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix TypeScript error: Add textLength property to speechOptions
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix TypeScript error: Remove textLength property from speechOptions
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix TypeScript error: Remove textLength property from speechOptions
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team
