Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team

Fix TypeScript error: Remove textLength property from speechOptions
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix TypeScript error: Add explicit type for mockData variable
  src/app/api/educator/data-visualisation/route.ts
Owners: @backend-team

Fix TypeScript error: Add explicit type for mockData variable
  src/app/api/educator/data-visualisation/route.ts
Owners: @backend-team

Fix TypeScript error: Add explicit type for mockData variable
  src/app/api/educator/data-visualisation/route.ts
Owners: @backend-team

Fix TypeScript error: Add nullish coalescing for optional offset and limit
  src/app/api/educator/documentation/route.ts
Owners: @backend-team

Fix TypeScript error: Add nullish coalescing for optional offset and limit
  src/app/api/educator/documentation/route.ts
Owners: @backend-team

Fix TypeScript error: Add nullish coalescing for optional offset and limit
  src/app/api/educator/documentation/route.ts
Owners: @backend-team

Fix TypeScript error: Add nullish coalescing for optional offset and limit in lesson-planning route
  src/app/api/educator/lesson-planning/route.ts
Owners: @backend-team

Fix TypeScript error: Add nullish coalescing for optional offset and limit in lesson-planning route
  src/app/api/educator/lesson-planning/route.ts
Owners: @backend-team

Fix TypeScript error: Add nullish coalescing for optional offset and limit in lesson-planning route
  src/app/api/educator/lesson-planning/route.ts
Owners: @backend-team

Fix TypeScript error: Remove preparationForAdulthood property from keyPoints objects
  src/app/api/educator/meeting-notes/route.ts
Owners: @backend-team

Fix TypeScript error: Remove preparationForAdulthood property from keyPoints objects
  src/app/api/educator/meeting-notes/route.ts
Owners: @backend-team

Fix TypeScript error: Remove preparationForAdulthood property from keyPoints objects
  src/app/api/educator/meeting-notes/route.ts
Owners: @backend-team

Add ImmersiveExperience models to fix TypeScript error
  .env
  commit-curriculum-fixes.bat
  commit-curriculum-fixes.sh
  prisma/migrations-backup-1747853183346/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747853183346/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747853183346/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747853183346/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747853183346/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747853183346/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747853183346/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747853183346/migration_lock.toml
  prisma/migrations-backup-1747853220864/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747853220864/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747853220864/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747853220864/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747853220864/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747853220864/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747853220864/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747853220864/migration_lock.toml
  prisma/migrations-backup-1747861292600/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747861292600/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747861292600/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747861292600/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747861292600/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747861292600/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747861292600/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747861292600/migration_lock.toml
  prisma/schema.prisma
Owners: @DrSI-P, @database-team

Add ImmersiveExperience models to fix TypeScript error
  commit-curriculum-fixes.bat
  commit-curriculum-fixes.sh
  prisma/migrations-backup-1747853183346/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747853183346/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747853183346/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747853183346/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747853183346/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747853183346/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747853183346/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747853183346/migration_lock.toml
  prisma/migrations-backup-1747853220864/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747853220864/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747853220864/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747853220864/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747853220864/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747853220864/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747853220864/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747853220864/migration_lock.toml
  prisma/migrations-backup-1747861292600/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747861292600/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747861292600/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747861292600/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747861292600/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747861292600/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747861292600/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747861292600/migration_lock.toml
  prisma/schema.prisma
Owners: @DrSI-P, @database-team

Add ImmersiveExperience models to fix TypeScript error
  .env
  commit-curriculum-fixes.bat
  commit-curriculum-fixes.sh
  prisma/migrations-backup-1747853183346/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747853183346/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747853183346/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747853183346/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747853183346/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747853183346/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747853183346/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747853183346/migration_lock.toml
  prisma/migrations-backup-1747853220864/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747853220864/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747853220864/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747853220864/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747853220864/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747853220864/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747853220864/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747853220864/migration_lock.toml
  prisma/migrations-backup-1747861292600/20250516234555_add_password_reset/migration.sql
  prisma/migrations-backup-1747861292600/20250517001440_update_assessment_models/migration.sql
  prisma/migrations-backup-1747861292600/20250521010500_add_assessment_template_model/migration.sql
  prisma/migrations-backup-1747861292600/20250521020000_add_password_reset_model/migration.sql
  prisma/migrations-backup-1747861292600/20250521030000_add_password_field_to_user/migration.sql
  prisma/migrations-backup-1747861292600/20250521040000_add_curriculum_collaboration_models/migration.sql
  prisma/migrations-backup-1747861292600/20250521050000_add_plugin_model/migration.sql
  prisma/migrations-backup-1747861292600/migration_lock.toml
  prisma/schema.prisma
Owners: @DrSI-P, @database-team

Add ImmersiveTool models to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Add ImmersiveTool models to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Add ImmersiveTool models to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Add PluginCredential model to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Add PluginCredential model to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Add PluginCredential model to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Add CourseDiscussion and DiscussionReply models to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Add CourseDiscussion and DiscussionReply models to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Add CourseDiscussion and DiscussionReply models to fix TypeScript error
  prisma/schema.prisma
Owners: @database-team

Force rebuild of text-to-speech route
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Force rebuild of text-to-speech route
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Force rebuild of text-to-speech route
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix text-to-speech route by including textCharCount in details JSON
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix text-to-speech route by including textCharCount in details JSON
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix text-to-speech route by including textCharCount in details JSON
  src/app/api/ai/accessibility/text-to-speech/route.ts
Owners: @ai-team

Fix CPD tracking route by regenerating Prisma client
  prisma/schema.prisma
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @database-team, @backend-team

Fix CPD tracking route by regenerating Prisma client
  prisma/schema.prisma
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @database-team, @backend-team

Fix CPD tracking route by regenerating Prisma client
  prisma/schema.prisma
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @database-team, @backend-team

Fix TypeScript errors in CPD tracking route
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @backend-team

Fix TypeScript errors in CPD tracking route
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @backend-team

Fix TypeScript errors in CPD tracking route
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @backend-team

Fix case in CPD model names (cPDActivity instead of CPDActivity)
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @backend-team

Fix case in CPD model names (cPDActivity instead of CPDActivity)
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @backend-team

Fix case in CPD model names (cPDActivity instead of CPDActivity)
  src/app/api/professional-development/cpd-tracking/route.ts
Owners: @backend-team
