Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix TypeScript error in accessibility-wrapper.tsx
  src/components/accessibility-wrapper.tsx
Owners: @DrSI-P, @frontend-team

Fix toast API usage in accessibility-settings.tsx
  src/components/accessibility/accessibility-settings.tsx
Owners: @DrSI-P, @frontend-team

Fix toast API usage in text-to-speech.tsx
  src/components/accessibility/text-to-speech.tsx
Owners: @DrSI-P, @frontend-team

Fix toast API usage in voice-input.tsx
  src/components/accessibility/voice-input.tsx
Owners: @DrSI-P, @frontend-team

Fix toast API usage in admin-dashboard.tsx
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix toast API usage in admin-dashboard.tsx
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix Alert component usage in admin-dashboard.tsx
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix Select component usage in admin-dashboard.tsx
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix all Select components in admin-dashboard.tsx
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix Checkbox components in admin-dashboard.tsx
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Fix Tabs component usage in admin-dashboard.tsx
  src/components/admin/admin-dashboard.tsx
Owners: @DrSI-P, @frontend-team

Remove unused TableCaption import in plugin-management.tsx
  src/components/admin/plugin-management.tsx
Owners: @DrSI-P, @frontend-team

Fix toast API usage in plugin-management.tsx
  src/components/admin/plugin-management.tsx
Owners: @DrSI-P, @frontend-team

Remove unsupported variant property from toast options in plugin-management.tsx
  src/components/admin/plugin-management.tsx
Owners: @DrSI-P, @frontend-team

Fix TableCell usage by removing unsupported colSpan property in plugin-management.tsx
  src/components/admin/plugin-management.tsx
Owners: @DrSI-P, @frontend-team

Fix empty TableCell components by adding non-breaking space in plugin-management.tsx
  src/components/admin/plugin-management.tsx
Owners: @DrSI-P, @frontend-team

Add type annotations to adventure-quest-saga-adaptive.tsx
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in adventure-quest-saga-integrated.tsx
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Add documentation files for Phase 2 planning and forensic review
  docs/ai_solutions_evaluation.md
  docs/edpsychconnect_feature_status.md
  docs/forensic_review_findings.md
  docs/legal_pages_requirements.md
Owners: @documentation-team

Add Phase 2 documentation: error analysis, architecture review, and implementation plan
  docs/phase2/edpsychconnect_architecture_analysis.md
  docs/phase2/edpsychconnect_error_analysis.md
  docs/phase2/edpsychconnect_phase2_updated_plan.md
Owners: @documentation-team

Add Phase 2 documentation: error analysis, architecture review, and implementation plan
  docs/phase2/edpsychconnect_architecture_analysis.md
  docs/phase2/edpsychconnect_error_analysis.md
  docs/phase2/edpsychconnect_phase2_updated_plan.md
Owners: @documentation-team

Add Phase 2 documentation: error analysis, architecture review, and implementation plan
  docs/phase2/edpsychconnect_architecture_analysis.md
  docs/phase2/edpsychconnect_error_analysis.md
  docs/phase2/edpsychconnect_phase2_updated_plan.md
Owners: @documentation-team

Add revised Phase 2 implementation plan with enhanced features
  docs/phase2/edpsychconnect_revised_phase2_plan.md
Owners: @documentation-team

Add revised Phase 2 implementation plan with enhanced features
  docs/phase2/edpsychconnect_revised_phase2_plan.md
Owners: @documentation-team

Add revised Phase 2 implementation plan with enhanced features
  docs/phase2/edpsychconnect_revised_phase2_plan.md
Owners: @documentation-team

Fix Prisma schema validation errors: Add missing model definitions and update migrations to support all referenced models in User relations
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  prisma/schema-additions.prisma
  prisma/schema.prisma
  prisma/seed.ts
Owners: @database-team

Fix Prisma schema validation errors: Add missing model definitions and update migrations to support all referenced models in User relations
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  prisma/schema-additions.prisma
  prisma/schema.prisma
  prisma/seed.ts
Owners: @database-team

Fix Prisma schema validation errors: Add missing model definitions and update migrations to support all referenced models in User relations
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  prisma/schema-additions.prisma
  prisma/schema.prisma
  prisma/seed.ts
Owners: @database-team

Fix TypeScript errors: Update seed script to use 'text' property in Question model and fix accessibility API route type mismatch
  prisma/seed.ts
  src/app/api/ai/accessibility/keyboard-navigation/route.ts
Owners: @database-team, @ai-team

Fix TypeScript errors: Update seed script to use 'text' property in Question model and fix accessibility API route type mismatch
  prisma/seed.ts
  src/app/api/ai/accessibility/keyboard-navigation/route.ts
Owners: @database-team, @ai-team

Fix TypeScript errors: Update seed script to use 'text' property in Question model and fix accessibility API route type mismatch
  prisma/seed.ts
  src/app/api/ai/accessibility/keyboard-navigation/route.ts
Owners: @database-team, @ai-team

Add automated blog content feature API routes and database models
  prisma/schema-additions.prisma
  src/app/api/blog/categories/route.ts
  src/app/api/blog/comments/route.ts
  src/app/api/blog/generate/route.ts
  src/app/api/blog/posts/route.ts
  src/app/api/blog/schedules/route.ts
Owners: @database-team, @backend-team

Add automated blog content feature API routes and database models
  prisma/schema-additions.prisma
  src/app/api/blog/categories/route.ts
  src/app/api/blog/comments/route.ts
  src/app/api/blog/generate/route.ts
  src/app/api/blog/posts/route.ts
  src/app/api/blog/schedules/route.ts
Owners: @database-team, @backend-team

Add automated blog content feature API routes and database models
  prisma/schema-additions.prisma
  src/app/api/blog/categories/route.ts
  src/app/api/blog/comments/route.ts
  src/app/api/blog/generate/route.ts
  src/app/api/blog/posts/route.ts
  src/app/api/blog/schedules/route.ts
Owners: @database-team, @backend-team

Implement automated blog content feature with AI generation capabilities
  src/components/blog/BlogAdminDashboard.tsx
  src/components/blog/BlogCard.tsx
  src/components/blog/BlogCommentForm.tsx
  src/components/blog/BlogCommentList.tsx
  src/components/blog/BlogEditor.tsx
  src/components/blog/BlogForm.tsx
  src/components/blog/BlogGenerationForm.tsx
  src/components/blog/BlogList.tsx
  src/components/blog/BlogPostView.tsx
  src/components/blog/BlogRelatedPosts.tsx
  src/components/ui/pagination.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/admin.tsx
  src/pages/blog/categories.tsx
  src/pages/blog/index.tsx
  src/pages/blog/new.tsx
Owners: @DrSI-P, @frontend-team

Implement automated blog content feature with AI generation capabilities
  src/components/blog/BlogAdminDashboard.tsx
  src/components/blog/BlogCard.tsx
  src/components/blog/BlogCommentForm.tsx
  src/components/blog/BlogCommentList.tsx
  src/components/blog/BlogEditor.tsx
  src/components/blog/BlogForm.tsx
  src/components/blog/BlogGenerationForm.tsx
  src/components/blog/BlogList.tsx
  src/components/blog/BlogPostView.tsx
  src/components/blog/BlogRelatedPosts.tsx
  src/components/ui/pagination.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/admin.tsx
  src/pages/blog/categories.tsx
  src/pages/blog/index.tsx
  src/pages/blog/new.tsx
Owners: @DrSI-P, @frontend-team

Implement automated blog content feature with AI generation capabilities
  src/components/blog/BlogAdminDashboard.tsx
  src/components/blog/BlogCard.tsx
  src/components/blog/BlogCommentForm.tsx
  src/components/blog/BlogCommentList.tsx
  src/components/blog/BlogEditor.tsx
  src/components/blog/BlogForm.tsx
  src/components/blog/BlogGenerationForm.tsx
  src/components/blog/BlogList.tsx
  src/components/blog/BlogPostView.tsx
  src/components/blog/BlogRelatedPosts.tsx
  src/components/ui/pagination.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/admin.tsx
  src/pages/blog/categories.tsx
  src/pages/blog/index.tsx
  src/pages/blog/new.tsx
Owners: @DrSI-P, @frontend-team

Implement FAQ chatbot database models and API routes
  prisma/schema-additions.prisma
  src/app/api/faq/categories/route.ts
  src/app/api/faq/chat/route.ts
  src/app/api/faq/questions/route.ts
Owners: @database-team, @backend-team

Implement FAQ chatbot database models and API routes
  prisma/schema-additions.prisma
  src/app/api/faq/categories/route.ts
  src/app/api/faq/chat/route.ts
  src/app/api/faq/questions/route.ts
Owners: @database-team, @backend-team

Implement FAQ chatbot database models and API routes
  prisma/schema-additions.prisma
  src/app/api/faq/categories/route.ts
  src/app/api/faq/chat/route.ts
  src/app/api/faq/questions/route.ts
Owners: @database-team, @backend-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
