Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix: Replace courseEnrollment with enrollment model to match Prisma schema
  src/app/api/professional-development/route.ts
Owners: @backend-team

Fix: Replace courseEnrollment with enrollment model to match Prisma schema
  src/app/api/professional-development/route.ts
Owners: @backend-team

Fix: Replace courseEnrollment with enrollment model to match Prisma schema
  src/app/api/professional-development/route.ts
Owners: @backend-team

Fix: Add CourseProgress model, update Certificate model, and fix Enrollment model
  prisma/migrations/20250522083600_add_course_progress_and_fix_enrollment/migration.sql
  prisma/schema.prisma
  src/app/api/professional-development/route.ts
Owners: @database-team, @backend-team

Fix: Add CourseProgress model, update Certificate model, and fix Enrollment model
  prisma/migrations/20250522083600_add_course_progress_and_fix_enrollment/migration.sql
  prisma/schema.prisma
  src/app/api/professional-development/route.ts
Owners: @database-team, @backend-team

Fix: Add CourseProgress model, update Certificate model, and fix Enrollment model
  prisma/migrations/20250522083600_add_course_progress_and_fix_enrollment/migration.sql
  prisma/schema.prisma
  src/app/api/professional-development/route.ts
Owners: @database-team, @backend-team

Add script to apply migration without database connection
  scripts/apply-migration.js
Owners: @DevOps-team

Add script to apply migration without database connection
  scripts/apply-migration.js
Owners: @DevOps-team

Add script to apply migration without database connection
  scripts/apply-migration.js
Owners: @DevOps-team

Fix: Add missing relation fields for CourseProgress model
  prisma/schema.prisma
Owners: @database-team

Fix: Add missing relation fields for CourseProgress model
  prisma/schema.prisma
Owners: @database-team

Fix: Add missing relation fields for CourseProgress model
  prisma/schema.prisma
Owners: @database-team

Fix: Update build script to use apply-migration.js instead of prisma migrate deploy
  package.json
Owners: @DevOps-team

Fix: Update build script to use apply-migration.js instead of prisma migrate deploy
  package.json
Owners: @DevOps-team

Fix: Update build script to use apply-migration.js instead of prisma migrate deploy
  package.json
Owners: @DevOps-team

Add LearningDifferenceProfile model to fix TypeScript error in learning-differences/assessment route
  prisma/migrations/20250522102900_add_learning_difference_profile/migration.sql
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/schema.prisma
  scripts/apply-migration.js
Owners: @database-team, @DevOps-team

Add LearningDifferenceProfile model to fix TypeScript error in learning-differences/assessment route
  prisma/migrations/20250522102900_add_learning_difference_profile/migration.sql
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/schema.prisma
  scripts/apply-migration.js
Owners: @database-team, @DevOps-team

Add LearningDifferenceProfile model to fix TypeScript error in learning-differences/assessment route
  prisma/migrations/20250522102900_add_learning_difference_profile/migration.sql
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/schema.prisma
  scripts/apply-migration.js
Owners: @database-team, @DevOps-team

Fix LearningDifferenceProfile creation in route.ts by adding default assessmentResults
  src/app/api/special-needs/learning-differences/route.ts
Owners: @special-needs-team

Fix LearningDifferenceProfile creation in route.ts by adding default assessmentResults
  src/app/api/special-needs/learning-differences/route.ts
Owners: @special-needs-team

Fix LearningDifferenceProfile creation in route.ts by adding default assessmentResults
  src/app/api/special-needs/learning-differences/route.ts
Owners: @special-needs-team

Add mindfulness models to fix mindfulness/route.ts TypeScript errors
  prisma/migrations/20250522104500_add_mindfulness_models/migration.sql
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  prisma/schema.prisma
  scripts/apply-migration.js
  src/lib/db.ts
Owners: @database-team, @DevOps-team

Add mindfulness models to fix mindfulness/route.ts TypeScript errors
  prisma/migrations/20250522104500_add_mindfulness_models/migration.sql
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  prisma/schema.prisma
  scripts/apply-migration.js
  src/lib/db.ts
Owners: @database-team, @DevOps-team

Add mindfulness models to fix mindfulness/route.ts TypeScript errors
  prisma/migrations/20250522104500_add_mindfulness_models/migration.sql
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  prisma/schema.prisma
  scripts/apply-migration.js
  src/lib/db.ts
Owners: @database-team, @DevOps-team

Fix TypeScript error in mindfulness/route.ts by adding optional chaining for details property
  src/app/api/special-needs/mindfulness/route.ts
Owners: @special-needs-team

Fix TypeScript error in mindfulness/route.ts by adding optional chaining for details property
  src/app/api/special-needs/mindfulness/route.ts
Owners: @special-needs-team

Fix TypeScript error in mindfulness/route.ts by adding optional chaining for details property
  src/app/api/special-needs/mindfulness/route.ts
Owners: @special-needs-team

Fix TypeScript error in strategy-recommendations/route.ts by adding optional chaining for details property
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @special-needs-team

Fix TypeScript error in strategy-recommendations/route.ts by adding optional chaining for details property
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @special-needs-team

Fix TypeScript error in strategy-recommendations/route.ts by adding optional chaining for details property
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
Owners: @special-needs-team

Fix TypeScript errors by adding optional chaining and type assertions
  src/app/api/ai/adaptive-complexity/route.ts
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/ai/multi-modal-content/route.ts
  src/app/api/ai/progress-pacing/route.ts
  src/app/api/educator/lesson-planning/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  src/app/api/special-needs/teacher-alerts/route.ts
Owners: @ai-team, @backend-team, @special-needs-team

Fix TypeScript errors by adding optional chaining and type assertions
  src/app/api/ai/adaptive-complexity/route.ts
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/ai/multi-modal-content/route.ts
  src/app/api/ai/progress-pacing/route.ts
  src/app/api/educator/lesson-planning/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  src/app/api/special-needs/teacher-alerts/route.ts
Owners: @ai-team, @backend-team, @special-needs-team

Fix TypeScript errors by adding optional chaining and type assertions
  src/app/api/ai/adaptive-complexity/route.ts
  src/app/api/ai/curriculum-differentiation/route.ts
  src/app/api/ai/multi-modal-content/route.ts
  src/app/api/ai/progress-pacing/route.ts
  src/app/api/educator/lesson-planning/route.ts
  src/app/api/special-needs/emotional-regulation/strategy-recommendations/route.ts
  src/app/api/special-needs/intervention-analytics/data/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  src/app/api/special-needs/teacher-alerts/route.ts
Owners: @ai-team, @backend-team, @special-needs-team

Fix TypeScript errors by adding type guards and null coalescing
  changes-summary.md
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  src/app/api/blog/posts/route.ts
  src/app/api/educator/lesson-planning/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  todo.md
Owners: @documentation-team, @database-team, @backend-team, @special-needs-team

Fix TypeScript errors by adding type guards and null coalescing
  changes-summary.md
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  src/app/api/blog/posts/route.ts
  src/app/api/educator/lesson-planning/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  todo.md
Owners: @documentation-team, @database-team, @backend-team, @special-needs-team

Fix TypeScript errors by adding type guards and null coalescing
  changes-summary.md
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  src/app/api/blog/posts/route.ts
  src/app/api/educator/lesson-planning/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  todo.md
Owners: @documentation-team, @database-team, @backend-team, @special-needs-team

Add comprehensive error report documenting all TypeScript and Prisma schema issues
  comprehensive-error-report.md
Owners: @documentation-team

Add comprehensive error report documenting all TypeScript and Prisma schema issues
  comprehensive-error-report.md
Owners: @documentation-team

Add comprehensive error report documenting all TypeScript and Prisma schema issues
  comprehensive-error-report.md
Owners: @documentation-team

Fix TypeScript null safety errors and optional chaining issues
  prisma/migrations/20250522121800_add_communication_models/migration.sql
  prisma/migrations/_applied/20250522083600_add_course_progress_and_fix_enrollment.toml
  prisma/migrations/_applied/20250522084500_add_certificate_course_relation.toml
  prisma/migrations/_applied/20250522085400_add_webinar_models.toml
  prisma/migrations/_applied/20250522085700_add_teaching_resource_model.toml
  prisma/migrations/_applied/20250522090000_add_restorative_justice_models.toml
  prisma/migrations/_applied/20250522090300_add_circle_template_model.toml
  prisma/migrations/_applied/20250522090600_add_community_building_models.toml
  prisma/migrations/_applied/20250522090900_add_parent_education_models.toml
  prisma/migrations/_applied/20250522091200_add_reflection_prompts_model.toml
  prisma/migrations/_applied/20250522091500_add_restorative_training_models.toml
  prisma/migrations/_applied/20250522092700_add_restorative_training_resources.toml
  prisma/migrations/_applied/20250522092920_add_duration_and_level_to_training_module.toml
  prisma/migrations/_applied/20250522093140_add_type_and_duration_to_training_section.toml
  prisma/migrations/_applied/20250522093350_add_restorative_training_quiz_attempt.toml
  prisma/migrations/_applied/20250522102900_add_learning_difference_profile.toml
  prisma/migrations/_applied/20250522104500_add_mindfulness_models.toml
  prisma/migrations/_applied/20250522121800_add_communication_models.toml
  prisma/schema.prisma
  src/app/api/blog/posts/route.ts
  src/app/api/educator/lesson-planning/route.ts
  src/app/api/special-needs/mindfulness/route.ts
  src/app/api/special-needs/parent-teacher-communication/meetings/route.ts
Owners: @database-team, @backend-team, @special-needs-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
