Repository DrSI-P/EdPsych-AI-Education-Platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrSI-P, @lead-developer, @frontend-team, @backend-team, @ai-team, @database-team, @security-team, @DevOps-team, @documentation-team, @testing-team, @special-needs-team, @accessibility-team

Fix TypeScript syntax errors in curriculum-alignment-checker.tsx with line-by-line approach
  fix_curriculum_alignment_checker.py
  src/components/content-creation/curriculum-alignment-checker.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in contextual-resource-recommendation.tsx and add fix scripts
  fix_contextual_resource_recommendation.py
  fix_contextual_resource_recommendation_advanced.py
  src/components/resource/contextual-resource-recommendation.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in contextual-resource-recommendation.tsx and add fix scripts
  fix_contextual_resource_recommendation.py
  fix_contextual_resource_recommendation_advanced.py
  src/components/resource/contextual-resource-recommendation.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in multiple files: guidanceTypes.ts, multilingual-curriculum-validator.tsx, assessment-module.tsx
  fix_assessment_module.py
  fix_guidance_types.py
  fix_multilingual_curriculum_validator.py
  src/components/assessment/assessment-module.tsx
  src/components/i18n/multilingual-curriculum-validator.tsx
  src/lib/ai/guidanceTypes.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @ai-team, @documentation-team

Fix TypeScript errors in multiple files: guidanceTypes.ts, multilingual-curriculum-validator.tsx, assessment-module.tsx
  fix_assessment_module.py
  fix_guidance_types.py
  fix_multilingual_curriculum_validator.py
  src/components/assessment/assessment-module.tsx
  src/components/i18n/multilingual-curriculum-validator.tsx
  src/lib/ai/guidanceTypes.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @ai-team, @documentation-team

Fix TypeScript errors in multiple files: community-building-activities.tsx, pattern-recognition/route.ts, ProgressTracking.tsx
  fix_community_building_activities.py
  fix_pattern_recognition_route.py
  fix_progress_tracking.py
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/components/restorative-justice/community-building/community-building-activities.tsx
  src/components/ui/ProgressTracking.tsx
  todo.md
Owners: @DrSI-P, @special-needs-team, @frontend-team, @documentation-team

Fix TypeScript errors in multiple files: community-building-activities.tsx, pattern-recognition/route.ts, ProgressTracking.tsx
  fix_community_building_activities.py
  fix_pattern_recognition_route.py
  fix_progress_tracking.py
  src/app/api/special-needs/emotional-regulation/pattern-recognition/route.ts
  src/components/restorative-justice/community-building/community-building-activities.tsx
  src/components/ui/ProgressTracking.tsx
  todo.md
Owners: @DrSI-P, @special-needs-team, @frontend-team, @documentation-team

Fix TypeScript errors in i18n-utils.tsx, openai-service.ts, and screen-reader-optimization-engine.tsx
  fix_i18n_utils.py
  fix_openai_service.py
  fix_screen_reader_optimization_engine.py
  src/components/ai/accessibility/screen-reader-optimization-engine.tsx
  src/lib/ai/openai-service.ts
  src/lib/i18n-utils.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @ai-team, @backend-team, @documentation-team

Fix TypeScript errors in i18n-utils.tsx, openai-service.ts, and screen-reader-optimization-engine.tsx
  fix_i18n_utils.py
  fix_openai_service.py
  fix_screen_reader_optimization_engine.py
  src/components/ai/accessibility/screen-reader-optimization-engine.tsx
  src/lib/ai/openai-service.ts
  src/lib/i18n-utils.tsx
  todo.md
Owners: @DrSI-P, @frontend-team, @ai-team, @backend-team, @documentation-team

Fix TypeScript errors in multiple files: db-utils.ts, guidanceService.ts, video-library.tsx
  fix_db_utils.py
  fix_guidance_service.py
  fix_video_library.py
  src/components/avatar/video-library.tsx
  src/lib/ai/guidanceService.ts
  src/lib/db-utils.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @ai-team, @backend-team, @documentation-team

Fix TypeScript errors in multiple files: db-utils.ts, guidanceService.ts, video-library.tsx
  fix_db_utils.py
  fix_guidance_service.py
  fix_video_library.py
  src/components/avatar/video-library.tsx
  src/lib/ai/guidanceService.ts
  src/lib/db-utils.ts
  todo.md
Owners: @DrSI-P, @frontend-team, @ai-team, @backend-team, @documentation-team

Fix TypeScript errors in resources/route.ts and submit/route.ts
  fix_resources_route.py
  fix_submit_route.py
  src/app/api/assessment/[id]/submit/route.ts
  src/app/api/resources/route.ts
  todo.md
Owners: @DrSI-P, @backend-team, @documentation-team

Fix TypeScript errors in resources/route.ts and submit/route.ts
  fix_resources_route.py
  fix_submit_route.py
  src/app/api/assessment/[id]/submit/route.ts
  src/app/api/resources/route.ts
  todo.md
Owners: @DrSI-P, @backend-team, @documentation-team

Fix TypeScript configuration and module resolution issues, and begin file-specific fixes
  .env
  .npmrc
  src/lib/db-maintenance.ts
  src/lib/learning-utils.tsx
  src/types/lib/db-utils.d.ts
  src/types/lib/validation.d.ts
  tsconfig.json
Owners: @DrSI-P, @backend-team, @DevOps-team

Fix TypeScript configuration and module resolution issues, and begin file-specific fixes
  .npmrc
  src/lib/db-maintenance.ts
  src/lib/learning-utils.tsx
  src/types/lib/db-utils.d.ts
  src/types/lib/validation.d.ts
  tsconfig.json
Owners: @DrSI-P, @backend-team, @DevOps-team

Fix TypeScript errors in multiple components: responsive-layout.tsx, age-appropriate-reflection-prompts.tsx, InteractiveGuidance.tsx
  src/components/mobile/responsive-layout.tsx
  src/components/restorative-justice/reflection-prompts/age-appropriate-reflection-prompts.tsx
  src/components/ui/InteractiveGuidance.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in multiple components: responsive-layout.tsx, age-appropriate-reflection-prompts.tsx, InteractiveGuidance.tsx
  src/components/mobile/responsive-layout.tsx
  src/components/restorative-justice/reflection-prompts/age-appropriate-reflection-prompts.tsx
  src/components/ui/InteractiveGuidance.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in blog-service.ts: replace any[] types with specific string[] types
  src/lib/blog/blog-service.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in blog-service.ts: replace any[] types with specific string[] types
  src/lib/blog/blog-service.ts
Owners: @DrSI-P, @backend-team

Fix TypeScript errors in ai-avatar/types.ts: correct string escape syntax in enum values
  src/components/ai-avatar/types.ts
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in ai-avatar/types.ts: correct string escape syntax in enum values
  src/components/ai-avatar/types.ts
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in ai-powered-assessment/page.tsx: correct type definitions and string escaping
  src/app/innovations/ai-powered-assessment/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript errors in ai-powered-assessment/page.tsx: correct type definitions and string escaping
  src/app/innovations/ai-powered-assessment/page.tsx
Owners: @DrSI-P, @lead-developer

Fix TypeScript errors in learning-style-assessment.tsx: replace any[] with specific types
  src/components/ai/learning-style/learning-style-assessment.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in learning-style-assessment.tsx: replace any[] with specific types
  src/components/ai/learning-style/learning-style-assessment.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in assessment-creator.tsx: add proper type annotations to function parameters
  src/components/assessment/assessment-creator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in assessment-creator.tsx: add proper type annotations to function parameters
  src/components/assessment/assessment-creator.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in assessment-module.tsx: replace 'any' type with specific union type
  src/components/assessment/assessment-module.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in assessment-module.tsx: replace 'any' type with specific union type
  src/components/assessment/assessment-module.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in embedding/route.ts: correct malformed type definition in AIEmbeddingRequest interface
  src/app/api/ai/embedding/route.ts
Owners: @ai-team

Fix TypeScript error in embedding/route.ts: correct malformed type definition in AIEmbeddingRequest interface
  src/app/api/ai/embedding/route.ts
Owners: @ai-team

Fix TypeScript error in grade/route.ts: correct malformed type cast syntax
  src/app/api/assessment/response/[id]/grade/route.ts
Owners: @backend-team

Fix TypeScript error in grade/route.ts: correct malformed type cast syntax
  src/app/api/assessment/response/[id]/grade/route.ts
Owners: @backend-team

Fix TypeScript error in adventure-quest-saga-adaptive.tsx: correct objectives array type definition
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-adaptive.tsx: correct objectives array type definition
  src/components/adventure-quest/adventure-quest-saga-adaptive.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-integrated.tsx: correct objectives array type definition
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga-integrated.tsx: correct objectives array type definition
  src/components/adventure-quest/adventure-quest-saga-integrated.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga.tsx: correct objectives array type definition
  src/components/adventure-quest/adventure-quest-saga.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript error in adventure-quest-saga.tsx: correct objectives array type definition
  src/components/adventure-quest/adventure-quest-saga.tsx
Owners: @DrSI-P, @frontend-team

Fix TypeScript errors in character-creation.tsx: correct options type and arrow function syntax
  src/components/adventure-quest/character-creation.tsx
Owners: @DrSI-P, @frontend-team

.github/CODEOWNERS:

# This is a CODEOWNERS file for the EdPsych-AI-Education-Platform repository
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# These owners will be the default owners for everything in the repo
* @DrSI-P

# Core application code
/src/app/ @DrSI-P @lead-developer
/src/components/ @DrSI-P @frontend-team
/src/lib/ @DrSI-P @backend-team

# API routes
/src/app/api/ @backend-team

# AI integration
/src/app/api/ai/ @ai-team
/src/lib/ai/ @ai-team

# Database and Prisma
/prisma/ @database-team
/src/lib/db.ts @database-team
/src/lib/prisma.ts @database-team

# Authentication
/src/app/api/auth/ @security-team
/src/lib/auth.ts @security-team

# Configuration files
*.json @DevOps-team
*.yml @DevOps-team
*.yaml @DevOps-team
/vercel.json @DevOps-team

# CI/CD and GitHub Actions
/.github/ @DevOps-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Testing
/tests/ @testing-team
/src/**/*.test.ts @testing-team
/src/**/*.test.tsx @testing-team

# Special educational needs features
/src/app/special-needs/ @special-needs-team
/src/app/api/special-needs/ @special-needs-team

# Accessibility
/src/app/accessibility/ @accessibility-team
/src/lib/accessibility/ @accessibility-team

# Deployment and infrastructure
/scripts/ @DevOps-team
